In [1]:
# ~ The Connection ~ #

import pandas as pd
import psycopg2

#establishing the connection
conn = psycopg2.connect(
    database="puptrail", 
    user='dw_chancewiese',
    password='Spikeball2020',
    host='database-1.czsooswggscz.us-east-2.rds.amazonaws.com',
    port='5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Executing an MYSQL function using the execute() method
cursor.execute("select version()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Connection established to: ",data)

Connection established to:  ('PostgreSQL 16.3 on aarch64-unknown-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-6), 64-bit',)

In [3]:
# Table Creation! #

# Customer Table
query = '''CREATE TABLE IF NOT EXISTS customer (
            custid INT PRIMARY KEY,
            custfname VARCHAR(100) NOT NULL,
            custlname VARCHAR(100) NOT NULL,
            custphone VARCHAR(14),
            custemail VARCHAR(255),
            custstate CHAR(2),
            contactpref VARCHAR(10),
            pmtid VARCHAR(20),
            addedstamp TIMESTAMP NOT NULL,
            updatedstamp TIMESTAMP,
            hhi INT,
            ismarried CHAR(1),
            haskids CHAR(1),
            travelswpet CHAR(1),
            pronoun VARCHAR(20)
        );'''

cursor.execute(query)
conn.commit()

In [5]:
# Oline Table
query = '''CREATE TABLE IF NOT EXISTS oline (
            olid SERIAL PRIMARY KEY,
            orderid INT,
            productid INT NOT NULL,
            lineqty SMALLINT NOT NULL,
            lineprice NUMERIC(10,2) NOT NULL,
            linetotal NUMERIC(10,2) NOT NULL,
            builtdate DATE,
            promisedate DATE,
            deldate DATE)'''

cursor.execute(query)
conn.commit()

In [7]:
# Pricelog Table
query = '''CREATE TABLE IF NOT EXISTS pricelog (
        priceid SERIAL PRIMARY KEY,
        prodid INT NOT NULL,
        theprice NUMERIC(10,2) NOT NULL,
        startdate DATE,
        approver VARCHAR(50),
        approvedate DATE)
        '''

cursor.execute(query)
conn.commit()

In [9]:
# Prodcat Table
query = '''CREATE TABLE IF NOT EXISTS prodcat(
        catid INT PRIMARY KEY,
        category VARCHAR(50) NOT NULL,
        catdesc TEXT)'''

cursor.execute(query)
conn.commit()

In [11]:
# product table
query = '''CREATE TABLE IF NOT EXISTS product(
        prodid INT PRIMARY KEY,
        catid INT,
        sourceid INT,
        prodname VARCHAR(100) NOT NULL,
        msrp NUMERIC(10,2),
        proddesc TEXT,
        leadtime SMALLINT,
        qtyoh SMALLINT,
        startdate DATE,
        enddate DATE,
        rolevel SMALLINT)'''

cursor.execute(query)
conn.commit()

In [13]:
#SALESORDER TABLE
query = '''CREATE TABLE IF NOT EXISTS salesorder (
        orderid INT PRIMARY KEY,
        custid INT NOT NULL,
        sellerid INT,
        odate DATE NOT NULL,
        ototal NUMERIC(10,2),
        ordsatisfac SMALLINT,
        delsatisfac SMALLINT)'''

cursor.execute(query)
conn.commit()

In [15]:
#Salesperson Table
query = '''CREATE TABLE IF NOT EXISTS salesperson (
        spid INT PRIMARY KEY,
        siteid CHAR(2),
        spfname VARCHAR(50) NOT NULL,
        splname VARCHAR(50) NOT NULL,
        startdate DATE,
        termdate DATE)'''

cursor.execute(query)
conn.commit()

In [17]:
#Site Table
query = '''CREATE TABLE IF NOT EXISTS site (
        siteid CHAR(2) PRIMARY KEY,
        sitename VARCHAR(50) NOT NULL)'''

cursor.execute(query)
conn.commit()

In [19]:
#Vendor Table
query = '''CREATE TABLE IF NOT EXISTS vendor (
        vendorid SERIAL PRIMARY KEY,
        vendorname VARCHAR(100) NOT NULL,
        contactname VARCHAR(100))'''

cursor.execute(query)
conn.commit()

In [21]:
# Populating!!! #

# Site Table

import pandas as pd

df = pd.read_csv('site.csv')
print(df)

for x in df.index:
    
    cursor.execute("""
        INSERT INTO Site (siteid, sitename)
        VALUES ('%s', '%s')
    """ % (df.loc[x]['SiteID'],
          df.loc[x]['SiteName']))
    
#    query = query + "'" + df.loc[x]['CorgName'] ');'"
    
    conn.commit()

cursor.execute("""SELECT * FROM site""")

for x in cursor:
    print(x)

  SiteID        SiteName
0     SL  Salt Lake City
1     BO           Boise
2     PH         Phoenix
('SL', 'Salt Lake City')
('BO', 'Boise')
('PH', 'Phoenix')

In [23]:
# The Salesperson Table
# Make sure there's no SPID in the .csv before loading! *Or maybe not...*

import psycopg2
import numpy as np
#conn.close()


df = pd.read_csv('salesperson.csv')
df.replace(to_replace=np.nan, value='NULL', inplace=True)
print(df)

for x in df.index:
    
    if df.loc[x]['TermDate'] == 'NULL':
        termdate = 'NULL'
    else:
        termdate = "'"+df.loc[x]['TermDate']+"'"
    
    cursor.execute("""
        INSERT INTO salesperson (spid,siteid,spfname,splname,startdate,termdate)
        VALUES (%s, '%s','%s','%s','%s',%s)
    """ % (df.loc[x]['SPID'],
          df.loc[x]['SiteID'],
          df.loc[x]['Spfname'],
          df.loc[x]['Splname'],
          df.loc[x]['StartDate'],
          termdate))
    
    conn.commit()
    
cursor.execute("""SELECT * FROM salesperson""")

for x in cursor:
    print(x)

    SPID SiteID   Spfname     Splname   StartDate    TermDate
0      1     SL    Archie      Dinesh  2021-01-01        NULL
1      2     SL  Margaret       Jason  2021-01-01  2021-04-08
2      3     SL    Maryla    Kunibert  2021-01-01        NULL
3      4     BO   Joachim       Gauri  2021-01-01  2021-02-14
4      5     BO    Kymani       Melia  2021-01-01  2021-09-08
5      6     BO   Roksana     Antonia  2021-01-01        NULL
6      7     BO    Shayan      Hewitt  2021-03-08        NULL
7      8     SL   Milburn       Guido  2021-05-12        NULL
8      9     PH     Robby        Lexy  2021-06-13        NULL
9     10     PH     Trudy       Allen  2021-06-15  2021-07-30
10    11     PH     Andre       Clare  2021-07-09        NULL
11    12     SL   Alberto       Dimas  2021-08-15        NULL
12    13     PH    Bethel      Derick  2021-08-18        NULL
13    14     BO     Kelan      Fowler  2021-11-13        NULL
14    15     PH      Miah  Wittington  2021-12-09        NULL
(1, 'SL', 'Archie', 'Dinesh', datetime.date(2021, 1, 1), None)
(2, 'SL', 'Margaret', 'Jason', datetime.date(2021, 1, 1), datetime.date(2021, 4, 8))
(3, 'SL', 'Maryla', 'Kunibert', datetime.date(2021, 1, 1), None)
(4, 'BO', 'Joachim', 'Gauri', datetime.date(2021, 1, 1), datetime.date(2021, 2, 14))
(5, 'BO', 'Kymani', 'Melia', datetime.date(2021, 1, 1), datetime.date(2021, 9, 8))
(6, 'BO', 'Roksana', 'Antonia', datetime.date(2021, 1, 1), None)
(7, 'BO', 'Shayan', 'Hewitt', datetime.date(2021, 3, 8), None)
(8, 'SL', 'Milburn', 'Guido', datetime.date(2021, 5, 12), None)
(9, 'PH', 'Robby', 'Lexy', datetime.date(2021, 6, 13), None)
(10, 'PH', 'Trudy', 'Allen', datetime.date(2021, 6, 15), datetime.date(2021, 7, 30))
(11, 'PH', 'Andre', 'Clare', datetime.date(2021, 7, 9), None)
(12, 'SL', 'Alberto', 'Dimas', datetime.date(2021, 8, 15), None)
(13, 'PH', 'Bethel', 'Derick', datetime.date(2021, 8, 18), None)
(14, 'BO', 'Kelan', 'Fowler', datetime.date(2021, 11, 13), None)
(15, 'PH', 'Miah', 'Wittington', datetime.date(2021, 12, 9), None)

In [25]:
# The Order Table
# Retain the orderid that you created


#df = pd.read_csv('order.csv')
infile = open('salesorder.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:
        y = x.split(',')
        
        satis = 'NULL'
        deliv = 'NULL'
        
        if (len(y[5]) > 0):
            satis = y[5]
        try:
            y[6] = int(y[6])
            deliv = y[6]
        except:
            pass
        
# This is for dates that might or might not be null.
#        if len(y[4]) > 1: 
#            y[4] = "'" + y[4] + "'"
#        else:
#            y[4] = 'NULL' # THIS PART IS IMPORTANT!!

        query = """INSERT INTO SalesOrder (orderid, custid, 
                        sellerid, odate, ototal, ordsatisfac, delsatisfac)
                   VALUES (%s,%s,%s,'%s',%s,%s,%s);""" % (y[0],y[1],y[2],y[3],y[4],satis,deliv)
           

        cursor.execute(query)
        
        conn.commit()
        
infile.close()

cursor.execute("SELECT * FROM salesorder;")
for x in cursor:
    print(x)

(28448, 3312, 11, datetime.date(2022, 1, 1), Decimal('88.90'), None, None)
(28449, 3313, 7, datetime.date(2022, 1, 1), Decimal('25083.90'), 3, 5)
(28450, 3314, 8, datetime.date(2022, 1, 1), Decimal('26504.80'), 5, 5)
(28451, 3315, 3, datetime.date(2022, 1, 1), Decimal('19439.00'), 4, 5)
(28452, 3316, 1, datetime.date(2022, 1, 1), Decimal('17995.00'), 5, 5)
(28453, 3317, 1, datetime.date(2022, 1, 1), Decimal('14.85'), None, None)
(28454, 3318, 6, datetime.date(2022, 1, 1), Decimal('26227.00'), 5, 4)
(28455, 3319, 1, datetime.date(2022, 1, 1), Decimal('18782.90'), 2, 5)
(28456, 3320, 11, datetime.date(2022, 1, 1), Decimal('18444.00'), 5, 5)
(28457, 3321, 13, datetime.date(2022, 1, 1), Decimal('24.75'), None, None)
(28458, 3322, 12, datetime.date(2022, 1, 1), Decimal('30763.00'), 5, 4)
(28459, 3323, 14, datetime.date(2022, 1, 1), Decimal('79.00'), None, None)
(28460, 3324, 6, datetime.date(2022, 1, 1), Decimal('27703.80'), 5, 5)
(28461, 3325, 8, datetime.date(2022, 1, 2), Decimal('30064.00'), 5, 4)
(28462, 3326, 3, datetime.date(2022, 1, 2), Decimal('25444.00'), 5, 5)
(28463, 3327, 6, datetime.date(2022, 1, 2), Decimal('26448.90'), 5, 4)
(28464, 3328, 8, datetime.date(2022, 1, 2), Decimal('29143.00'), 5, 5)
(28465, 3329, 15, datetime.date(2022, 1, 2), Decimal('17995.00'), 2, 5)
(28466, 3330, 8, datetime.date(2022, 1, 2), Decimal('25444.00'), 5, 4)
(28467, 3331, 6, datetime.date(2022, 1, 2), Decimal('18694.00'), 5, 5)
(28468, 3332, 7, datetime.date(2022, 1, 2), Decimal('25490.00'), 5, 5)
(28469, 3333, 13, datetime.date(2022, 1, 2), Decimal('18074.00'), 5, 5)
(28470, 3334, 7, datetime.date(2022, 1, 2), Decimal('20064.00'), 5, 4)
(28471, 3335, 7, datetime.date(2022, 1, 2), Decimal('18990.00'), 5, 5)
(28472, 3336, 13, datetime.date(2022, 1, 2), Decimal('18019.75'), 5, 5)
(28473, 3337, 8, datetime.date(2022, 1, 2), Decimal('19638.00'), 4, 5)
(28474, 3338, 7, datetime.date(2022, 1, 2), Decimal('27499.80'), 5, 5)
(28475, 3339, 6, datetime.date(2022, 1, 2), Decimal('20703.80'), 5, 4)
(28476, 3340, 13, datetime.date(2022, 1, 2), Decimal('29143.00'), 5, 5)
(28477, 3342, 7, datetime.date(2022, 1, 2), Decimal('25999.90'), 5, 1)
(28478, 3343, 1, datetime.date(2022, 1, 2), Decimal('26485.00'), 3, 5)
(28479, 3345, 3, datetime.date(2022, 1, 3), Decimal('29458.80'), 2, 1)
(28480, 3346, 14, datetime.date(2022, 1, 4), Decimal('28990.00'), 2, 1)
(28481, 3347, 3, datetime.date(2022, 1, 4), Decimal('30241.80'), 5, 5)
(28482, 3348, 11, datetime.date(2022, 1, 4), Decimal('18708.85'), 5, 5)
(28483, 3349, 3, datetime.date(2022, 1, 4), Decimal('18083.90'), 5, 5)
(28484, 3350, 11, datetime.date(2022, 1, 4), Decimal('20685.85'), 5, 1)
(28485, 3351, 14, datetime.date(2022, 1, 4), Decimal('34.65'), None, None)
(28486, 3353, 8, datetime.date(2022, 1, 5), Decimal('19014.75'), 5, 5)
(28487, 3354, 14, datetime.date(2022, 1, 5), Decimal('18990.00'), 4, 5)
(28488, 3355, 14, datetime.date(2022, 1, 5), Decimal('25004.90'), 5, 2)
(28489, 3356, 11, datetime.date(2022, 1, 5), Decimal('28999.90'), 5, 3)
(28490, 3358, 6, datetime.date(2022, 1, 6), Decimal('18773.00'), 5, 5)
(28491, 3359, 8, datetime.date(2022, 1, 6), Decimal('26499.85'), 5, 5)
(28492, 3360, 8, datetime.date(2022, 1, 6), Decimal('19542.75'), 5, 2)
(28493, 3361, 11, datetime.date(2022, 1, 6), Decimal('29718.70'), 5, 1)
(28494, 3362, 14, datetime.date(2022, 1, 7), Decimal('25990.00'), 3, 4)
(28495, 3363, 14, datetime.date(2022, 1, 7), Decimal('26468.70'), 5, 5)
(28496, 3365, 13, datetime.date(2022, 1, 7), Decimal('28523.00'), 3, 4)
(28497, 3366, 8, datetime.date(2022, 1, 7), Decimal('18444.00'), 5, 5)
(28498, 3367, 13, datetime.date(2022, 1, 8), Decimal('18014.80'), 3, 3)
(28499, 3368, 8, datetime.date(2022, 1, 8), Decimal('26042.75'), 5, 5)
(28500, 3369, 15, datetime.date(2022, 1, 8), Decimal('79.00'), None, None)
(28501, 3370, 15, datetime.date(2022, 1, 8), Decimal('25990.00'), 5, 5)
(28502, 3371, 8, datetime.date(2022, 1, 8), Decimal('18871.80'), 5, 5)
(28503, 3372, 7, datetime.date(2022, 1, 8), Decimal('18444.00'), 5, 5)
(28504, 3373, 12, datetime.date(2022, 1, 8), Decimal('79.00'), None, None)
(28505, 3374, 14, datetime.date(2022, 1, 8), Decimal('19458.80'), 3, 2)
(28506, 3376, 11, datetime.date(2022, 1, 8), Decimal('29162.80'), 5, 3)
(28507, 3377, 13, datetime.date(2022, 1, 8), Decimal('18802.70'), 3, 2)
(28508, 3378, 9, datetime.date(2022, 1, 8), Decimal('26014.75'), 5, 2)
(28509, 3379, 9, datetime.date(2022, 1, 8), Decimal('26439.00'), 4, 5)
(28510, 3380, 14, datetime.date(2022, 1, 8), Decimal('19004.85'), 5, 5)
(28511, 3381, 11, datetime.date(2022, 1, 8), Decimal('25029.65'), 5, 4)
(28512, 3382, 1, datetime.date(2022, 1, 8), Decimal('25698.95'), 5, 5)
(28513, 3383, 6, datetime.date(2022, 1, 8), Decimal('26985.00'), 5, 2)
(28514, 3384, 9, datetime.date(2022, 1, 8), Decimal('29236.85'), 5, 1)
(28515, 3385, 9, datetime.date(2022, 1, 8), Decimal('29439.00'), 5, 5)
(28516, 3386, 1, datetime.date(2022, 1, 8), Decimal('20434.00'), 5, 5)
(28517, 3387, 13, datetime.date(2022, 1, 8), Decimal('19.80'), None, None)
(28518, 3388, 11, datetime.date(2022, 1, 8), Decimal('20236.80'), 5, 1)
(28519, 3389, 8, datetime.date(2022, 1, 8), Decimal('19703.85'), 5, 5)
(28520, 3390, 12, datetime.date(2022, 1, 9), Decimal('18990.00'), 4, 5)
(28521, 3391, 7, datetime.date(2022, 1, 9), Decimal('18939.00'), 4, 5)
(28522, 3392, 9, datetime.date(2022, 1, 9), Decimal('28773.00'), 5, 3)
(28523, 3394, 1, datetime.date(2022, 1, 9), Decimal('29009.80'), 5, 1)
(28524, 3395, 1, datetime.date(2022, 1, 9), Decimal('26499.85'), 5, 5)
(28525, 3396, 12, datetime.date(2022, 1, 9), Decimal('26689.00'), 5, 3)
(28526, 3397, 7, datetime.date(2022, 1, 9), Decimal('29231.95'), 5, 5)
(28527, 3398, 7, datetime.date(2022, 1, 9), Decimal('29985.00'), 5, 5)
(28528, 3399, 1, datetime.date(2022, 1, 9), Decimal('24.75'), None, None)
(28529, 3400, 7, datetime.date(2022, 1, 10), Decimal('26439.00'), 5, 5)
(28530, 3401, 12, datetime.date(2022, 1, 10), Decimal('25093.80'), 5, 1)
(28531, 3402, 11, datetime.date(2022, 1, 11), Decimal('19723.65'), 5, 5)
(28532, 3403, 14, datetime.date(2022, 1, 11), Decimal('19019.70'), 5, 2)
(28533, 3404, 3, datetime.date(2022, 1, 11), Decimal('27184.00'), 4, 5)
(28534, 3405, 11, datetime.date(2022, 1, 11), Decimal('19009.80'), 5, 3)
(28535, 3406, 11, datetime.date(2022, 1, 11), Decimal('19453.85'), 4, 3)
(28536, 3407, 14, datetime.date(2022, 1, 11), Decimal('26985.00'), 4, 5)
(28537, 3408, 14, datetime.date(2022, 1, 11), Decimal('19014.75'), 3, 5)
(28538, 3410, 8, datetime.date(2022, 1, 12), Decimal('18444.00'), 5, 5)
(28539, 3411, 8, datetime.date(2022, 1, 12), Decimal('19504.80'), 3, 5)
(28540, 3412, 14, datetime.date(2022, 1, 12), Decimal('18093.80'), 3, 5)
(28541, 3413, 9, datetime.date(2022, 1, 13), Decimal('28523.00'), 5, 3)
(28542, 3414, 9, datetime.date(2022, 1, 13), Decimal('28172.80'), 5, 5)
(28543, 3415, 9, datetime.date(2022, 1, 13), Decimal('28014.80'), 3, 5)
(28544, 3416, 9, datetime.date(2022, 1, 13), Decimal('18074.00'), 3, 3)
(28545, 3417, 11, datetime.date(2022, 1, 13), Decimal('28014.80'), 4, 3)
(28546, 3418, 6, datetime.date(2022, 1, 13), Decimal('25713.80'), 5, 5)
(28547, 3419, 11, datetime.date(2022, 1, 14), Decimal('25708.85'), 5, 4)
(28548, 3420, 1, datetime.date(2022, 1, 14), Decimal('25713.80'), 3, 5)
(28549, 3421, 8, datetime.date(2022, 1, 14), Decimal('26208.80'), 5, 5)
(28550, 3422, 13, datetime.date(2022, 1, 14), Decimal('18074.00'), 5, 4)
(28551, 3423, 11, datetime.date(2022, 1, 14), Decimal('28552.70'), 5, 1)
(28552, 3424, 9, datetime.date(2022, 1, 14), Decimal('17995.00'), 5, 5)
(28553, 3425, 7, datetime.date(2022, 1, 14), Decimal('25552.70'), 2, 5)
(28554, 3426, 7, datetime.date(2022, 1, 14), Decimal('18990.00'), 3, 4)
(28555, 3428, 11, datetime.date(2022, 1, 14), Decimal('25990.00'), 2, 3)
(28556, 3429, 1, datetime.date(2022, 1, 15), Decimal('29162.80'), 5, 5)
(28557, 3430, 3, datetime.date(2022, 1, 15), Decimal('27032.80'), 5, 5)
(28558, 3431, 8, datetime.date(2022, 1, 15), Decimal('18727.00'), 5, 5)
(28559, 3432, 13, datetime.date(2022, 1, 15), Decimal('25153.00'), 5, 5)
(28560, 3433, 13, datetime.date(2022, 1, 15), Decimal('4.95'), None, None)
(28561, 3434, 3, datetime.date(2022, 1, 15), Decimal('25694.00'), 5, 5)
(28562, 3435, 1, datetime.date(2022, 1, 15), Decimal('28532.90'), 5, 5)
(28563, 3437, 11, datetime.date(2022, 1, 15), Decimal('27995.00'), 4, 1)
(28564, 3439, 1, datetime.date(2022, 1, 15), Decimal('28017.90'), 5, 5)
(28565, 3440, 14, datetime.date(2022, 1, 15), Decimal('79.00'), None, None)
(28566, 3441, 8, datetime.date(2022, 1, 15), Decimal('29958.75'), 5, 5)
(28567, 3442, 11, datetime.date(2022, 1, 15), Decimal('19718.70'), 3, 2)
(28568, 3443, 11, datetime.date(2022, 1, 15), Decimal('26009.80'), 5, 5)
(28569, 3444, 3, datetime.date(2022, 1, 15), Decimal('26439.00'), 5, 5)
(28570, 3445, 1, datetime.date(2022, 1, 15), Decimal('26485.00'), 5, 5)
(28571, 3446, 6, datetime.date(2022, 1, 15), Decimal('26439.00'), 5, 4)
(28572, 3447, 12, datetime.date(2022, 1, 15), Decimal('18694.00'), 2, 5)
(28573, 3448, 1, datetime.date(2022, 1, 15), Decimal('29537.80'), 5, 5)
(28574, 3449, 8, datetime.date(2022, 1, 15), Decimal('19703.85'), 5, 5)
(28575, 3450, 9, datetime.date(2022, 1, 15), Decimal('25694.00'), 5, 5)
(28576, 3451, 8, datetime.date(2022, 1, 16), Decimal('19019.70'), 5, 3)
(28577, 3452, 13, datetime.date(2022, 1, 16), Decimal('39.60'), None, None)
(28578, 3453, 6, datetime.date(2022, 1, 16), Decimal('25527.95'), 5, 5)
(28579, 3456, 13, datetime.date(2022, 1, 16), Decimal('27995.00'), 5, 1)
(28580, 3457, 6, datetime.date(2022, 1, 16), Decimal('30438.95'), 5, 5)
(28581, 3458, 8, datetime.date(2022, 1, 16), Decimal('19014.75'), 5, 5)
(28582, 3459, 7, datetime.date(2022, 1, 17), Decimal('17995.00'), 2, 3)
(28583, 3460, 3, datetime.date(2022, 1, 17), Decimal('30013.00'), 5, 5)
(28584, 3461, 3, datetime.date(2022, 1, 18), Decimal('17995.00'), 5, 5)
(28585, 3462, 14, datetime.date(2022, 1, 18), Decimal('26069.00'), 5, 2)
(28586, 3463, 11, datetime.date(2022, 1, 18), Decimal('30782.80'), 5, 4)
(28587, 3464, 11, datetime.date(2022, 1, 18), Decimal('28093.80'), 2, 5)
(28588, 3465, 14, datetime.date(2022, 1, 19), Decimal('29014.75'), 5, 5)
(28589, 3466, 11, datetime.date(2022, 1, 19), Decimal('29301.00'), 5, 2)
(28590, 3467, 11, datetime.date(2022, 1, 19), Decimal('19.80'), None, None)
(28591, 3468, 8, datetime.date(2022, 1, 19), Decimal('28444.00'), 5, 5)
(28592, 3469, 6, datetime.date(2022, 1, 19), Decimal('18098.75'), 1, 5)
(28593, 3470, 8, datetime.date(2022, 1, 20), Decimal('30480.00'), 5, 5)
(28594, 3471, 8, datetime.date(2022, 1, 20), Decimal('19797.70'), 5, 5)
(28595, 3472, 7, datetime.date(2022, 1, 20), Decimal('27014.70'), 1, 5)
(28596, 3473, 1, datetime.date(2022, 1, 20), Decimal('18990.00'), 5, 3)
(28597, 3474, 1, datetime.date(2022, 1, 20), Decimal('17995.00'), 5, 5)
(28598, 3475, 3, datetime.date(2022, 1, 21), Decimal('28147.85'), 5, 3)
(28599, 3476, 6, datetime.date(2022, 1, 21), Decimal('19083.85'), 5, 5)
(28600, 3477, 13, datetime.date(2022, 1, 21), Decimal('28797.75'), 4, 5)
(28601, 3478, 3, datetime.date(2022, 1, 21), Decimal('25963.75'), 5, 5)
(28602, 3479, 3, datetime.date(2022, 1, 21), Decimal('26004.85'), 5, 2)
(28603, 3481, 13, datetime.date(2022, 1, 21), Decimal('27167.70'), 5, 3)
(28604, 3482, 7, datetime.date(2022, 1, 21), Decimal('25098.75'), 5, 5)
(28605, 3483, 1, datetime.date(2022, 1, 21), Decimal('18088.85'), 2, 5)
(28606, 3484, 13, datetime.date(2022, 1, 21), Decimal('17995.00'), 1, 4)
(28607, 3486, 15, datetime.date(2022, 1, 22), Decimal('29689.00'), 5, 4)
(28608, 3487, 9, datetime.date(2022, 1, 22), Decimal('28694.00'), 5, 4)
(28609, 3488, 6, datetime.date(2022, 1, 22), Decimal('17995.00'), 1, 4)
(28610, 3489, 12, datetime.date(2022, 1, 22), Decimal('30592.00'), 5, 3)
(28611, 3490, 8, datetime.date(2022, 1, 22), Decimal('28198.80'), 5, 5)
(28612, 3491, 3, datetime.date(2022, 1, 22), Decimal('27537.75'), 5, 2)
(28613, 3492, 1, datetime.date(2022, 1, 22), Decimal('25473.70'), 5, 5)
(28614, 3493, 9, datetime.date(2022, 1, 22), Decimal('18773.00'), 5, 5)
(28615, 3494, 7, datetime.date(2022, 1, 22), Decimal('790.90'), None, None)
(28616, 3495, 3, datetime.date(2022, 1, 22), Decimal('28167.85'), 5, 5)
(28617, 3496, 1, datetime.date(2022, 1, 22), Decimal('26009.80'), 4, 5)
(28618, 3497, 15, datetime.date(2022, 1, 22), Decimal('18468.75'), 5, 5)
(28619, 3498, 7, datetime.date(2022, 1, 22), Decimal('18153.00'), 5, 3)
(28620, 3499, 1, datetime.date(2022, 1, 22), Decimal('19272.95'), 4, 5)
(28621, 3500, 1, datetime.date(2022, 1, 22), Decimal('26448.90'), 5, 5)
(28622, 3501, 9, datetime.date(2022, 1, 22), Decimal('103.75'), None, None)
(28623, 3503, 13, datetime.date(2022, 1, 22), Decimal('19024.65'), 5, 3)
(28624, 3504, 3, datetime.date(2022, 1, 22), Decimal('25593.75'), 1, 5)
(28625, 3505, 3, datetime.date(2022, 1, 23), Decimal('88.90'), None, None)
(28626, 3506, 3, datetime.date(2022, 1, 23), Decimal('25024.70'), 5, 3)
(28627, 3507, 9, datetime.date(2022, 1, 23), Decimal('25024.70'), 5, 5)
(28628, 3508, 8, datetime.date(2022, 1, 23), Decimal('26805.90'), 5, 5)
(28629, 3509, 1, datetime.date(2022, 1, 23), Decimal('26189.00'), 3, 5)
(28630, 3511, 3, datetime.date(2022, 1, 23), Decimal('27157.80'), 5, 3)
(28631, 3512, 3, datetime.date(2022, 1, 23), Decimal('26439.00'), 5, 5)
(28632, 3513, 7, datetime.date(2022, 1, 23), Decimal('18523.00'), 5, 5)
(28633, 3514, 15, datetime.date(2022, 1, 23), Decimal('25074.00'), 5, 5)
(28634, 3515, 6, datetime.date(2022, 1, 23), Decimal('26985.00'), 5, 5)
(28635, 3516, 13, datetime.date(2022, 1, 23), Decimal('27995.00'), 2, 4)
(28636, 3517, 12, datetime.date(2022, 1, 23), Decimal('30217.00'), 1, 1)
(28637, 3518, 3, datetime.date(2022, 1, 24), Decimal('25948.90'), 5, 4)
(28638, 3519, 3, datetime.date(2022, 1, 24), Decimal('26564.00'), 5, 5)
(28639, 3520, 14, datetime.date(2022, 1, 24), Decimal('27138.00'), 4, 4)
(28640, 3521, 14, datetime.date(2022, 1, 25), Decimal('19148.00'), 3, 4)
(28641, 3522, 11, datetime.date(2022, 1, 25), Decimal('19098.70'), 5, 3)
(28642, 3523, 11, datetime.date(2022, 1, 25), Decimal('18468.75'), 5, 4)
(28643, 3524, 14, datetime.date(2022, 1, 26), Decimal('26994.90'), 2, 5)
(28644, 3525, 8, datetime.date(2022, 1, 26), Decimal('30138.00'), 5, 5)
(28645, 3526, 7, datetime.date(2022, 1, 27), Decimal('19564.00'), 3, 5)
(28646, 3528, 6, datetime.date(2022, 1, 27), Decimal('19926.00'), 4, 5)
(28647, 3529, 7, datetime.date(2022, 1, 27), Decimal('30434.00'), 1, 4)
(28648, 3530, 7, datetime.date(2022, 1, 27), Decimal('25490.00'), 5, 3)
(28649, 3531, 8, datetime.date(2022, 1, 28), Decimal('26152.95'), 3, 5)
(28650, 3532, 3, datetime.date(2022, 1, 28), Decimal('29088.80'), 5, 4)
(28651, 3533, 7, datetime.date(2022, 1, 28), Decimal('18009.85'), 3, 5)
(28652, 3534, 6, datetime.date(2022, 1, 28), Decimal('20167.70'), 4, 5)
(28653, 3535, 9, datetime.date(2022, 1, 28), Decimal('18458.85'), 5, 5)
(28654, 3536, 1, datetime.date(2022, 1, 28), Decimal('29019.70'), 5, 1)
(28655, 3537, 8, datetime.date(2022, 1, 28), Decimal('25990.00'), 5, 5)
(28656, 3538, 6, datetime.date(2022, 1, 28), Decimal('19708.80'), 4, 5)
(28657, 3539, 8, datetime.date(2022, 1, 29), Decimal('31786.00'), 5, 2)
(28658, 3540, 11, datetime.date(2022, 1, 29), Decimal('18708.85'), 5, 4)
(28659, 3541, 12, datetime.date(2022, 1, 29), Decimal('29485.00'), 3, 4)
(28660, 3542, 6, datetime.date(2022, 1, 29), Decimal('79.00'), None, None)
(28661, 3543, 7, datetime.date(2022, 1, 29), Decimal('18990.00'), 5, 5)
(28662, 3544, 7, datetime.date(2022, 1, 29), Decimal('19518.00'), 3, 5)
(28663, 3545, 3, datetime.date(2022, 1, 30), Decimal('27517.95'), 4, 1)
(28664, 3546, 7, datetime.date(2022, 1, 30), Decimal('27434.00'), 5, 5)
(28665, 3547, 8, datetime.date(2022, 1, 30), Decimal('29004.85'), 5, 5)
(28666, 3549, 8, datetime.date(2022, 1, 30), Decimal('29934.00'), 5, 5)
(28667, 3550, 7, datetime.date(2022, 1, 30), Decimal('88.90'), None, None)
(28668, 3551, 15, datetime.date(2022, 1, 30), Decimal('18074.00'), 4, 2)
(28669, 3552, 7, datetime.date(2022, 1, 30), Decimal('18098.75'), 2, 4)
(28670, 3553, 1, datetime.date(2022, 1, 30), Decimal('26494.90'), 5, 4)
(28671, 3554, 7, datetime.date(2022, 1, 30), Decimal('25103.70'), 5, 5)
(28672, 3555, 12, datetime.date(2022, 1, 30), Decimal('17995.00'), 5, 5)
(28673, 3556, 13, datetime.date(2022, 1, 30), Decimal('17995.00'), 3, 5)
(28674, 3557, 6, datetime.date(2022, 1, 30), Decimal('19069.00'), 5, 5)
(28675, 3558, 8, datetime.date(2022, 1, 30), Decimal('449.00'), None, None)
(28676, 3559, 6, datetime.date(2022, 1, 30), Decimal('26985.00'), 5, 5)
(28677, 3560, 9, datetime.date(2022, 1, 31), Decimal('19782.85'), 5, 5)
(28678, 3561, 3, datetime.date(2022, 1, 31), Decimal('27184.00'), 5, 5)
(28679, 3562, 14, datetime.date(2022, 1, 31), Decimal('25444.00'), 5, 5)
(28680, 3563, 3, datetime.date(2022, 2, 1), Decimal('30513.00'), 5, 5)
(28681, 3564, 3, datetime.date(2022, 2, 1), Decimal('19069.00'), 5, 5)
(28682, 3565, 3, datetime.date(2022, 2, 1), Decimal('26953.80'), 5, 5)
(28683, 3566, 3, datetime.date(2022, 2, 1), Decimal('25444.00'), 5, 4)
(28684, 3567, 11, datetime.date(2022, 2, 2), Decimal('18990.00'), 2, 4)
(28685, 3568, 11, datetime.date(2022, 2, 2), Decimal('79.00'), None, None)
(28686, 3569, 11, datetime.date(2022, 2, 2), Decimal('30434.00'), 4, 5)
(28687, 3570, 9, datetime.date(2022, 2, 3), Decimal('17995.00'), 3, 5)
(28688, 3571, 8, datetime.date(2022, 2, 3), Decimal('25852.00'), 5, 5)
(28689, 3572, 7, datetime.date(2022, 2, 3), Decimal('26593.70'), 5, 5)
(28690, 3574, 1, datetime.date(2022, 2, 4), Decimal('28990.00'), 5, 5)
(28691, 3575, 3, datetime.date(2022, 2, 4), Decimal('20480.00'), 2, 4)
(28692, 3576, 6, datetime.date(2022, 2, 4), Decimal('19014.75'), 5, 5)
(28693, 3577, 1, datetime.date(2022, 2, 5), Decimal('25074.00'), 5, 5)
(28694, 3578, 12, datetime.date(2022, 2, 5), Decimal('26004.85'), 5, 5)
(28695, 3579, 7, datetime.date(2022, 2, 5), Decimal('25444.00'), 4, 5)
(28696, 3580, 13, datetime.date(2022, 2, 5), Decimal('19251.75'), 4, 5)
(28697, 3582, 1, datetime.date(2022, 2, 5), Decimal('18672.75'), 2, 5)
(28698, 3583, 6, datetime.date(2022, 2, 5), Decimal('26157.85'), 5, 2)
(28699, 3584, 7, datetime.date(2022, 2, 6), Decimal('39.60'), None, None)
(28700, 3585, 15, datetime.date(2022, 2, 6), Decimal('30217.00'), 5, 5)
(28701, 3587, 12, datetime.date(2022, 2, 6), Decimal('17995.00'), 5, 5)
(28702, 3588, 7, datetime.date(2022, 2, 6), Decimal('18074.00'), 5, 5)
(28703, 3589, 1, datetime.date(2022, 2, 6), Decimal('19203.85'), 4, 5)
(28704, 3590, 12, datetime.date(2022, 2, 6), Decimal('26504.80'), 5, 5)
(28705, 3591, 9, datetime.date(2022, 2, 6), Decimal('29703.85'), 5, 5)
(28706, 3592, 3, datetime.date(2022, 2, 6), Decimal('21628.00'), 5, 4)
(28707, 3593, 3, datetime.date(2022, 2, 6), Decimal('29532.85'), 5, 1)
(28708, 3594, 6, datetime.date(2022, 2, 6), Decimal('25157.95'), 5, 5)
(28709, 3595, 7, datetime.date(2022, 2, 6), Decimal('30217.00'), 5, 4)
(28710, 3596, 7, datetime.date(2022, 2, 6), Decimal('26227.00'), 4, 3)
(28711, 3597, 7, datetime.date(2022, 2, 6), Decimal('27064.00'), 5, 4)
(28712, 3598, 13, datetime.date(2022, 2, 6), Decimal('98.80'), None, None)
(28713, 3599, 3, datetime.date(2022, 2, 6), Decimal('19.80'), None, None)
(28714, 3600, 7, datetime.date(2022, 2, 6), Decimal('18004.90'), 2, 5)
(28715, 3601, 15, datetime.date(2022, 2, 6), Decimal('25074.00'), 5, 5)
(28716, 3602, 1, datetime.date(2022, 2, 6), Decimal('9.90'), None, None)
(28717, 3603, 13, datetime.date(2022, 2, 6), Decimal('25782.90'), 5, 4)
(28718, 3605, 3, datetime.date(2022, 2, 7), Decimal('4.95'), None, None)
(28719, 3606, 3, datetime.date(2022, 2, 7), Decimal('18728.65'), 5, 3)
(28720, 3607, 14, datetime.date(2022, 2, 7), Decimal('19547.70'), 5, 2)
(28721, 3608, 7, datetime.date(2022, 2, 7), Decimal('19518.00'), 5, 5)
(28722, 3609, 14, datetime.date(2022, 2, 7), Decimal('18074.00'), 5, 5)
(28723, 3610, 14, datetime.date(2022, 2, 8), Decimal('19009.80'), 5, 5)
(28724, 3611, 3, datetime.date(2022, 2, 8), Decimal('79.00'), None, None)

In [ ]:
# The OrderLine Table
# Auto-generate the PK (olid)


infile = open('oline.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:

        y = x.strip().split(',')
        
        bdate = 'NULL'
        pdate = 'NULL'
        ddate = 'NULL'
        
        y.append('NULL')
        y.append('NULL')
        y.append('NULL')
        
        if (len(y[6]) > 0 and y[6] != 'NULL'):
            bdate = "'" + y[6] + "'"
        if (len(y[7]) > 0 and y[7] != 'NULL'):
            pdate = "'" + y[7] + "'"
        if (len(y[8]) > 0 and y[8] != 'NULL'):
            ddate = "'" + y[8] + "'"

        query = """INSERT INTO Oline (orderid, productid, lineqty, lineprice, linetotal, builtdate, promisedate, deldate)
                   VALUES (%s,%s,%s,%s,%s,%s,%s,%s);""" % (y[1],y[2],y[3],y[4],y[5],bdate,pdate,ddate)
           

#        print ("OrderID: %s, CustID: %s, SellerID: %s, Odate: '%s', Ototal: %s" % (y[0],y[1],y[2],y[3],y[4]))
#        print(query)
    
        cursor.execute(query)
        
        conn.commit()
        
infile.close()

cursor.execute("SELECT * FROM oline")
for x in cursor:
    print(x)

In [ ]:
# The Customer Table
# Use the PK from the table!

infile = open('customer.csv','r')

header = 1
for x in infile:
    if header == 1:
        header = 0
    else:
        x = x.replace("'","")
        y = x.strip().split(',')
        ct = 0
        for z in y:
            if z == '' and ct in (11, 12, 13):
                y[ct] = 'z'
            elif z == '' and ct == 5:
                y[ct] = 'zz'
            elif z == '' and ct == 10:
                y[ct] = -1
            elif z == '':
                y[ct] = 'NULL'
            ct += 1
            
        
        cursor.execute("""INSERT INTO customer
                    (custid, custfname, custlname, custphone, custemail,custstate,
                    contactpref,pmtid,addedstamp,updatedstamp,hhi,
                    ismarried,haskids,travelswpet,pronoun)
                    VALUES (%s, '%s', '%s', '%s', '%s', '%s', '%s',
                    '%s', '%s', NULL, %s, '%s', '%s', '%s', '%s')"""
                  % (y[0],y[1],y[2],y[3],y[4],y[5],y[6],y[7],y[8],y[10],y[11],y[12],y[13],y[14]))

        conn.commit()

'''
for x in df.index:

    
    
query = 'SELECT * FROM customer;'

df = pd.read_sql(query, conn)
print(df)
'''

In [ ]:
# A little cleanup to deal with some malformed values in the source data.

mylist = ['custstate','ismarried','haskids','travelswpet','pronoun',
         'custphone','custemail','contactpref','pmtid']

for a in mylist:
    cursor.execute("""UPDATE customer
                SET %s = NULL
                WHERE %s = 'z' or %s = 'zz' or %s = 'NULL'""" % (a,a,a,a))
    
    conn.commit()
    
cursor.execute("""UPDATE customer
                SET hhi = NULL
                WHERE hhi < 0;""")

In [ ]:
# Seeing what ended up in Customer.

query = 'SELECT * FROM customer ORDER BY custid;'

df = pd.read_sql(query, conn)
print(df)

In [ ]:
# The Product Table
# Use the PK from the table!

infile = open('product.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:

        y = x.strip().split(',')
        
        catid = 'NULL'
        srcid = 'NULL'
        msrp = 'NULL'
        leadtime = 'NULL'
        qty = 'NULL'
        rolev = 'NULL'
        enddate = 'NULL'
        
        y.append('NULL')
        y.append('NULL')
        
        
        if (len(y[1]) > 0):
            catid = int(y[1])
        if (len(y[2]) > 0):
            srcid = int(y[2])
        if (len(y[4]) > 0):
            msrp = y[4]
        if (len(y[6]) > 0):
            leadtime = y[6]
        if (len(y[7]) > 0):
            qty = int(y[7])
        if (len(y[8]) > 0):
            rolev = int(y[8])
        if len(y[10]) > 0:
            enddate = "'" + y[10] + "'"

        query = """INSERT INTO Product (prodid, catid, sourceid, prodname, msrp, proddesc,
                                        leadtime, qtyoh, enddate, startdate, rolevel)
                    VALUES (%s,%s,%s,'%s',%s,'%s',%s,%s,%s,'%s',%s)""" % (y[0], catid,srcid, y[3],msrp,
                                                                          y[5],leadtime, qty,enddate,y[9],
                                                                          rolev)
                    
#        print(query)
    
        cursor.execute(query)
        
        conn.commit()
        
infile.close()

In [ ]:
# Just checking out the Product table for some reason.

query = 'SELECT * FROM product ORDER BY prodid;'

df = pd.read_sql(query, conn)
print(df)

In [ ]:
# The Vendor Table
# Auto-generate the PK (vendorID)

infile = open('vendor.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:
        y = x.strip().split(',')
        
        query = """INSERT INTO Vendor (vendorname, contactname)
                    VALUES ('%s','%s')""" % (y[0],y[1])
                    
        #print(query)
    
        cursor.execute(query)
        
        conn.commit()
        
infile.close()

In [ ]:
query = 'SELECT * FROM vendor ORDER BY vendorid;'

df = pd.read_sql(query, conn)
print(df)

In [ ]:
# The Prodcat Table
# Auto-generate the PK (vendorID)


infile = open('prodcat.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:
        y = x.strip().split(',')
        
        query = """INSERT INTO prodcat (catid,category,catdesc)
                    VALUES (%s,'%s','%s')""" % (y[0],y[1],y[2])
                    
        print(query)
    
        cursor.execute(query)
        
        conn.commit()
        
infile.close()

query = 'SELECT * FROM prodcat ORDER BY catid;'

df = pd.read_sql(query, conn)
print(df)

In [ ]:
# The PriceMove Table
# Auto-generate the PK (priceid)


infile = open('pricelog.csv','r')

firstline = 1

for x in infile:
    if (firstline == 1):
        firstline = 0
    else:
        y = x.strip().split(',')
        
        query = """INSERT INTO pricelog (prodid,theprice,startdate,approver,approvedate)
                    VALUES (%d,%.2f,'%s','%s','%s')""" % (int(y[0]),float(y[1]),y[2],y[3],y[4])
                    
        #print(query)
    
        cursor.execute(query)
        
        conn.commit()
        
infile.close()

query = 'SELECT * FROM pricelog ORDER BY priceid;'

df = pd.read_sql(query, conn)
print(df)

In [ ]:
cursor.close()
conn.close()