In [45]:
#1 Output the names of all the files in your current working directory
# using commands from within the os module. For each, if it's a .csv, also output the words
# "it's a csv". If it's not, output nothing.
import os

for file in os.listdir(os.getcwd()):
    if file[-4:] =='.csv':
        print(f"{file} --> it's a CSV!")
    else:
        print(file)
        
print(os.getcwd())
print(os.listdir(os.getcwd()))

.DS_Store
Exam 2 Coding Review - Prompts.ipynb
LemonadeStand-2.csv --> it's a CSV!
hometowns-1.csv --> it's a CSV!
.ipynb_checkpoints
/Users/chancewiese/Local Documents/school/data-5330/Exam 2
['.DS_Store', 'Exam 2 Coding Review - Prompts.ipynb', 'LemonadeStand-2.csv', 'hometowns-1.csv', '.ipynb_checkpoints']

In [2]:
#2. Create a df from the LemonadeStand.csv file. Skip any lines you need 
# to skip and identify a meaningful index column.
# Once created, output the df to the console.
import pandas as pd

df = pd.read_csv('LemonadeStand-2.csv', skiprows=3, index_col='DayNo')
print(df)

        HiTemp  SunHrs  WaspCt Custs (AM/PM)
DayNo
Day 1      101     6.0    19.0         42/43
Day 2       99     7.0    15.0         39/55
Day 3       78    14.0    10.0         40/51
Day 4       90    12.0    15.0         39/40
Day 5       83    10.0    13.0         38/45
Day 6       81     NaN    28.0          6/34
Day 7       82     NaN    14.0         25/28
Day 8       75    10.0    24.0         23/38
Day 9       78     9.0    19.0         40/34
Day 10     100    13.0    12.0         45/57
Day 11     117     NaN     NaN           NaN

In [3]:
#3. Iterate through each row of the dataframe and output, for each row,
# a sentence expressing the day number, the hitemp on the day, and the wasp count on that date.
for x in df.index:
    HiTemp = df['HiTemp'].loc[x]
    if pd.isna(HiTemp):
        HiTemp = 0
        
    WaspCt = df['WaspCt'].loc[x]
    if pd.isna(WaspCt):
        WaspCt = 0
    
    print(f"{x} had a high temperature of {HiTemp} and a wasp count of {WaspCt}")

Day 1 had a high temperature of 101 and a wasp count of 19.0
Day 2 had a high temperature of 99 and a wasp count of 15.0
Day 3 had a high temperature of 78 and a wasp count of 10.0
Day 4 had a high temperature of 90 and a wasp count of 15.0
Day 5 had a high temperature of 83 and a wasp count of 13.0
Day 6 had a high temperature of 81 and a wasp count of 28.0
Day 7 had a high temperature of 82 and a wasp count of 14.0
Day 8 had a high temperature of 75 and a wasp count of 24.0
Day 9 had a high temperature of 78 and a wasp count of 19.0
Day 10 had a high temperature of 100 and a wasp count of 12.0
Day 11 had a high temperature of 117 and a wasp count of 0

In [4]:
#4 Iterate through df again. This time, though, only output if the
# SunHrs value is null. If it is, then output: "Record [index] has
# null SunHrs".
for x in df.index:
    if pd.isnull(df['SunHrs'].loc[x]):
        print(f"{x} has null SunHrs.")

Day 6 has null SunHrs.
Day 7 has null SunHrs.
Day 11 has null SunHrs.

In [5]:
#5 Create a dataframe called df from the hometowns.csv file and then
#output it.
df = pd.read_csv('hometowns-1.csv', skiprows=2)
print(df)

           Dates           Location
0      1972-1990    Federal Way, WA
1      1990-1991          Provo, UT
2      1991-1993    Dresden, Saxony
3      1993-1997          Provo, UT
4      1997-1997         Boston, MA
5      1997-1998     Twin Falls, ID
6      1998-2000        La Mesa, CA
7      2000-2004  Mission Viejo, CA
8      2004-2005           Lehi, UT
9      2005-2006  New York City, NY
10     2006-2009  Mission Viejo, CA
11     2009-2010        La Mesa, CA
12     2010-2014     Pittsburgh, PA
13     2014-2017         Norman, OK
14     2017-2020  River Heights, UT
15  2020-Present          Logan, UT

In [6]:
#6 In the Location column ONLY, replace the value "Provo, UT" with the value
#"Location Unknown". In the Dates column, replace the hyphen with the word
# 'through' (include spaces so it doesn't look bad). Then output.
df['Location'] = df['Location'].replace(to_replace='Provo, UT', value='Location Unknown')
df['Dates'] = df['Dates'].str.replace('-', ' through ')
print(df)

                   Dates           Location
0      1972 through 1990    Federal Way, WA
1      1990 through 1991   Location Unknown
2      1991 through 1993    Dresden, Saxony
3      1993 through 1997   Location Unknown
4      1997 through 1997         Boston, MA
5      1997 through 1998     Twin Falls, ID
6      1998 through 2000        La Mesa, CA
7      2000 through 2004  Mission Viejo, CA
8      2004 through 2005           Lehi, UT
9      2005 through 2006  New York City, NY
10     2006 through 2009  Mission Viejo, CA
11     2009 through 2010        La Mesa, CA
12     2010 through 2014     Pittsburgh, PA
13     2014 through 2017         Norman, OK
14     2017 through 2020  River Heights, UT
15  2020 through Present          Logan, UT

In [7]:
# 7 Using the previous dataframe, create two columns called Start 
# and End. Start should include the first year found in the Dates column,
# and End should include the second year found there. Turn the value in the
# Start column into an integer.
df[['Start', 'End']] = df['Dates'].str.split(' through ', expand=True)
df['Start'] = df['Start'].astype('int')
df.drop('Dates', axis=1, inplace=True)
print(df)

             Location  Start      End
0     Federal Way, WA   1972     1990
1    Location Unknown   1990     1991
2     Dresden, Saxony   1991     1993
3    Location Unknown   1993     1997
4          Boston, MA   1997     1997
5      Twin Falls, ID   1997     1998
6         La Mesa, CA   1998     2000
7   Mission Viejo, CA   2000     2004
8            Lehi, UT   2004     2005
9   New York City, NY   2005     2006
10  Mission Viejo, CA   2006     2009
11        La Mesa, CA   2009     2010
12     Pittsburgh, PA   2010     2014
13         Norman, OK   2014     2017
14  River Heights, UT   2017     2020
15          Logan, UT   2020  Present

In [35]:
#8 Turn the variable below into a datetime object.

# %d = day of month
# %b = Three-letter name of month (e.g., Feb, Mar)
# %B = Full name of month (e.g., February, March)
# %m = Numerical month (e.g., 2, 3)
# %y = Two-digit year (e.g., 15)
# %Y = Four-digit year (e.g., 2015)
from datetime import datetime

date = "19-Dec-21"
date_object = datetime.strptime(date, "%d-%b-%y")
formatted_date = date_object.strftime("%Y-%m-%d")  # %H:%M:%S
print(date_object)
print(formatted_date)

2021-12-19 00:00:00
2021-12-19

In [21]:
cwd = os.getcwd()
print(cwd)

/Users/chancewiese/Local Documents/school/data-5330/Exam 2