# **APA - Data Preparation Template**
## **DATA 3300**

## **Name(s):**

### **Read and follow these assignment instructions carefully! Ordinarily, we’d jump into cleansing data as needed and we’d each do it slightly differently. This is difficult to grade, so please go in the order of this document and follow these instructions.**

**For this assignment students should submit one .ipynb file, one clean, sorted Excel file, and a PDF of this iPython notebook file. See the assignment background for attribute descriptions and the assignment requirements link on the Canvas assignment page.**

**Students should alter code in lines with "replace code..." language. Otherwise, students do not need to alter the provided code.**

## **Q1**

**What does the term “data quality” refer to and why is it important within the context of using data to solve business problems?**

###  The degree to which a dataset can be efficiently and effectively processed and used. It is important because it helps create analyses that are meaningful, trustworthy, and that do not induce mayhem.

##**Q2**

**The lecture and textbook discussed five characteristics of data quality: accuracy, completeness, consistency, timeliness, and uniqueness. While “accuracy” in this dataset is hard for us to gauge without further inquiry and“timeliness” kind of depends on what it is the data are to be used for, there are clear examples of problems with each of the other three characteristics.**

**For each of the other three (completeness, consistency, uniqueness), identify a specific situation within the *hbdata-orig.csv* dataset (identify record numbers when applicable). Hint: For uniqueness, look at the VisitSpan attribute. Be sure your answers are clearly labelled and described.**

**This can be done by viewing the data in Excel or importing it into Python. If using Python, begin by importing your libraries and then read in the .csv file.**

In [1]:
import pandas as pd
import numpy as np

#just run this code block after importing libraries above, no need to alter the below code!
from datetime import datetime #you'll also need this method to convert a variable to date-time later in the assignment
import warnings
warnings.filterwarnings("ignore") #this can be removed but will help the code be a little cleaner by ignoring warnings

In [2]:
#replace with code for importing the dataset
df = pd.read_excel('/content/hbdata-orig24.xlsx')
#run this code block after importing dataset above
pd.set_option("display.max_rows", None, "display.max_columns", None) #View full dataframe
df

,VisitID,BirdName,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Amount,Unnamed: 10
0,2203,Rose Kim,Rufus,S,female,2017-08-03 00:00:00,23:13:05.736-23:13:21.109,Back Patio,yes,17 ml,NaN
1,2204,Horace Prefect,Calliope,M,male,2017-07-16 00:00:00,07:45:07.65-07:45:17.97,NE Corner,yes,6 ml,0.31
2,2205,Edeltraud McKnight,Rufous,M,female,2017-07-16 00:00:00,08:09:52.10-08:10:22.74,Deck 2,no,5 ml,NaN
3,2206,Herbert McKnight,Rufous,M,male,2017-07-16 00:00:00,08:41:54.07-08:42:07.48,Deck 1,yes,2 ml,NaN
4,2207,Walpurga Schwalbe,Anna's,M,female,2017-07-16 00:00:00,09:18:59.33-09:19:13.41,Garage,yes,3 ml,NaN
5,2208,Walpurga Schwalbe,Anna's,M,female,2017-07-16 00:00:00,09:28:41.64-09:28:52.64,Deck 2,yes,13 ml,NaN
6,2209,NaN,NaN,NaN,NaN,2017-07-16 00:00:00,10:56:26.40-10:56:45.32,Deck 1,no,NaN,NaN
7,2210,Blossom Kim,Rufous,M,female,2017-07-16 00:00:00,11:27:05.53-11:27:31.41,Deck 1,no,9 ml,NaN
8,2211,Gale Sharma,Rufous,XL,female,2017-07-16 00:00:00,12:14:11.70-12:14:35.72,Back Patio,no,13 ml,NaN
9,2212,King Schwalbe,Anna's,L,male,2017-07-16 00:00:00,12:14:45.98-12:15:14.45,NE Corner,no,6 ml,NaN
10,2213,Lucky Kim,Rufous,M,male,2017-07-16 00:00:00,13:07:55.82-13:08:11.09,Deck 2,yes,3 ml,NaN
11,2214,Ruby Schwalbe,Anna's,S,female,2017-07-16 00:00:00,14:08:35.90-14:08:41.95,Deck 2,yes,10 ml,NaN
12,2215,Norm Sharma,Rufous,M,male,2017-07-16 00:00:00,15:15:15.55-15:15:35.11,Back Patio,yes,9 ml,NaN
13,2216,Petunia O'Flaherty,Anna's,S,female,2017-07-16 00:00:00,15:38:48.39-15:39:11.49,Deck 2,yes,2 ml,NaN
14,2217,Sol Schwalbe,Anna's,M,male,2017-07-16 00:00:00,16:58:39.17-16:58:57.62,Back Patio,yes,14 ml,NaN
15,2218,Mitz Johnson,Rufus,M,female,2017-07-16 00:00:00,17:25:12.74-17:25:34.44,Deck 2,yes,11 ml,NaN
16,2219,Francine Johnson,Rufous,M,female,2017-07-17 00:00:00,07:29:33.89-07:29:56.56,Deck 1,no,14 ml,NaN
17,2220,June McKnight,Rufous,M,female,2017-07-17 00:00:00,09:52:51.78-09:53:14.73,Back Patio,no,4 ml,NaN
18,2221,Lucky Kim,Rufous,M,male,2017-07-17 00:00:00,10:25:08.10-10:25:29.68,Back Patio,no,10 ml,NaN
19,2222,King Schwalbe,Anna's,L,male,2017-07-17 00:00:00,11:09:34.78-11:10:01.07,NE Corner,no,0 ml,NaN
20,2223,Virgil Schwalbe,Anna's,M,male,2017-07-17 00:00:00,11:35:55.06-11:36:16.76,Entry,no,5 ml,NaN
21,2224,Bort O'Flaherty,Anna's,L,male,2017-07-17 00:00:00,11:54:20.11-11:54:29.64,Deck 2,no,8 ml,NaN
22,2225,Malachi Schwalbe,Anna's,XL,male,2017-07-17 00:00:00,12:26:37.48-12:27:05.68,Back Patio,yes,2 ml,NaN
23,2226,June McKnight,Rufous,M,female,2017-07-17 00:00:00,12:26:58.01-12:27:19.08,Back Patio,yes,5 ml,NaN
24,2227,Bobert Sharma,Rufous,M,male,2017-07-17 00:00:00,12:34:38.96-12:34:56.59,Deck 1,yes,21 ml,NaN
25,2228,Petunia O'Flaherty,Anna's,S,female,2017-07-17 00:00:00,12:36:58.28-12:37:26.58,Garage,yes,4 ml,NaN
26,2229,Ruby Schwalbe,Anna's,S,female,2017-07-17 00:00:00,12:37:00.80-12:37:17.85,NE Corner,yes,3 ml,NaN
27,2230,Edeltraud McKnight,Rufous,M,female,2017-07-17 00:00:00,13:18:55.66-13:19:09.19,Deck 1,no,2 ml,NaN
28,2231,King Schwalbe,Anna's,L,male,2017-07-17 00:00:00,13:23:11.98-13:23:29.77,NE Corner,no,10 ml,NaN
29,2232,Walpurga Schwalbe,Anna's,M,female,2017-07-17 00:00:00,15:07:05.17-15:07:31.63,NE Corner,no,7 ml,NaN
30,2233,Renee Prefect,Calliope,M,female,2017-07-17 00:00:00,15:54:15.27-15:54:41.58,NE Corner,yes,11 ml,NaN
31,2234,June McKnight,Rufous,M,female,2017-07-17 00:00:00,16:18:40.38-16:19:01.38,Back Patio,yes,0 ml,NaN
32,2235,Edeltraud McKnight,Rufous,M,female,2017-07-17 00:00:00,16:33:19.74-16:33:30.57,Deck 2,yes,11 ml,NaN
33,2236,Petunia O'Flaherty,Anna's,S,female,2017-07-17 00:00:00,17:01:37.83-17:02:00.03,Back Patio,no,0.0 oz,NaN
34,2237,Clancy McKnight,Rufous,M,male,2017-07-17 00:00:00,17:28:37.12-17:28:54.44,Deck 2,no,16 ml,NaN
35,2238,Bort O'Flaherty,Anna's,L,male,2017-07-17 00:00:00,17:59:52.71-18:00:22.84,NE Corner,no,9 ml,NaN
36,2239,Francine Johnson,NaN,M,female,2017-07-18 00:00:00,09:02:56.80-09:03:28.74,Deck 1,yes,0.268 oz,NaN
37,2240,Ruby Schwalbe,Anna's,S,female,2017-07-18 00:00:00,11:16:29.94-11:16:52.88,NE Corner,no,9 ml,NaN
38,2241,Bort O'Flaherty,Anna's,L,male,2017-07-18 00:00:00,11:47:10.08-11:47:29.87,NE Corner,no,9 ml,NaN
39,2242,Lucky Kim,Rufus,M,male,2017-07-18 00:00:00,12:02:30.95-12:03:00.41,Deck 2,yes,0.005 oz,NaN
40,2243,King Schwalbe,Anna's,L,male,2017-07-18 00:00:00,12:10:23.42-12:10:43.25,Entry,yes,12 ml,NaN
41,2244,Horace,Prefect,NaN,no,Calliope,2017-07-18 00:00:00,13:14:33.36-13:15:09.25,Entry,male,M
42,2245,Mitz Johnson,Rufous,M,female,2017-07-18 00:00:00,13:33:08.79-13:33:26.04,Back Patio,yes,8 ml,NaN
43,2246,Renee Prefect,Calliope,M,female,2017-07-18 00:00:00,13:53:55.26-13:54:22.18,Back Patio,yes,5 ml,NaN
44,2247,Wally Sharma,Rufous,M,male,2017-07-18 00:00:00,14:26:32.64-14:26:47.91,Back Patio,yes,11 ml,NaN
45,2248,Mitz Johnson,Rufous,M,female,2017-07-18 00:00:00,14:53:47.69-14:54:18.06,Deck 2,yes,6 ml,NaN
46,2249,Renee Prefect,Calliope,M,female,2017-07-18 00:00:00,15:01:13.77-15:01:39.94,Entry,no,11 ml,NaN
47,2250,Edeltraud McKnight,Rufous,medium,female,2017-07-18 00:00:00,17:40:07.86-17:40:33.43,Deck 1,yes,7 ml,NaN
48,2251,Renee Prefect,Calliope,medium,female,2017-07-19 00:00:00,08:35:49.12-08:36:07.42,Deck 2,yes,1 ml,NaN
49,2252,Judith McKnight,Rufous,medium,female,2017-07-19 00:00:00,08:39:38.69-08:39:52.39,Deck. 2,yes,16 ml,NaN
50,2253,Blossom Kim,Rufous,medium,female,2017-07-19 00:00:00,08:50:10.08-08:50:25.56,Back Patio,no,7 ml,NaN
51,2254,Cake Prefect,Calliope,medium,male,2017-07-19 00:00:00,09:11:03.50-09:11:32.59,Garage,no,10 ml,NaN
52,2255,Virgil Schwalbe,NaN,medium,male,2017-07-19 00:00:00,09:50:47.27-09:51:15.71,Deck 2,yes,4 ml,NaN
53,2256,Horace Prefect,Calliope,medium,male,2017-07-19 00:00:00,09:59:01.27-09:59:28.70,Garage,no,8 ml,NaN
54,2257,Judith McKnight,Rufous,medium,female,2017-07-19 00:00:00,10:29:13.66-10:29:36.24,Back Patio,yes,10 ml,NaN
55,2258,Herbert McKnight,Rufous,M,male,2017-07-19 00:00:00,10:49:13.62-10:49:28.10,Deck 1,yes,9 ml,NaN
56,2259,Gale Sharma,Rufous,XL,female,2017-07-19 00:00:00,10:52:49.40-10:53:25.52,Deck 1,no,12 ml,NaN
57,2260,Hortence Prefect,Calliope,M,female,2017-07-19 00:00:00,11:29:53.36-11:30:10.07,Garage,yes,3 ml,NaN
58,2261,Wally Sharma,Rufous,M,male,2017-07-19 00:00:00,12:11:51.85-12:11:59.63,Back Patio,no,16 ml,NaN
59,2262,Hortence Prefect,Calliope,M,female,2017-07-19 00:00:00,12:12:44.63-12:13:03.03,Entry,yes,0 ml,NaN
60,2263,Kevin McKnight,Rufous,M,male,2017-07-19 00:00:00,12:30:40.60-12:31:04.22,Deck 2,no,1 ml,NaN
61,2264,Bill O'Flaherty,Anna's,M,male,2017-07-19 00:00:00,13:15:50.30-13:16:00.51,NE Corner,no,0 ml,NaN
62,2265,Petunia O'Flaherty,Anna's,S,female,2017-07-19 00:00:00,13:44:40.49-13:44:52.69,NE Corner,no,9 ml,NaN
63,2266,Gunnar Prefect,Calliope,S,male,2017-07-19 00:00:00,14:15:10.57-14:15:30.33,Garage,yes,6 ml,NaN
64,2267,King Schwalbe,Anna's,L,male,2017-07-19 00:00:00,14:29:42.92-14:29:58.83,Entry,no,23 ml,NaN
65,2268,Nyx Prefect,Calliope,L,female,2017-07-19 00:00:00,16:09:10.14-16:09:29.11,Back Patio,yes,8 ml,NaN
66,2269,Ruby Schwalbe,Anna's,S,female,2017-07-19 00:00:00,18:04:30.97-18:05:00.32,Garage,yes,0 ml,NaN
67,2270,Clancy McKnight,Rufous,M,male,2017-07-19 00:00:00,18:29:27.94-18:29:36.09,Back Patio,yes,9 ml,NaN
68,2271,June McKnight,Rufous,M,female,2017-07-19 00:00:00,19:19:55.16-19:20:15.28,Deck 1,no,5 ml,NaN
69,2272,Clancy McKnight,Rufous,M,male,2017-07-19 00:00:00,19:29:59.12-19:30:21.16,Back Patio,no,6 ml,NaN
70,2273,Clancy McKnight,Rufous,M,male,2017-07-19 00:00:00,19:38:34.85-19:38:47.94,Deck 2,yes,15 ml,NaN
71,2274,Cake Prefect,Calliope,M,male,2017-07-19 00:00:00,19:54:02.89-19:54:15.02,Back Patio,no,5 ml,NaN
72,2275,Hortence Prefect,Calliope,M,female,2017-07-20 00:00:00,07:54:41.54-07:55:09.46,Entry,no,2 ml,NaN
73,2276,Mitz Johnson,Rufous,M,female,2017-07-20 00:00:00,08:07:46.27-08:08:03.06,Back Patio,no,1 ml,NaN
74,2277,Rose Kim,Rufous,L,female,2017-07-20 00:00:00,08:34:24.31-08:34:42.68,Back Patio,no,16 ml,NaN
75,2278,Renee Prefect,Calliope,M,female,2017-07-20 00:00:00,09:42:17.55-09:42:26.41,NE Corner,no,9 ml,NaN
76,2279,Cake Prefect,Calliope,M,male,2017-07-20 00:00:00,09:45:14.79-09:45:41.76,Garage,no,15 ml,NaN
77,2280,Renee Prefect,Calliope,M,female,2017-07-20 00:00:00,10:07:35.39-10:08:03.93,Deck 2,no,1 ml,NaN
78,2281,Walpurga Schwalbe,Anna's,M,female,2017-07-20 00:00:00,11:41:57.44-11:42:19.98,Garage,yes,5 ml,NaN
79,2282,Weatherford Johnson,Rufous,S,male,2017-07-20 00:00:00,12:31:17.67-12:31:34.57,Back Patio,yes,7 ml,NaN
80,2283,Norm Sharma,Rufous,M,male,2017-07-20 00:00:00,13:17:56.17-13:18:18.95,Deck 2,no,6 ml,NaN
81,2284,Bobert Sharma,Rufous,M,male,2017-07-20 00:00:00,13:25:18.04-13:25:52.88,Deck 2,yes,18 ml,NaN
82,2285,Petunia O'Flaherty,Anna's,S,female,2017-07-20 00:00:00,17:29:51.33-17:30:23.31,NE Corner,yes,4 ml,NaN
83,2286,Cake Prefect,Calliope,M,male,2017-07-20 00:00:00,17:43:45.36-17:44:08.97,Deck 2,no,3 ml,NaN
84,2287,Cake Prefect,Calliope,M,male,2017-07-20 00:00:00,17:50:33.58-17:50:53.55,NE Corner,no,14 ml,NaN
85,2288,Francine Johnson,Rufous,M,female,2017-07-20 00:00:00,17:54:55.60-17:55:25.61,Back Patio,yes,7 ml,NaN
86,2289,Judith McKnight,Rufous,M,female,2017-07-20 00:00:00,18:51:10.32-18:51:36.69,Back Patio,no,12 ml,NaN
87,2290,Walpurga Schwalbe,Anna's,M,female,2017-07-20 00:00:00,19:45:14.81-19:45:40.17,Back Patio,yes,10 ml,NaN
88,2291,Horace Prefect,Calliope,M,male,2017-07-20 00:00:00,20:11:28.39-20:12:01.72,Garage,no,0 ml,NaN
89,2292,Francine Johnson,Rufous,M,female,2017-07-21 00:00:00,06:42:39.22-06:42:55.71,Deck 2,no,15 ml,NaN
90,2293,Malachi Schwalbe,Anna's,XL,male,2017-07-21 00:00:00,09:58:04.52-09:58:40.48,Garage,no,15 ml,NaN
91,2294,Renee Prefect,NaN,M,female,2017-07-21 00:00:00,10:08:03.31-10:08:24.07,NE Corner,yes,6 ml,NaN
92,2295,Wally Sharma,Rufous,M,male,2017-07-21 00:00:00,10:12:21.61-10:12:36.51,Back Patio,no,10 ml,NaN
93,2296,King Schwalbe,Anna's,L,male,2017-07-21 00:00:00,10:26:06.56-10:26:36.19,Garage,yes,13 ml,NaN
94,2297,Gunnar Prefect,Calliope,S,male,2017-07-21 00:00:00,10:31:55.55-10:32:13.74,Entry,yes,4 ml,NaN
95,2298,Gale Sharma,Rufous,XL,female,2017-07-21 00:00:00,11:28:15.61-11:28:39.54,Deck 2,no,15 ml,NaN
96,2299,Gale Sharma,Rufous,XL,female,2017-07-21 00:00:00,12:02:28.48-12:02:57.29,Deck 2,no,19 ml,NaN
97,2300,Judith McKnight,Rufous,M,female,2017-07-21 00:00:00,12:39:31.69-12:39:59.12,Deck 1,yes,15 ml,NaN
98,2301,Weatherford Johnson,Rufous,S,male,2017-07-21 00:00:00,12:53:47.39-12:54:00.42,Deck 1,yes,0 ml,NaN
99,2302,Rose Kim,Rufous,L,female,2017-07-21 00:00:00,12:54:14.40-12:54:35.65,Back Patio,yes,0.422 oz,NaN
100,2303,Mitz Johnson,Rufous,M,female,2017-07-21 00:00:00,13:37:11.75-13:37:45.15,Deck 2,yes,12 ml,NaN
101,2304,Gunnar Prefect,Calliope,S,male,2017-07-21 00:00:00,14:22:12.77-14:22:27.95,Entry,yes,5 ml,NaN
102,2305,June McKnight,Rufous,M,female,2017-07-21 00:00:00,14:29:06.38-14:29:40.99,Deck 1,yes,12 ml,NaN
103,2306,Walpurga Schwalbe,Anna's,M,female,2017-07-21 00:00:00,16:32:17.59-16:32:37.37,Back Patio,yes,13 ml,NaN
104,2307,Herbert McKnight,Rufous,M,male,2017-07-21 00:00:00,17:06:58.40-17:07:16.94,Deck 1,no,5 ml,NaN
105,2308,King Schwalbe,Anna's,L,male,2017-07-21 00:00:00,19:12:52.24-19:13:18.72,NE Corner,no,0.216 oz,NaN
106,2309,Bobert Sharma,Rufous,M,male,2017-07-22 00:00:00,06:26:42.58-06:27:01.39,Deck 1,yes,0 ml,NaN
107,2310,Norm Sharma,Rufous,M,male,2017-07-22 00:00:00,09:48:39.25-09:49:14.27,Deck 1,no,3 ml,NaN
108,2311,Clancy McKnight,Rufous,M,male,2017-07-22 00:00:00,10:52:57.73-10:53:08.73,Back Patio,yes,2 ml,NaN
109,2312,Petunia O'Flaherty,Anna's,S,female,2017-07-22 00:00:00,11:06:25.51-11:06:32.66,Back Patio,yes,9 ml,NaN
110,2313,Gunnar Prefect,Calliope,S,male,2017-07-22 00:00:00,12:00:18.53-12:00:29.79,Deck 2,yes,8 ml,NaN
111,2314,Gunnar Prefect,Calliope,S,male,2017-07-22 00:00:00,12:00:18.53-12:00:29.79,Deck 2,yes,8 ml,NaN
112,2315,NaN,NaN,M,NaN,2017-07-22 00:00:00,12:21:26.31-12:21:40.92,Deck 1,no,0.411 oz,NaN
113,2316,Mitz Johnson,Rufous,M,female,2017-07-22 00:00:00,12:25:39.37-12:25:56.60,Deck 2,yes,16 ml,NaN
114,2317,Renee Prefect,Calliope,M,female,2017-07-22 00:00:00,13:27:35.82-13:28:02.84,Entry,yes,0 ml,NaN
115,2318,Francine Johnson,Rufous,M,female,2017-07-22 00:00:00,14:02:57.18-14:03:24.89,Deck 1,yes,8 ml,NaN
116,2319,Coco Prefect,Calliope,M,female,2017-07-22 00:00:00,14:32:58.43-14:33:07.38,Garage,yes,0.057 oz,NaN
117,2320,Lucky Kim,Rufous,M,male,2017-07-22 00:00:00,15:15:24.00-15:15:36.54,Back Patio,no,0.414 oz,NaN
118,2321,Daffodil Johnson,Rufous,L,female,2017-07-22 00:00:00,15:34:53.92-15:35:24.34,Back Patio,yes,7 ml,NaN
119,2322,Cake Prefect,Calliope,M,male,2017-07-22 00:00:00,16:06:31.98-16:06:42.05,Garage,no,13 ml,NaN
120,2323,Hortence Prefect,Calliope,M,female,2017-07-22 00:00:00,17:14:46.10-17:15:14.36,NE Corner,no,0.122 oz,NaN
121,2324,Kevin McKnight,Rufous,M,male,2017-07-23 00:00:00,05:46:41.82-05:47:07.79,Back Patio,yes,2 ml,NaN
122,2325,Bobert Sharma,Rufous,M,male,2017-07-23 00:00:00,07:09:21.87-07:09:42.63,Back Patio,yes,13 ml,NaN
123,2326,Kevin McKnight,Rufous,M,male,2017-07-23 00:00:00,08:37:02.51-08:37:08.43,Back Patio,no,2 ml,NaN
124,2327,Virgil Schwalbe,Anna's,M,male,2017-07-23 00:00:00,08:56:25.82-08:56:44.21,Deck 2,yes,10 ml,NaN
125,2328,Gunnar Prefect,Calliope,S,male,2017-07-23 00:00:00,10:23:14.20-10:23:36.43,NE Corner,yes,10 ml,NaN
126,2329,June McKnight,Rufous,M,female,2017-07-23 00:00:00,11:12:32.30-11:13:01.81,Back Patio,no,0 ml,NaN
127,2330,Gunnar Prefect,Calliope,S,male,2017-07-23 00:00:00,11:57:34.58-11:57:48.99,Deck 2,yes,12 ml,NaN
128,2331,Virgil Schwalbe,Anna's,M,male,2017-07-23 00:00:00,12:36:04.01-12:36:34.49,Back Patio,no,8 ml,NaN
129,2332,Ruby Schwalbe,Anna's,S,female,2017-07-23 00:00:00,12:44:45.86-12:44:59.85,Back Patio,yes,17 ml,NaN
130,2333,Sol Schwalbe,Anna's,M,male,2017-07-23 00:00:00,13:57:25.34-13:57:32.14,Garage,yes,8 ml,NaN
131,2334,Sol Schwalbe,Anna's,M,male,2017-07-23 00:00:00,14:15:08.01-14:15:34.03,NE Corner,no,11 ml,NaN
132,2335,Renee Prefect,Calliope,M,female,2017-07-23 00:00:00,14:40:15.03-14:40:37.29,NE Corner,no,12 ml,NaN
133,2336,Renee Prefect,Calliope,M,female,2017-07-23 00:00:00,14:40:15.03-14:40:37.29,NE Corner,no,12 ml,NaN
134,2337,Renee Prefect,Calliope,M,female,2017-07-23 00:00:00,14:40:15.03-14:40:37.29,NE Corner,no,12 ml,NaN
135,2338,Norm Sharma,Rufous,M,male,2017-07-23 00:00:00,15:00:38.93-15:00:49.84,Deck 1,no,13 ml,NaN
136,2339,Daffodil Johnson,Rufous,L,female,2017-07-23 00:00:00,15:10:18.69-15:10:52.34,Back Patio,yes,21 ml,NaN
137,2340,Virgil Schwalbe,Anna's,M,male,2017-07-23 00:00:00,15:43:53.90-15:44:13.82,Garage,yes,3 ml,NaN
138,2341,June McKnight,Rufous,M,female,2017-07-23 00:00:00,18:37:55.19-18:38:20.07,Deck 2,no,7 ml,NaN
139,2342,Bill O'Flaherty,Anna's,M,male,2017-07-23 00:00:00,19:58:38.20-19:58:51.97,Deck 2,yes,13 ml,NaN
140,2343,Ursula Schwalbe,Anna's,S,female,2017-07-24 00:00:00,08:02:50.59-08:03:07.19,Garage,yes,1 ml,NaN
141,2344,Bobert Sharma,Rufous,M,male,2017-07-24 00:00:00,09:47:47.39-09:48:01.94,Deck 1,no,0 ml,NaN
142,2345,King Schwalbe,Anna's,L,male,2017-07-24 00:00:00,10:17:24.65-10:17:44.25,Back Patio,no,14 ml,NaN
143,2346,Lucky Kim,Rufous,M,male,2017-07-24 00:00:00,11:34:31.64-11:34:56.62,Deck 1,no,20 ml,NaN
144,2347,Sol Schwalbe,Anna's,M,male,2017-07-24 00:00:00,13:00:31.04-13:01:06.70,Deck 2,no,1 ml,NaN
145,2348,Lucky Kim,Rufus,M,male,2017-07-24 00:00:00,13:31:20.16-13:31:39.19,Back Patio,no,10 ml,NaN
146,2349,Mitz Johnson,Rufous,M,female,2017-07-24 00:00:00,13:35:06.44-13:35:24.56,Deck 1,yes,7 ml,NaN
147,2350,Renee Prefect,Calliope,M,female,2017-07-24 00:00:00,17:35:37.08-17:35:55.67,NE Corner,yes,15 ml,NaN
148,2351,Clancy McKnight,Rufous,M,male,2017-07-25 00:00:00,07:54:49.57-07:55:13.75,Deck 1,no,4 ml,NaN
149,2352,Ruby Schwalbe,Anna's,S,female,2017-07-25 00:00:00,09:47:38.08-09:48:00.99,Garage,yes,0 ml,NaN
150,2353,Ursula Schwalbe,Anna's,S,female,2017-07-25 00:00:00,10:14:27.12-10:14:41.51,Garage,yes,10 ml,NaN
151,2354,Gale Sharma,Rufous,XL,female,2017-07-25 00:00:00,10:49:19.08-10:49:36.86,Back Patio,no,14 ml,NaN
152,2355,Gunnar Prefect,Calliope,S,male,2017-07-25 00:00:00,11:14:48.80-11:15:14.72,Entry,yes,3 ml,NaN
153,2356,Cake Prefect,Calliope,M,male,2017-07-25 00:00:00,11:59:35.40-11:59:43.93,NE Corner,no,14 ml,NaN
154,2357,Weatherford Johnson,Rufous,S,male,2017-07-25 00:00:00,12:15:20.47-12:15:35.49,Deck 2,yes,7 ml,NaN
155,2358,Malachi Schwalbe,Anna's,XL,male,2017-07-25 00:00:00,12:58:37.19-12:59:04.19,Entry,no,1 ml,NaN
156,2359,Sol Schwalbe,Anna's,M,male,2017-07-25 00:00:00,13:32:57.07-13:33:13.71,Garage,no,3 ml,NaN
157,2360,Malachi Schwalbe,Anna's,XL,male,2017-07-25 00:00:00,14:43:13.38-14:43:32.72,Garage,no,13 ml,NaN
158,2361,Bort O'Flaherty,Anna's,L,male,2017-07-25 00:00:00,14:56:01.69-14:56:17.48,Back Patio,no,5 ml,NaN
159,2362,Hortence Prefect,Calliope,M,female,2017-07-25 00:00:00,17:18:52.22-17:19:21.25,Back Patio,no,6 ml,NaN
160,2363,King Schwalbe,Anna's,L,male,2017-07-25 00:00:00,18:21:09.77-18:21:32.36,Garage,no,11 ml,NaN
161,2364,Virgil Schwalbe,Anna's,M,male,2017-07-25 00:00:00,19:03:13.85-19:03:42.53,NE Corner,no,12 ml,NaN
162,2365,King Schwalbe,Anna's,L,male,2017-07-26 00:00:00,06:26:35.07-06:26:57.44,Entry,yes,17 ml,NaN
163,2366,Sol Schwalbe,Anna's,M,male,2017-07-26 00:00:00,07:13:36.30-07:13:56.34,Garage,no,14 ml,NaN
164,2367,Gunnar Prefect,Calliope,S,male,2017-07-26 00:00:00,08:54:39.37-08:54:56.69,Entry,yes,15 ml,NaN
165,2368,Hortence Prefect,Calliope,M,female,2017-07-26 00:00:00,08:58:43.46-08:59:04.29,Garage,no,1 ml,NaN
166,2369,Cake Prefect,Calliope,M,male,2017-07-26 00:00:00,09:17:34.79-09:17:42.27,Deck 2,yes,14 ml,NaN
167,2370,Edeltraud McKnight,Rufous,M,NaN,2017-07-26 00:00:00,10:51:57.66-10:52:11.45,Deck 1,yes,3 ml,NaN
168,2371,Bobert Sharma,Rufous,M,male,2017-07-26 00:00:00,10:57:24.60-10:57:39.33,Back Patio,yes,11 ml,NaN
169,2372,Blossom Kim,Rufous,M,female,2017-07-26 00:00:00,12:21:03.60-12:21:37.17,Deck 1,no,9 ml,NaN
170,2373,Virgil Schwalbe,Anna's,M,male,2017-07-26 00:00:00,12:42:02.73-12:42:30.30,Deck 2,yes,8 ml,NaN
171,2374,Ursula Schwalbe,Anna's,S,female,2017-07-26 00:00:00,12:50:07.81-12:50:30.08,Entry,yes,5 ml,NaN
172,2375,Ursula Schwalbe,Anna's,S,female,2017-07-26 00:00:00,13:08:25.58-13:08:50.61,Back Patio,yes,9 ml,NaN
173,2376,King Schwalbe,Anna's,L,male,2017-07-26 00:00:00,13:29:53.11-13:30:25.12,Deck 2,no,10 ml,NaN
174,2377,Weatherford Johnson,Rufous,S,male,2017-07-26 00:00:00,13:41:45.81-13:42:04.72,Deck 1,yes,1 ml,NaN
175,2378,Gale Sharma,Rufous,XL,female,2017-07-26 00:00:00,14:51:53.75-14:52:09.95,Deck 1,no,4 ml,NaN
176,2379,Coco Prefect,Calliope,M,female,2017-07-26 00:00:00,15:27:25.83-15:27:33.66,Garage,no,10 ml,NaN
177,2380,Malachi Schwalbe,Anna's,XL,male,2017-07-26 00:00:00,17:07:55.35-17:08:13.15,NE Corner,no,4 ml,NaN
178,2381,Clancy McKnight,Rufous,M,male,2017-07-26 00:00:00,17:29:01.20-17:29:06.08,Deck 1,no,1 ml,NaN
179,2382,Weatherford Johnson,Rufous,S,male,2017-07-26 00:00:00,18:27:43.08-18:28:10.05,Back Patio,no,2 ml,NaN
180,2383,Rose Kim,Rufous,L,female,2017-07-27 00:00:00,09:18:13.39-09:18:31.24,Back Patio,no,11 ml,NaN
181,2384,Rose Kim,Rufous,L,female,2017-07-27 00:00:00,09:18:13.39-09:18:31.24,Back Patio,no,11 ml,NaN
182,2385,Renee Prefect,Calliope,M,female,2017-07-27 00:00:00,09:34:36.77-09:34:58.90,Entry,no,13 ml,NaN
183,2386,Malachi Schwalbe,Anna's,XL,male,2017-07-27 00:00:00,10:01:33.81-10:01:54.84,Deck 2,no,25 ml,NaN
184,2387,Virgil Schwalbe,Anna's,M,male,2017-07-27 00:00:00,10:03:40.50-10:03:53.91,NE Corner,yes,14 ml,NaN
185,2388,Petunia O'Flaherty,Anna's,S,female,2017-07-27 00:00:00,10:28:33.07-10:28:58.00,NE Corner,yes,17 ml,NaN
186,2389,Ruby Schwalbe,Anna's,S,female,2017-07-27 00:00:00,11:46:38.49-11:46:50.58,Entry,yes,14 ml,NaN
187,2390,Coco Prefect,Calliope,M,female,2017-07-27 00:00:00,11:52:48.96-11:52:58.35,Back Patio,yes,19 ml,NaN
188,2391,Gale Sharma,Rufous,XL,female,2017-07-27 00:00:00,13:22:44.63-13:23:15.56,Deck 1,no,6 ml,NaN
189,2392,Malachi Schwalbe,Anna's,XL,male,2017-07-27 00:00:00,13:25:54.41-13:26:26.68,Garage,no,11 ml,NaN


*   Completeness: VisitIDs 2209, 2395, missing data
*   Consistency: VisitIDs 2250-2257, medium instead of M. Lots of oz instead of ml as well
*   Uniqueness: 2235-2336: Time is the same, duplicate entry

## **Q3**

**Answer the following questions regarding the importance of each of the named data scrubbing steps.**

### **3A**
**What negative outcome would likely occur during data analysis if duplicated visits were not removed (consolidated)?**

The dulicate data would be recorded multiple times, scewing the results of a particular bird or feeder. We would likely find that there are more birds observed than there should be, and their results would skew what we assume about that bird.

### **3B**

**What negative outcome would likely occur during data analysis if Location entries were not standardized?**

Some locations would have missing entries, for example "Deck. 2" would not be counted in "Deck 2"

### **3C**

**What negative outcome would likely occur during data analysis if, due to measurement issues, amount eaten values were not consistent?**

One might assume a bird has eaten much more or much less than it actually has. This can cause future predictions of how much to feed to be wrong.

## **Q4**

**In scrubbing the data, you should address each of the following. It’s recommended to go through this assignment in the order of steps below.**

### 4A

In Python trim all text columns to ensure there are no leading or trailing spaces on any of the data values. If you still see two seemingly identical entries, remember that trimming does not trim internal spaces between two words.

In [3]:
df_obj = df.select_dtypes(['object']) #select all columns containing text (of type object)
df[df_obj.columns] = df_obj.apply(lambda x: x.str.strip()) #trim all selected columns
#replace with code to view the header of the dataframe (cheat sheet!)
df.head()
#keep below code to verify date/time of your work
from datetime import datetime
now = datetime.now()
formatted_time = now.strftime("%Y-%m-%d %H:%M:%S")
print(f"Current Date and Time: {formatted_time}")

Current Date and Time: 2024-01-25 20:34:27

### 4B

Ensure each bird’s first and last name should be included in separate fields (columns).

In [4]:
#replace with code to split column, updating column names and delimiter type (cheat sheet)
df[['BirdFirstName','BirdLastName']] = df['BirdName'].str.split(' ', expand=True)
#replace with code to drop birdname column
df = df.drop('BirdName', axis = 1)
#replace with code to show df heading
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Amount,Unnamed: 10,BirdFirstName,BirdLastName
0,2203,Rufus,S,female,NaN,23:13:05.736-23:13:21.109,Back Patio,yes,17 ml,NaN,Rose,Kim
1,2204,Calliope,M,male,NaN,07:45:07.65-07:45:17.97,NE Corner,yes,6 ml,NaN,Horace,Prefect
2,2205,Rufous,M,female,NaN,08:09:52.10-08:10:22.74,Deck 2,no,5 ml,NaN,Edeltraud,McKnight
3,2206,Rufous,M,male,NaN,08:41:54.07-08:42:07.48,Deck 1,yes,2 ml,NaN,Herbert,McKnight
4,2207,Anna's,M,female,NaN,09:18:59.33-09:19:13.41,Garage,yes,3 ml,NaN,Walpurga,Schwalbe

### 4C
Ensure that data values are standardized in each column (pay particular attention to the textual columns, BirdName, BirdType, BirdSize, Gender, Location, and Hoverfeed) so that each “idea” (e.g., a species of bird) is specified (i.e., spelled) the same way.

This can be checked for each column by using the .value_counts() method! After applying the standarization, show that the correction has been made by using the .value_counts() method to display all categories for each column of interest.

In [5]:
#Replace with code to examine levels in BirdType using the value_counts() method, update column name
df['BirdType'].value_counts()

Rufous      103
Anna's       85
Calliope     61
Rufus        18
Prefect      14
Name: BirdType, dtype: int64

In [6]:
#Replace with code to replace redundant value in BirdType, for only 1 original and new label
df = df.replace('Rufus','Rufous')

In [7]:
#Replace with code to examine levels of BirdSize. Ignore null, "medium" and 20ml lines; these will be fixed later.
df['BirdSize'].value_counts()

M         162
S          48
L          33
XL         23
medium     13
20 ml       5
Name: BirdSize, dtype: int64

In [8]:
#Replace with code to replace redundant value in BirdSize
df = df.replace('medium','M')

In [9]:
#Replace with code to examine levels of Location. Ignore two lines with all numerical output; these will be fixed later.
df['Location'].value_counts()

Back Patio                 68
Deck 2                     54
Deck 1                     46
NE Corner                  44
Garage                     29
Entry                      29
Back  Patio                 8
Deck. 2                     7
15:16:40.19-15:16:55.98     4
13:14:33.36-13:15:09.25     2
Name: Location, dtype: int64

In [10]:
#Replace with code to replace redundant values of Location, for 2 original and new labels
df = df.replace({'Back  Patio':'Back Patio','Deck. 2':'Deck 2'})

### 4D
The amount eaten is very important to our analysis. Where this value is null (blank), omit the record. Note that values of 0 are not the same as null. Retain (don’t delete) the records where the value of Amount is 0. Other issues with this attribute will be addressed later.

Before removing missing columns first examine the length of the dataset currently using the len() method. Then split the *Amount* column into two columns, *Amount_Eat* and *Unit*. Finally, change *Amount_Eat* to a float object using pd.to_numeric().

Once missing values are dropped, view the length of the dataset again using the len() method to see how many observations were dropped.

In [11]:
len(df) #return length of dataframe (i.e., number of rows), just run this code block

291

In [12]:
#Replace with code to create new split columns for 'Amount_Eat' and 'Unit' from the 'Amount' column, updating column names and delimiter type
df[['Amount_Eat','Unit']] = df['Amount'].str.split(' ', expand=True)
#Replace with code to drop 'Amount' column
df = df.drop('Amount', axis = 1)
#Replace with code to show header of dataframe
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit
0,2203,Rufous,S,female,NaN,23:13:05.736-23:13:21.109,Back Patio,yes,NaN,Rose,Kim,17,ml
1,2204,Calliope,M,male,NaN,07:45:07.65-07:45:17.97,NE Corner,yes,NaN,Horace,Prefect,6,ml
2,2205,Rufous,M,female,NaN,08:09:52.10-08:10:22.74,Deck 2,no,NaN,Edeltraud,McKnight,5,ml
3,2206,Rufous,M,male,NaN,08:41:54.07-08:42:07.48,Deck 1,yes,NaN,Herbert,McKnight,2,ml
4,2207,Anna's,M,female,NaN,09:18:59.33-09:19:13.41,Garage,yes,NaN,Walpurga,Schwalbe,3,ml

In [13]:
df['Amount_Eat'] = df['Amount_Eat'].apply(pd.to_numeric, errors='coerce') #convert Amount_Eat column variable dtype from object to float
#just run this code block
df

,VisitID,BirdType,BirdSize,Gender,VisitDate,VisitSpan,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit
0,2203,Rufous,S,female,NaN,23:13:05.736-23:13:21.109,Back Patio,yes,NaN,Rose,Kim,17.000,ml
1,2204,Calliope,M,male,NaN,07:45:07.65-07:45:17.97,NE Corner,yes,NaN,Horace,Prefect,6.000,ml
2,2205,Rufous,M,female,NaN,08:09:52.10-08:10:22.74,Deck 2,no,NaN,Edeltraud,McKnight,5.000,ml
3,2206,Rufous,M,male,NaN,08:41:54.07-08:42:07.48,Deck 1,yes,NaN,Herbert,McKnight,2.000,ml
4,2207,Anna's,M,female,NaN,09:18:59.33-09:19:13.41,Garage,yes,NaN,Walpurga,Schwalbe,3.000,ml
5,2208,Anna's,M,female,NaN,09:28:41.64-09:28:52.64,Deck 2,yes,NaN,Walpurga,Schwalbe,13.000,ml
6,2209,NaN,NaN,NaN,NaN,10:56:26.40-10:56:45.32,Deck 1,no,NaN,NaN,NaN,NaN,NaN
7,2210,Rufous,M,female,NaN,11:27:05.53-11:27:31.41,Deck 1,no,NaN,Blossom,Kim,9.000,ml
8,2211,Rufous,XL,female,NaN,12:14:11.70-12:14:35.72,Back Patio,no,NaN,Gale,Sharma,13.000,ml
9,2212,Anna's,L,male,NaN,12:14:45.98-12:15:14.45,NE Corner,no,NaN,King,Schwalbe,6.000,ml
10,2213,Rufous,M,male,NaN,13:07:55.82-13:08:11.09,Deck 2,yes,NaN,Lucky,Kim,3.000,ml
11,2214,Anna's,S,female,NaN,14:08:35.90-14:08:41.95,Deck 2,yes,NaN,Ruby,Schwalbe,10.000,ml
12,2215,Rufous,M,male,NaN,15:15:15.55-15:15:35.11,Back Patio,yes,NaN,Norm,Sharma,9.000,ml
13,2216,Anna's,S,female,NaN,15:38:48.39-15:39:11.49,Deck 2,yes,NaN,Petunia,O'Flaherty,2.000,ml
14,2217,Anna's,M,male,NaN,16:58:39.17-16:58:57.62,Back Patio,yes,NaN,Sol,Schwalbe,14.000,ml
15,2218,Rufous,M,female,NaN,17:25:12.74-17:25:34.44,Deck 2,yes,NaN,Mitz,Johnson,11.000,ml
16,2219,Rufous,M,female,NaN,07:29:33.89-07:29:56.56,Deck 1,no,NaN,Francine,Johnson,14.000,ml
17,2220,Rufous,M,female,NaN,09:52:51.78-09:53:14.73,Back Patio,no,NaN,June,McKnight,4.000,ml
18,2221,Rufous,M,male,NaN,10:25:08.10-10:25:29.68,Back Patio,no,NaN,Lucky,Kim,10.000,ml
19,2222,Anna's,L,male,NaN,11:09:34.78-11:10:01.07,NE Corner,no,NaN,King,Schwalbe,0.000,ml
20,2223,Anna's,M,male,NaN,11:35:55.06-11:36:16.76,Entry,no,NaN,Virgil,Schwalbe,5.000,ml
21,2224,Anna's,L,male,NaN,11:54:20.11-11:54:29.64,Deck 2,no,NaN,Bort,O'Flaherty,8.000,ml
22,2225,Anna's,XL,male,NaN,12:26:37.48-12:27:05.68,Back Patio,yes,NaN,Malachi,Schwalbe,2.000,ml
23,2226,Rufous,M,female,NaN,12:26:58.01-12:27:19.08,Back Patio,yes,NaN,June,McKnight,5.000,ml
24,2227,Rufous,M,male,NaN,12:34:38.96-12:34:56.59,Deck 1,yes,NaN,Bobert,Sharma,21.000,ml
25,2228,Anna's,S,female,NaN,12:36:58.28-12:37:26.58,Garage,yes,NaN,Petunia,O'Flaherty,4.000,ml
26,2229,Anna's,S,female,NaN,12:37:00.80-12:37:17.85,NE Corner,yes,NaN,Ruby,Schwalbe,3.000,ml
27,2230,Rufous,M,female,NaN,13:18:55.66-13:19:09.19,Deck 1,no,NaN,Edeltraud,McKnight,2.000,ml
28,2231,Anna's,L,male,NaN,13:23:11.98-13:23:29.77,NE Corner,no,NaN,King,Schwalbe,10.000,ml
29,2232,Anna's,M,female,NaN,15:07:05.17-15:07:31.63,NE Corner,no,NaN,Walpurga,Schwalbe,7.000,ml
30,2233,Calliope,M,female,NaN,15:54:15.27-15:54:41.58,NE Corner,yes,NaN,Renee,Prefect,11.000,ml
31,2234,Rufous,M,female,NaN,16:18:40.38-16:19:01.38,Back Patio,yes,NaN,June,McKnight,0.000,ml
32,2235,Rufous,M,female,NaN,16:33:19.74-16:33:30.57,Deck 2,yes,NaN,Edeltraud,McKnight,11.000,ml
33,2236,Anna's,S,female,NaN,17:01:37.83-17:02:00.03,Back Patio,no,NaN,Petunia,O'Flaherty,0.000,oz
34,2237,Rufous,M,male,NaN,17:28:37.12-17:28:54.44,Deck 2,no,NaN,Clancy,McKnight,16.000,ml
35,2238,Anna's,L,male,NaN,17:59:52.71-18:00:22.84,NE Corner,no,NaN,Bort,O'Flaherty,9.000,ml
36,2239,NaN,M,female,NaN,09:02:56.80-09:03:28.74,Deck 1,yes,NaN,Francine,Johnson,0.268,oz
37,2240,Anna's,S,female,NaN,11:16:29.94-11:16:52.88,NE Corner,no,NaN,Ruby,Schwalbe,9.000,ml
38,2241,Anna's,L,male,NaN,11:47:10.08-11:47:29.87,NE Corner,no,NaN,Bort,O'Flaherty,9.000,ml
39,2242,Rufous,M,male,NaN,12:02:30.95-12:03:00.41,Deck 2,yes,NaN,Lucky,Kim,0.005,oz
40,2243,Anna's,L,male,NaN,12:10:23.42-12:10:43.25,Entry,yes,NaN,King,Schwalbe,12.000,ml
41,2244,Prefect,NaN,no,Calliope,NaN,13:14:33.36-13:15:09.25,Entry,M,Horace,None,NaN,None
42,2245,Rufous,M,female,NaN,13:33:08.79-13:33:26.04,Back Patio,yes,NaN,Mitz,Johnson,8.000,ml
43,2246,Calliope,M,female,NaN,13:53:55.26-13:54:22.18,Back Patio,yes,NaN,Renee,Prefect,5.000,ml
44,2247,Rufous,M,male,NaN,14:26:32.64-14:26:47.91,Back Patio,yes,NaN,Wally,Sharma,11.000,ml
45,2248,Rufous,M,female,NaN,14:53:47.69-14:54:18.06,Deck 2,yes,NaN,Mitz,Johnson,6.000,ml
46,2249,Calliope,M,female,NaN,15:01:13.77-15:01:39.94,Entry,no,NaN,Renee,Prefect,11.000,ml
47,2250,Rufous,M,female,NaN,17:40:07.86-17:40:33.43,Deck 1,yes,NaN,Edeltraud,McKnight,7.000,ml
48,2251,Calliope,M,female,NaN,08:35:49.12-08:36:07.42,Deck 2,yes,NaN,Renee,Prefect,1.000,ml
49,2252,Rufous,M,female,NaN,08:39:38.69-08:39:52.39,Deck 2,yes,NaN,Judith,McKnight,16.000,ml
50,2253,Rufous,M,female,NaN,08:50:10.08-08:50:25.56,Back Patio,no,NaN,Blossom,Kim,7.000,ml
51,2254,Calliope,M,male,NaN,09:11:03.50-09:11:32.59,Garage,no,NaN,Cake,Prefect,10.000,ml
52,2255,NaN,M,male,NaN,09:50:47.27-09:51:15.71,Deck 2,yes,NaN,Virgil,Schwalbe,4.000,ml
53,2256,Calliope,M,male,NaN,09:59:01.27-09:59:28.70,Garage,no,NaN,Horace,Prefect,8.000,ml
54,2257,Rufous,M,female,NaN,10:29:13.66-10:29:36.24,Back Patio,yes,NaN,Judith,McKnight,10.000,ml
55,2258,Rufous,M,male,NaN,10:49:13.62-10:49:28.10,Deck 1,yes,NaN,Herbert,McKnight,9.000,ml
56,2259,Rufous,XL,female,NaN,10:52:49.40-10:53:25.52,Deck 1,no,NaN,Gale,Sharma,12.000,ml
57,2260,Calliope,M,female,NaN,11:29:53.36-11:30:10.07,Garage,yes,NaN,Hortence,Prefect,3.000,ml
58,2261,Rufous,M,male,NaN,12:11:51.85-12:11:59.63,Back Patio,no,NaN,Wally,Sharma,16.000,ml
59,2262,Calliope,M,female,NaN,12:12:44.63-12:13:03.03,Entry,yes,NaN,Hortence,Prefect,0.000,ml
60,2263,Rufous,M,male,NaN,12:30:40.60-12:31:04.22,Deck 2,no,NaN,Kevin,McKnight,1.000,ml
61,2264,Anna's,M,male,NaN,13:15:50.30-13:16:00.51,NE Corner,no,NaN,Bill,O'Flaherty,0.000,ml
62,2265,Anna's,S,female,NaN,13:44:40.49-13:44:52.69,NE Corner,no,NaN,Petunia,O'Flaherty,9.000,ml
63,2266,Calliope,S,male,NaN,14:15:10.57-14:15:30.33,Garage,yes,NaN,Gunnar,Prefect,6.000,ml
64,2267,Anna's,L,male,NaN,14:29:42.92-14:29:58.83,Entry,no,NaN,King,Schwalbe,23.000,ml
65,2268,Calliope,L,female,NaN,16:09:10.14-16:09:29.11,Back Patio,yes,NaN,Nyx,Prefect,8.000,ml
66,2269,Anna's,S,female,NaN,18:04:30.97-18:05:00.32,Garage,yes,NaN,Ruby,Schwalbe,0.000,ml
67,2270,Rufous,M,male,NaN,18:29:27.94-18:29:36.09,Back Patio,yes,NaN,Clancy,McKnight,9.000,ml
68,2271,Rufous,M,female,NaN,19:19:55.16-19:20:15.28,Deck 1,no,NaN,June,McKnight,5.000,ml
69,2272,Rufous,M,male,NaN,19:29:59.12-19:30:21.16,Back Patio,no,NaN,Clancy,McKnight,6.000,ml
70,2273,Rufous,M,male,NaN,19:38:34.85-19:38:47.94,Deck 2,yes,NaN,Clancy,McKnight,15.000,ml
71,2274,Calliope,M,male,NaN,19:54:02.89-19:54:15.02,Back Patio,no,NaN,Cake,Prefect,5.000,ml
72,2275,Calliope,M,female,NaN,07:54:41.54-07:55:09.46,Entry,no,NaN,Hortence,Prefect,2.000,ml
73,2276,Rufous,M,female,NaN,08:07:46.27-08:08:03.06,Back Patio,no,NaN,Mitz,Johnson,1.000,ml
74,2277,Rufous,L,female,NaN,08:34:24.31-08:34:42.68,Back Patio,no,NaN,Rose,Kim,16.000,ml
75,2278,Calliope,M,female,NaN,09:42:17.55-09:42:26.41,NE Corner,no,NaN,Renee,Prefect,9.000,ml
76,2279,Calliope,M,male,NaN,09:45:14.79-09:45:41.76,Garage,no,NaN,Cake,Prefect,15.000,ml
77,2280,Calliope,M,female,NaN,10:07:35.39-10:08:03.93,Deck 2,no,NaN,Renee,Prefect,1.000,ml
78,2281,Anna's,M,female,NaN,11:41:57.44-11:42:19.98,Garage,yes,NaN,Walpurga,Schwalbe,5.000,ml
79,2282,Rufous,S,male,NaN,12:31:17.67-12:31:34.57,Back Patio,yes,NaN,Weatherford,Johnson,7.000,ml
80,2283,Rufous,M,male,NaN,13:17:56.17-13:18:18.95,Deck 2,no,NaN,Norm,Sharma,6.000,ml
81,2284,Rufous,M,male,NaN,13:25:18.04-13:25:52.88,Deck 2,yes,NaN,Bobert,Sharma,18.000,ml
82,2285,Anna's,S,female,NaN,17:29:51.33-17:30:23.31,NE Corner,yes,NaN,Petunia,O'Flaherty,4.000,ml
83,2286,Calliope,M,male,NaN,17:43:45.36-17:44:08.97,Deck 2,no,NaN,Cake,Prefect,3.000,ml
84,2287,Calliope,M,male,NaN,17:50:33.58-17:50:53.55,NE Corner,no,NaN,Cake,Prefect,14.000,ml
85,2288,Rufous,M,female,NaN,17:54:55.60-17:55:25.61,Back Patio,yes,NaN,Francine,Johnson,7.000,ml
86,2289,Rufous,M,female,NaN,18:51:10.32-18:51:36.69,Back Patio,no,NaN,Judith,McKnight,12.000,ml
87,2290,Anna's,M,female,NaN,19:45:14.81-19:45:40.17,Back Patio,yes,NaN,Walpurga,Schwalbe,10.000,ml
88,2291,Calliope,M,male,NaN,20:11:28.39-20:12:01.72,Garage,no,NaN,Horace,Prefect,0.000,ml
89,2292,Rufous,M,female,NaN,06:42:39.22-06:42:55.71,Deck 2,no,NaN,Francine,Johnson,15.000,ml
90,2293,Anna's,XL,male,NaN,09:58:04.52-09:58:40.48,Garage,no,NaN,Malachi,Schwalbe,15.000,ml
91,2294,NaN,M,female,NaN,10:08:03.31-10:08:24.07,NE Corner,yes,NaN,Renee,Prefect,6.000,ml
92,2295,Rufous,M,male,NaN,10:12:21.61-10:12:36.51,Back Patio,no,NaN,Wally,Sharma,10.000,ml
93,2296,Anna's,L,male,NaN,10:26:06.56-10:26:36.19,Garage,yes,NaN,King,Schwalbe,13.000,ml
94,2297,Calliope,S,male,NaN,10:31:55.55-10:32:13.74,Entry,yes,NaN,Gunnar,Prefect,4.000,ml
95,2298,Rufous,XL,female,NaN,11:28:15.61-11:28:39.54,Deck 2,no,NaN,Gale,Sharma,15.000,ml
96,2299,Rufous,XL,female,NaN,12:02:28.48-12:02:57.29,Deck 2,no,NaN,Gale,Sharma,19.000,ml
97,2300,Rufous,M,female,NaN,12:39:31.69-12:39:59.12,Deck 1,yes,NaN,Judith,McKnight,15.000,ml
98,2301,Rufous,S,male,NaN,12:53:47.39-12:54:00.42,Deck 1,yes,NaN,Weatherford,Johnson,0.000,ml
99,2302,Rufous,L,female,NaN,12:54:14.40-12:54:35.65,Back Patio,yes,NaN,Rose,Kim,0.422,oz
100,2303,Rufous,M,female,NaN,13:37:11.75-13:37:45.15,Deck 2,yes,NaN,Mitz,Johnson,12.000,ml
101,2304,Calliope,S,male,NaN,14:22:12.77-14:22:27.95,Entry,yes,NaN,Gunnar,Prefect,5.000,ml
102,2305,Rufous,M,female,NaN,14:29:06.38-14:29:40.99,Deck 1,yes,NaN,June,McKnight,12.000,ml
103,2306,Anna's,M,female,NaN,16:32:17.59-16:32:37.37,Back Patio,yes,NaN,Walpurga,Schwalbe,13.000,ml
104,2307,Rufous,M,male,NaN,17:06:58.40-17:07:16.94,Deck 1,no,NaN,Herbert,McKnight,5.000,ml
105,2308,Anna's,L,male,NaN,19:12:52.24-19:13:18.72,NE Corner,no,NaN,King,Schwalbe,0.216,oz
106,2309,Rufous,M,male,NaN,06:26:42.58-06:27:01.39,Deck 1,yes,NaN,Bobert,Sharma,0.000,ml
107,2310,Rufous,M,male,NaN,09:48:39.25-09:49:14.27,Deck 1,no,NaN,Norm,Sharma,3.000,ml
108,2311,Rufous,M,male,NaN,10:52:57.73-10:53:08.73,Back Patio,yes,NaN,Clancy,McKnight,2.000,ml
109,2312,Anna's,S,female,NaN,11:06:25.51-11:06:32.66,Back Patio,yes,NaN,Petunia,O'Flaherty,9.000,ml
110,2313,Calliope,S,male,NaN,12:00:18.53-12:00:29.79,Deck 2,yes,NaN,Gunnar,Prefect,8.000,ml
111,2314,Calliope,S,male,NaN,12:00:18.53-12:00:29.79,Deck 2,yes,NaN,Gunnar,Prefect,8.000,ml
112,2315,NaN,M,NaN,NaN,12:21:26.31-12:21:40.92,Deck 1,no,NaN,NaN,NaN,0.411,oz
113,2316,Rufous,M,female,NaN,12:25:39.37-12:25:56.60,Deck 2,yes,NaN,Mitz,Johnson,16.000,ml
114,2317,Calliope,M,female,NaN,13:27:35.82-13:28:02.84,Entry,yes,NaN,Renee,Prefect,0.000,ml
115,2318,Rufous,M,female,NaN,14:02:57.18-14:03:24.89,Deck 1,yes,NaN,Francine,Johnson,8.000,ml
116,2319,Calliope,M,female,NaN,14:32:58.43-14:33:07.38,Garage,yes,NaN,Coco,Prefect,0.057,oz
117,2320,Rufous,M,male,NaN,15:15:24.00-15:15:36.54,Back Patio,no,NaN,Lucky,Kim,0.414,oz
118,2321,Rufous,L,female,NaN,15:34:53.92-15:35:24.34,Back Patio,yes,NaN,Daffodil,Johnson,7.000,ml
119,2322,Calliope,M,male,NaN,16:06:31.98-16:06:42.05,Garage,no,NaN,Cake,Prefect,13.000,ml
120,2323,Calliope,M,female,NaN,17:14:46.10-17:15:14.36,NE Corner,no,NaN,Hortence,Prefect,0.122,oz
121,2324,Rufous,M,male,NaN,05:46:41.82-05:47:07.79,Back Patio,yes,NaN,Kevin,McKnight,2.000,ml
122,2325,Rufous,M,male,NaN,07:09:21.87-07:09:42.63,Back Patio,yes,NaN,Bobert,Sharma,13.000,ml
123,2326,Rufous,M,male,NaN,08:37:02.51-08:37:08.43,Back Patio,no,NaN,Kevin,McKnight,2.000,ml
124,2327,Anna's,M,male,NaN,08:56:25.82-08:56:44.21,Deck 2,yes,NaN,Virgil,Schwalbe,10.000,ml
125,2328,Calliope,S,male,NaN,10:23:14.20-10:23:36.43,NE Corner,yes,NaN,Gunnar,Prefect,10.000,ml
126,2329,Rufous,M,female,NaN,11:12:32.30-11:13:01.81,Back Patio,no,NaN,June,McKnight,0.000,ml
127,2330,Calliope,S,male,NaN,11:57:34.58-11:57:48.99,Deck 2,yes,NaN,Gunnar,Prefect,12.000,ml
128,2331,Anna's,M,male,NaN,12:36:04.01-12:36:34.49,Back Patio,no,NaN,Virgil,Schwalbe,8.000,ml
129,2332,Anna's,S,female,NaN,12:44:45.86-12:44:59.85,Back Patio,yes,NaN,Ruby,Schwalbe,17.000,ml
130,2333,Anna's,M,male,NaN,13:57:25.34-13:57:32.14,Garage,yes,NaN,Sol,Schwalbe,8.000,ml
131,2334,Anna's,M,male,NaN,14:15:08.01-14:15:34.03,NE Corner,no,NaN,Sol,Schwalbe,11.000,ml
132,2335,Calliope,M,female,NaN,14:40:15.03-14:40:37.29,NE Corner,no,NaN,Renee,Prefect,12.000,ml
133,2336,Calliope,M,female,NaN,14:40:15.03-14:40:37.29,NE Corner,no,NaN,Renee,Prefect,12.000,ml
134,2337,Calliope,M,female,NaN,14:40:15.03-14:40:37.29,NE Corner,no,NaN,Renee,Prefect,12.000,ml
135,2338,Rufous,M,male,NaN,15:00:38.93-15:00:49.84,Deck 1,no,NaN,Norm,Sharma,13.000,ml
136,2339,Rufous,L,female,NaN,15:10:18.69-15:10:52.34,Back Patio,yes,NaN,Daffodil,Johnson,21.000,ml
137,2340,Anna's,M,male,NaN,15:43:53.90-15:44:13.82,Garage,yes,NaN,Virgil,Schwalbe,3.000,ml
138,2341,Rufous,M,female,NaN,18:37:55.19-18:38:20.07,Deck 2,no,NaN,June,McKnight,7.000,ml
139,2342,Anna's,M,male,NaN,19:58:38.20-19:58:51.97,Deck 2,yes,NaN,Bill,O'Flaherty,13.000,ml
140,2343,Anna's,S,female,NaN,08:02:50.59-08:03:07.19,Garage,yes,NaN,Ursula,Schwalbe,1.000,ml
141,2344,Rufous,M,male,NaN,09:47:47.39-09:48:01.94,Deck 1,no,NaN,Bobert,Sharma,0.000,ml
142,2345,Anna's,L,male,NaN,10:17:24.65-10:17:44.25,Back Patio,no,NaN,King,Schwalbe,14.000,ml
143,2346,Rufous,M,male,NaN,11:34:31.64-11:34:56.62,Deck 1,no,NaN,Lucky,Kim,20.000,ml
144,2347,Anna's,M,male,NaN,13:00:31.04-13:01:06.70,Deck 2,no,NaN,Sol,Schwalbe,1.000,ml
145,2348,Rufous,M,male,NaN,13:31:20.16-13:31:39.19,Back Patio,no,NaN,Lucky,Kim,10.000,ml
146,2349,Rufous,M,female,NaN,13:35:06.44-13:35:24.56,Deck 1,yes,NaN,Mitz,Johnson,7.000,ml
147,2350,Calliope,M,female,NaN,17:35:37.08-17:35:55.67,NE Corner,yes,NaN,Renee,Prefect,15.000,ml
148,2351,Rufous,M,male,NaN,07:54:49.57-07:55:13.75,Deck 1,no,NaN,Clancy,McKnight,4.000,ml
149,2352,Anna's,S,female,NaN,09:47:38.08-09:48:00.99,Garage,yes,NaN,Ruby,Schwalbe,0.000,ml
150,2353,Anna's,S,female,NaN,10:14:27.12-10:14:41.51,Garage,yes,NaN,Ursula,Schwalbe,10.000,ml
151,2354,Rufous,XL,female,NaN,10:49:19.08-10:49:36.86,Back Patio,no,NaN,Gale,Sharma,14.000,ml
152,2355,Calliope,S,male,NaN,11:14:48.80-11:15:14.72,Entry,yes,NaN,Gunnar,Prefect,3.000,ml
153,2356,Calliope,M,male,NaN,11:59:35.40-11:59:43.93,NE Corner,no,NaN,Cake,Prefect,14.000,ml
154,2357,Rufous,S,male,NaN,12:15:20.47-12:15:35.49,Deck 2,yes,NaN,Weatherford,Johnson,7.000,ml
155,2358,Anna's,XL,male,NaN,12:58:37.19-12:59:04.19,Entry,no,NaN,Malachi,Schwalbe,1.000,ml
156,2359,Anna's,M,male,NaN,13:32:57.07-13:33:13.71,Garage,no,NaN,Sol,Schwalbe,3.000,ml
157,2360,Anna's,XL,male,NaN,14:43:13.38-14:43:32.72,Garage,no,NaN,Malachi,Schwalbe,13.000,ml
158,2361,Anna's,L,male,NaN,14:56:01.69-14:56:17.48,Back Patio,no,NaN,Bort,O'Flaherty,5.000,ml
159,2362,Calliope,M,female,NaN,17:18:52.22-17:19:21.25,Back Patio,no,NaN,Hortence,Prefect,6.000,ml
160,2363,Anna's,L,male,NaN,18:21:09.77-18:21:32.36,Garage,no,NaN,King,Schwalbe,11.000,ml
161,2364,Anna's,M,male,NaN,19:03:13.85-19:03:42.53,NE Corner,no,NaN,Virgil,Schwalbe,12.000,ml
162,2365,Anna's,L,male,NaN,06:26:35.07-06:26:57.44,Entry,yes,NaN,King,Schwalbe,17.000,ml
163,2366,Anna's,M,male,NaN,07:13:36.30-07:13:56.34,Garage,no,NaN,Sol,Schwalbe,14.000,ml
164,2367,Calliope,S,male,NaN,08:54:39.37-08:54:56.69,Entry,yes,NaN,Gunnar,Prefect,15.000,ml
165,2368,Calliope,M,female,NaN,08:58:43.46-08:59:04.29,Garage,no,NaN,Hortence,Prefect,1.000,ml
166,2369,Calliope,M,male,NaN,09:17:34.79-09:17:42.27,Deck 2,yes,NaN,Cake,Prefect,14.000,ml
167,2370,Rufous,M,NaN,NaN,10:51:57.66-10:52:11.45,Deck 1,yes,NaN,Edeltraud,McKnight,3.000,ml
168,2371,Rufous,M,male,NaN,10:57:24.60-10:57:39.33,Back Patio,yes,NaN,Bobert,Sharma,11.000,ml
169,2372,Rufous,M,female,NaN,12:21:03.60-12:21:37.17,Deck 1,no,NaN,Blossom,Kim,9.000,ml
170,2373,Anna's,M,male,NaN,12:42:02.73-12:42:30.30,Deck 2,yes,NaN,Virgil,Schwalbe,8.000,ml
171,2374,Anna's,S,female,NaN,12:50:07.81-12:50:30.08,Entry,yes,NaN,Ursula,Schwalbe,5.000,ml
172,2375,Anna's,S,female,NaN,13:08:25.58-13:08:50.61,Back Patio,yes,NaN,Ursula,Schwalbe,9.000,ml
173,2376,Anna's,L,male,NaN,13:29:53.11-13:30:25.12,Deck 2,no,NaN,King,Schwalbe,10.000,ml
174,2377,Rufous,S,male,NaN,13:41:45.81-13:42:04.72,Deck 1,yes,NaN,Weatherford,Johnson,1.000,ml
175,2378,Rufous,XL,female,NaN,14:51:53.75-14:52:09.95,Deck 1,no,NaN,Gale,Sharma,4.000,ml
176,2379,Calliope,M,female,NaN,15:27:25.83-15:27:33.66,Garage,no,NaN,Coco,Prefect,10.000,ml
177,2380,Anna's,XL,male,NaN,17:07:55.35-17:08:13.15,NE Corner,no,NaN,Malachi,Schwalbe,4.000,ml
178,2381,Rufous,M,male,NaN,17:29:01.20-17:29:06.08,Deck 1,no,NaN,Clancy,McKnight,1.000,ml
179,2382,Rufous,S,male,NaN,18:27:43.08-18:28:10.05,Back Patio,no,NaN,Weatherford,Johnson,2.000,ml
180,2383,Rufous,L,female,NaN,09:18:13.39-09:18:31.24,Back Patio,no,NaN,Rose,Kim,11.000,ml
181,2384,Rufous,L,female,NaN,09:18:13.39-09:18:31.24,Back Patio,no,NaN,Rose,Kim,11.000,ml
182,2385,Calliope,M,female,NaN,09:34:36.77-09:34:58.90,Entry,no,NaN,Renee,Prefect,13.000,ml
183,2386,Anna's,XL,male,NaN,10:01:33.81-10:01:54.84,Deck 2,no,NaN,Malachi,Schwalbe,25.000,ml
184,2387,Anna's,M,male,NaN,10:03:40.50-10:03:53.91,NE Corner,yes,NaN,Virgil,Schwalbe,14.000,ml
185,2388,Anna's,S,female,NaN,10:28:33.07-10:28:58.00,NE Corner,yes,NaN,Petunia,O'Flaherty,17.000,ml
186,2389,Anna's,S,female,NaN,11:46:38.49-11:46:50.58,Entry,yes,NaN,Ruby,Schwalbe,14.000,ml
187,2390,Calliope,M,female,NaN,11:52:48.96-11:52:58.35,Back Patio,yes,NaN,Coco,Prefect,19.000,ml
188,2391,Rufous,XL,female,NaN,13:22:44.63-13:23:15.56,Deck 1,no,NaN,Gale,Sharma,6.000,ml
189,2392,Anna's,XL,male,NaN,13:25:54.41-13:26:26.68,Garage,no,NaN,Malachi,Schwalbe,11.000,ml
190,2393,Rufous,M,male,NaN,13:45:16.13-13:45:25.60,Deck 1,no,NaN,Norm,Sharma,8.000,ml
191,2394,NaN,M,female,NaN,14:19:27.24-14:20:02.52,Back Patio,yes,NaN,Edeltraud,McKnight,NaN,NaN
192,2395,NaN,M,NaN,NaN,14:37:53.38-14:38:17.06,Entry,no,NaN,NaN,NaN,5.000,ml
193,2396,Prefect,20 ml,no,Calliope,NaN,15:16:40.19-15:16:55.98,Garage,M,Hortence,None,NaN,None
194,2397,Rufous,M,male,NaN,15:26:43.42-15:27:12.67,Deck 1,yes,NaN,Clancy,McKnight,4.000,ml
195,2398,Anna's,M,male,NaN,15:29:07.26-15:29:13.25,NE Corner,yes,NaN,Virgil,Schwalbe,4.000,ml
196,2399,Rufous,M,male,NaN,16:47:08.76-16:47:28.26,Deck 1,no,NaN,Kevin,McKnight,7.000,ml
197,2400,Rufous,M,male,NaN,17:55:07.10-17:55:29.90,Deck 1,yes,NaN,Kevin,McKnight,9.000,ml
198,2401,Anna's,L,male,NaN,05:44:11.84-05:44:44.62,Back Patio,no,NaN,King,Schwalbe,16.000,ml
199,2402,Anna's,S,female,NaN,07:14:56.56-07:15:22.44,Entry,yes,NaN,Ruby,Schwalbe,5.000,ml
200,2403,Rufous,M,male,NaN,08:38:31.22-08:38:50.82,Back Patio,yes,NaN,Kevin,McKnight,11.000,ml
201,2404,Rufous,S,male,NaN,09:12:19.77-09:12:37.93,Deck 2,yes,NaN,Weatherford,Johnson,8.000,ml
202,2405,Anna's,S,female,NaN,09:22:10.71-09:22:25.86,Deck 2,yes,NaN,Ruby,Schwalbe,6.000,ml
203,2406,Anna's,M,male,NaN,11:44:42.41-11:44:50.49,Garage,no,NaN,Virgil,Schwalbe,16.000,ml
204,2407,Calliope,M,female,NaN,12:51:53.40-12:52:00.33,Entry,no,NaN,Hortence,Prefect,NaN,NaN
205,2408,Calliope,M,female,NaN,13:07:19.30-13:07:43.04,Deck 2,no,NaN,Renee,Prefect,15.000,ml
206,2409,Anna's,S,female,NaN,13:29:04.55-13:29:26.83,Entry,yes,NaN,Ursula,Schwalbe,8.000,ml
207,2410,Anna's,M,female,NaN,13:32:12.32-13:32:35.95,Back Patio,no,NaN,Walpurga,Schwalbe,9.000,ml
208,2411,Rufous,M,female,NaN,13:39:27.88-13:40:00.89,Back Patio,no,NaN,June,McKnight,0.000,ml
209,2412,Rufous,M,male,NaN,15:30:24.88-15:30:33.31,Deck 2,yes,NaN,Clancy,McKnight,10.000,ml
210,2413,Rufous,M,male,NaN,15:34:14.33-15:34:23.51,Deck 2,no,NaN,Norm,Sharma,8.000,ml
211,2414,Rufous,M,female,NaN,15:37:27.87-15:37:39.09,Deck 1,no,NaN,Blossom,Kim,10.000,ml
212,2415,Anna's,M,male,NaN,15:45:48.16-15:46:09.79,Deck 2,no,NaN,Sol,Schwalbe,2.000,ml
213,2416,Calliope,L,female,NaN,16:00:56.80-16:01:28.09,NE Corner,no,NaN,Nyx,Prefect,9.000,ml
214,2417,Rufous,XL,female,NaN,16:03:29.80-16:03:49.56,Back Patio,no,NaN,Gale,Sharma,21.000,ml
215,2418,NaN,S,female,NaN,16:43:58.93-16:44:09.29,Back Patio,yes,NaN,Ruby,Schwalbe,2.000,ml

In [14]:
#Replace with code to remove missing data for the 'Amount_Eat' column
df = df[df['Amount_Eat'].notna()] # drop rows with missing data based on a specified column
len(df) #check the new length of the dataset

283

### 4E

Ensure that each visit is unique. In other words, no visit should be recorded more than once (duplicated). Remove duplicates from the VisitSpan column  using the drop_duplicates() method.

Then use the len() method to show how many observations were dropped.

In [15]:
df = df.drop_duplicates(subset=['VisitSpan']) #drop duplicate records from the 'VisitSpan' column

#Replace with code to check the new length of the dataset (see above)
len(df)

279

### 4F
Split the VisitSpan column into two columns: rename them StartTime and EndTime.

Then ensure that both time columns are set as datetime objects by using the pd.to_datetime() method.

In [16]:
#Replace with code to split 'VisitSpan' based on the '-' delimiter, create a StartTime and EndTime column
df[['StartTime', 'EndTime']] = df['VisitSpan'].str.split('-', expand = True) # split based on _ delimeter
df['StartTime'] = pd.to_datetime(df['StartTime'], format='%H:%M:%S.%f') #converts StartTime to hours:minutes:seconds format
df['EndTime'] = pd.to_datetime(df['EndTime'], format='%H:%M:%S.%f') #converts EndTime to hours:minutes:seconds format

#Replace with code to drop the 'VisitSpan' column
df = df.drop('VisitSpan', axis = 1)
#Replace with code to show header of dataframte
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime
0,2203,Rufous,S,female,NaN,Back Patio,yes,NaN,Rose,Kim,17.0,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109
1,2204,Calliope,M,male,NaN,NE Corner,yes,NaN,Horace,Prefect,6.0,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970
2,2205,Rufous,M,female,NaN,Deck 2,no,NaN,Edeltraud,McKnight,5.0,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740
3,2206,Rufous,M,male,NaN,Deck 1,yes,NaN,Herbert,McKnight,2.0,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480
4,2207,Anna's,M,female,NaN,Garage,yes,NaN,Walpurga,Schwalbe,3.0,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410

### 4G
Some recordings of Amount appear to have been made in ounces rather than in milliliters. All of them should be in milliliters. Convert those in ounces to milliliters (1 oz. = 29.57 ml).

Start by subsetting the data to only those observations containing oz, then apply the conversion to the *Amount_Eat* column and replace the values in the *Unit* column with ml.

In [17]:
df_oz = df[df['Unit'] == 'oz'] #subsets dataset to only contain oz
df_oz['Amount_Eat'] = 29.57*df['Amount_Eat'] #applies conversion formula
df_oz['Unit'] = df_oz['Unit'].replace('oz', 'ml') #replaces oz with ml
df_oz.head() #just run this entire code block as is

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime
33,2236,Anna's,S,female,NaN,Back Patio,no,NaN,Petunia,O'Flaherty,0.00000,ml,1900-01-01 17:01:37.830,1900-01-01 17:02:00.030
36,2239,NaN,M,female,NaN,Deck 1,yes,NaN,Francine,Johnson,7.92476,ml,1900-01-01 09:02:56.800,1900-01-01 09:03:28.740
39,2242,Rufous,M,male,NaN,Deck 2,yes,NaN,Lucky,Kim,0.14785,ml,1900-01-01 12:02:30.950,1900-01-01 12:03:00.410
99,2302,Rufous,L,female,NaN,Back Patio,yes,NaN,Rose,Kim,12.47854,ml,1900-01-01 12:54:14.400,1900-01-01 12:54:35.650
105,2308,Anna's,L,male,NaN,NE Corner,no,NaN,King,Schwalbe,6.38712,ml,1900-01-01 19:12:52.240,1900-01-01 19:13:18.720

###**4H**

**Next, you'll combine your original dataframe with the new subset dataframe using the concat() method. Finally, drop rows containing 'oz' in the *Unit* column.**

**Make sure you have the correct number of observations still by using the len() method.**

In [18]:
frames = [df, df_oz]
df = pd.concat(frames) #combines the original df with the new subsetted df
df = df[df.Unit != 'oz'] #removes rows containing oz

#Replace with code to examine length of dataframe (see earlier portions of this assignment)
len(df)

279

### 4I

Createa new column, called “IsFemale”. This column should include a 1 if the hummingbird that made the visit is female, or 0 if the hummingbird is male.

In [19]:
#Replace with code to create new column called IsFemale using the np.where method
df['IsFemale'] = np.where(df['Gender'] == 'female',1,0)
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale
0,2203,Rufous,S,female,NaN,Back Patio,yes,NaN,Rose,Kim,17.0,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1
1,2204,Calliope,M,male,NaN,NE Corner,yes,NaN,Horace,Prefect,6.0,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0
2,2205,Rufous,M,female,NaN,Deck 2,no,NaN,Edeltraud,McKnight,5.0,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1
3,2206,Rufous,M,male,NaN,Deck 1,yes,NaN,Herbert,McKnight,2.0,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0
4,2207,Anna's,M,female,NaN,Garage,yes,NaN,Walpurga,Schwalbe,3.0,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1

### 4J
Create a new column called Duration, which includes the duration of the visit in seconds. Creat this column from the *StartTime* and *EndTime* columns then convert to seconds using dt.total_seconds().

In [20]:
df['Duration'] = df['EndTime'] - df['StartTime'] #creates new 'Duration' column by subtracting StartTime from EndTime

In [21]:
df['Duration'] = df['Duration'].dt.total_seconds() #converts 'Duration' to seconds
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
0,2203,Rufous,S,female,NaN,Back Patio,yes,NaN,Rose,Kim,17.0,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
1,2204,Calliope,M,male,NaN,NE Corner,yes,NaN,Horace,Prefect,6.0,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2,2205,Rufous,M,female,NaN,Deck 2,no,NaN,Edeltraud,McKnight,5.0,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
3,2206,Rufous,M,male,NaN,Deck 1,yes,NaN,Herbert,McKnight,2.0,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
4,2207,Anna's,M,female,NaN,Garage,yes,NaN,Walpurga,Schwalbe,3.0,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080

### 4K

View the full dataset, to spot check your cleaned data and address any remaining issues you notice.

In [22]:
pd.set_option("display.max_rows", None, "display.max_columns", None) #views full dataframe
df

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,Unnamed: 10,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
0,2203,Rufous,S,female,NaN,Back Patio,yes,NaN,Rose,Kim,17.00000,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
1,2204,Calliope,M,male,NaN,NE Corner,yes,NaN,Horace,Prefect,6.00000,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2,2205,Rufous,M,female,NaN,Deck 2,no,NaN,Edeltraud,McKnight,5.00000,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
3,2206,Rufous,M,male,NaN,Deck 1,yes,NaN,Herbert,McKnight,2.00000,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
4,2207,Anna's,M,female,NaN,Garage,yes,NaN,Walpurga,Schwalbe,3.00000,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080
5,2208,Anna's,M,female,NaN,Deck 2,yes,NaN,Walpurga,Schwalbe,13.00000,ml,1900-01-01 09:28:41.640,1900-01-01 09:28:52.640,1,11.000
7,2210,Rufous,M,female,NaN,Deck 1,no,NaN,Blossom,Kim,9.00000,ml,1900-01-01 11:27:05.530,1900-01-01 11:27:31.410,1,25.880
8,2211,Rufous,XL,female,NaN,Back Patio,no,NaN,Gale,Sharma,13.00000,ml,1900-01-01 12:14:11.700,1900-01-01 12:14:35.720,1,24.020
9,2212,Anna's,L,male,NaN,NE Corner,no,NaN,King,Schwalbe,6.00000,ml,1900-01-01 12:14:45.980,1900-01-01 12:15:14.450,0,28.470
10,2213,Rufous,M,male,NaN,Deck 2,yes,NaN,Lucky,Kim,3.00000,ml,1900-01-01 13:07:55.820,1900-01-01 13:08:11.090,0,15.270
11,2214,Anna's,S,female,NaN,Deck 2,yes,NaN,Ruby,Schwalbe,10.00000,ml,1900-01-01 14:08:35.900,1900-01-01 14:08:41.950,1,6.050
12,2215,Rufous,M,male,NaN,Back Patio,yes,NaN,Norm,Sharma,9.00000,ml,1900-01-01 15:15:15.550,1900-01-01 15:15:35.110,0,19.560
13,2216,Anna's,S,female,NaN,Deck 2,yes,NaN,Petunia,O'Flaherty,2.00000,ml,1900-01-01 15:38:48.390,1900-01-01 15:39:11.490,1,23.100
14,2217,Anna's,M,male,NaN,Back Patio,yes,NaN,Sol,Schwalbe,14.00000,ml,1900-01-01 16:58:39.170,1900-01-01 16:58:57.620,0,18.450
15,2218,Rufous,M,female,NaN,Deck 2,yes,NaN,Mitz,Johnson,11.00000,ml,1900-01-01 17:25:12.740,1900-01-01 17:25:34.440,1,21.700
16,2219,Rufous,M,female,NaN,Deck 1,no,NaN,Francine,Johnson,14.00000,ml,1900-01-01 07:29:33.890,1900-01-01 07:29:56.560,1,22.670
17,2220,Rufous,M,female,NaN,Back Patio,no,NaN,June,McKnight,4.00000,ml,1900-01-01 09:52:51.780,1900-01-01 09:53:14.730,1,22.950
18,2221,Rufous,M,male,NaN,Back Patio,no,NaN,Lucky,Kim,10.00000,ml,1900-01-01 10:25:08.100,1900-01-01 10:25:29.680,0,21.580
19,2222,Anna's,L,male,NaN,NE Corner,no,NaN,King,Schwalbe,0.00000,ml,1900-01-01 11:09:34.780,1900-01-01 11:10:01.070,0,26.290
20,2223,Anna's,M,male,NaN,Entry,no,NaN,Virgil,Schwalbe,5.00000,ml,1900-01-01 11:35:55.060,1900-01-01 11:36:16.760,0,21.700
21,2224,Anna's,L,male,NaN,Deck 2,no,NaN,Bort,O'Flaherty,8.00000,ml,1900-01-01 11:54:20.110,1900-01-01 11:54:29.640,0,9.530
22,2225,Anna's,XL,male,NaN,Back Patio,yes,NaN,Malachi,Schwalbe,2.00000,ml,1900-01-01 12:26:37.480,1900-01-01 12:27:05.680,0,28.200
23,2226,Rufous,M,female,NaN,Back Patio,yes,NaN,June,McKnight,5.00000,ml,1900-01-01 12:26:58.010,1900-01-01 12:27:19.080,1,21.070
24,2227,Rufous,M,male,NaN,Deck 1,yes,NaN,Bobert,Sharma,21.00000,ml,1900-01-01 12:34:38.960,1900-01-01 12:34:56.590,0,17.630
25,2228,Anna's,S,female,NaN,Garage,yes,NaN,Petunia,O'Flaherty,4.00000,ml,1900-01-01 12:36:58.280,1900-01-01 12:37:26.580,1,28.300
26,2229,Anna's,S,female,NaN,NE Corner,yes,NaN,Ruby,Schwalbe,3.00000,ml,1900-01-01 12:37:00.800,1900-01-01 12:37:17.850,1,17.050
27,2230,Rufous,M,female,NaN,Deck 1,no,NaN,Edeltraud,McKnight,2.00000,ml,1900-01-01 13:18:55.660,1900-01-01 13:19:09.190,1,13.530
28,2231,Anna's,L,male,NaN,NE Corner,no,NaN,King,Schwalbe,10.00000,ml,1900-01-01 13:23:11.980,1900-01-01 13:23:29.770,0,17.790
29,2232,Anna's,M,female,NaN,NE Corner,no,NaN,Walpurga,Schwalbe,7.00000,ml,1900-01-01 15:07:05.170,1900-01-01 15:07:31.630,1,26.460
30,2233,Calliope,M,female,NaN,NE Corner,yes,NaN,Renee,Prefect,11.00000,ml,1900-01-01 15:54:15.270,1900-01-01 15:54:41.580,1,26.310
31,2234,Rufous,M,female,NaN,Back Patio,yes,NaN,June,McKnight,0.00000,ml,1900-01-01 16:18:40.380,1900-01-01 16:19:01.380,1,21.000
32,2235,Rufous,M,female,NaN,Deck 2,yes,NaN,Edeltraud,McKnight,11.00000,ml,1900-01-01 16:33:19.740,1900-01-01 16:33:30.570,1,10.830
34,2237,Rufous,M,male,NaN,Deck 2,no,NaN,Clancy,McKnight,16.00000,ml,1900-01-01 17:28:37.120,1900-01-01 17:28:54.440,0,17.320
35,2238,Anna's,L,male,NaN,NE Corner,no,NaN,Bort,O'Flaherty,9.00000,ml,1900-01-01 17:59:52.710,1900-01-01 18:00:22.840,0,30.130
37,2240,Anna's,S,female,NaN,NE Corner,no,NaN,Ruby,Schwalbe,9.00000,ml,1900-01-01 11:16:29.940,1900-01-01 11:16:52.880,1,22.940
38,2241,Anna's,L,male,NaN,NE Corner,no,NaN,Bort,O'Flaherty,9.00000,ml,1900-01-01 11:47:10.080,1900-01-01 11:47:29.870,0,19.790
40,2243,Anna's,L,male,NaN,Entry,yes,NaN,King,Schwalbe,12.00000,ml,1900-01-01 12:10:23.420,1900-01-01 12:10:43.250,0,19.830
42,2245,Rufous,M,female,NaN,Back Patio,yes,NaN,Mitz,Johnson,8.00000,ml,1900-01-01 13:33:08.790,1900-01-01 13:33:26.040,1,17.250
43,2246,Calliope,M,female,NaN,Back Patio,yes,NaN,Renee,Prefect,5.00000,ml,1900-01-01 13:53:55.260,1900-01-01 13:54:22.180,1,26.920
44,2247,Rufous,M,male,NaN,Back Patio,yes,NaN,Wally,Sharma,11.00000,ml,1900-01-01 14:26:32.640,1900-01-01 14:26:47.910,0,15.270
45,2248,Rufous,M,female,NaN,Deck 2,yes,NaN,Mitz,Johnson,6.00000,ml,1900-01-01 14:53:47.690,1900-01-01 14:54:18.060,1,30.370
46,2249,Calliope,M,female,NaN,Entry,no,NaN,Renee,Prefect,11.00000,ml,1900-01-01 15:01:13.770,1900-01-01 15:01:39.940,1,26.170
47,2250,Rufous,M,female,NaN,Deck 1,yes,NaN,Edeltraud,McKnight,7.00000,ml,1900-01-01 17:40:07.860,1900-01-01 17:40:33.430,1,25.570
48,2251,Calliope,M,female,NaN,Deck 2,yes,NaN,Renee,Prefect,1.00000,ml,1900-01-01 08:35:49.120,1900-01-01 08:36:07.420,1,18.300
49,2252,Rufous,M,female,NaN,Deck 2,yes,NaN,Judith,McKnight,16.00000,ml,1900-01-01 08:39:38.690,1900-01-01 08:39:52.390,1,13.700
50,2253,Rufous,M,female,NaN,Back Patio,no,NaN,Blossom,Kim,7.00000,ml,1900-01-01 08:50:10.080,1900-01-01 08:50:25.560,1,15.480
51,2254,Calliope,M,male,NaN,Garage,no,NaN,Cake,Prefect,10.00000,ml,1900-01-01 09:11:03.500,1900-01-01 09:11:32.590,0,29.090
52,2255,NaN,M,male,NaN,Deck 2,yes,NaN,Virgil,Schwalbe,4.00000,ml,1900-01-01 09:50:47.270,1900-01-01 09:51:15.710,0,28.440
53,2256,Calliope,M,male,NaN,Garage,no,NaN,Horace,Prefect,8.00000,ml,1900-01-01 09:59:01.270,1900-01-01 09:59:28.700,0,27.430
54,2257,Rufous,M,female,NaN,Back Patio,yes,NaN,Judith,McKnight,10.00000,ml,1900-01-01 10:29:13.660,1900-01-01 10:29:36.240,1,22.580
55,2258,Rufous,M,male,NaN,Deck 1,yes,NaN,Herbert,McKnight,9.00000,ml,1900-01-01 10:49:13.620,1900-01-01 10:49:28.100,0,14.480
56,2259,Rufous,XL,female,NaN,Deck 1,no,NaN,Gale,Sharma,12.00000,ml,1900-01-01 10:52:49.400,1900-01-01 10:53:25.520,1,36.120
57,2260,Calliope,M,female,NaN,Garage,yes,NaN,Hortence,Prefect,3.00000,ml,1900-01-01 11:29:53.360,1900-01-01 11:30:10.070,1,16.710
58,2261,Rufous,M,male,NaN,Back Patio,no,NaN,Wally,Sharma,16.00000,ml,1900-01-01 12:11:51.850,1900-01-01 12:11:59.630,0,7.780
59,2262,Calliope,M,female,NaN,Entry,yes,NaN,Hortence,Prefect,0.00000,ml,1900-01-01 12:12:44.630,1900-01-01 12:13:03.030,1,18.400
60,2263,Rufous,M,male,NaN,Deck 2,no,NaN,Kevin,McKnight,1.00000,ml,1900-01-01 12:30:40.600,1900-01-01 12:31:04.220,0,23.620
61,2264,Anna's,M,male,NaN,NE Corner,no,NaN,Bill,O'Flaherty,0.00000,ml,1900-01-01 13:15:50.300,1900-01-01 13:16:00.510,0,10.210
62,2265,Anna's,S,female,NaN,NE Corner,no,NaN,Petunia,O'Flaherty,9.00000,ml,1900-01-01 13:44:40.490,1900-01-01 13:44:52.690,1,12.200
63,2266,Calliope,S,male,NaN,Garage,yes,NaN,Gunnar,Prefect,6.00000,ml,1900-01-01 14:15:10.570,1900-01-01 14:15:30.330,0,19.760
64,2267,Anna's,L,male,NaN,Entry,no,NaN,King,Schwalbe,23.00000,ml,1900-01-01 14:29:42.920,1900-01-01 14:29:58.830,0,15.910
65,2268,Calliope,L,female,NaN,Back Patio,yes,NaN,Nyx,Prefect,8.00000,ml,1900-01-01 16:09:10.140,1900-01-01 16:09:29.110,1,18.970
66,2269,Anna's,S,female,NaN,Garage,yes,NaN,Ruby,Schwalbe,0.00000,ml,1900-01-01 18:04:30.970,1900-01-01 18:05:00.320,1,29.350
67,2270,Rufous,M,male,NaN,Back Patio,yes,NaN,Clancy,McKnight,9.00000,ml,1900-01-01 18:29:27.940,1900-01-01 18:29:36.090,0,8.150
68,2271,Rufous,M,female,NaN,Deck 1,no,NaN,June,McKnight,5.00000,ml,1900-01-01 19:19:55.160,1900-01-01 19:20:15.280,1,20.120
69,2272,Rufous,M,male,NaN,Back Patio,no,NaN,Clancy,McKnight,6.00000,ml,1900-01-01 19:29:59.120,1900-01-01 19:30:21.160,0,22.040
70,2273,Rufous,M,male,NaN,Deck 2,yes,NaN,Clancy,McKnight,15.00000,ml,1900-01-01 19:38:34.850,1900-01-01 19:38:47.940,0,13.090
71,2274,Calliope,M,male,NaN,Back Patio,no,NaN,Cake,Prefect,5.00000,ml,1900-01-01 19:54:02.890,1900-01-01 19:54:15.020,0,12.130
72,2275,Calliope,M,female,NaN,Entry,no,NaN,Hortence,Prefect,2.00000,ml,1900-01-01 07:54:41.540,1900-01-01 07:55:09.460,1,27.920
73,2276,Rufous,M,female,NaN,Back Patio,no,NaN,Mitz,Johnson,1.00000,ml,1900-01-01 08:07:46.270,1900-01-01 08:08:03.060,1,16.790
74,2277,Rufous,L,female,NaN,Back Patio,no,NaN,Rose,Kim,16.00000,ml,1900-01-01 08:34:24.310,1900-01-01 08:34:42.680,1,18.370
75,2278,Calliope,M,female,NaN,NE Corner,no,NaN,Renee,Prefect,9.00000,ml,1900-01-01 09:42:17.550,1900-01-01 09:42:26.410,1,8.860
76,2279,Calliope,M,male,NaN,Garage,no,NaN,Cake,Prefect,15.00000,ml,1900-01-01 09:45:14.790,1900-01-01 09:45:41.760,0,26.970
77,2280,Calliope,M,female,NaN,Deck 2,no,NaN,Renee,Prefect,1.00000,ml,1900-01-01 10:07:35.390,1900-01-01 10:08:03.930,1,28.540
78,2281,Anna's,M,female,NaN,Garage,yes,NaN,Walpurga,Schwalbe,5.00000,ml,1900-01-01 11:41:57.440,1900-01-01 11:42:19.980,1,22.540
79,2282,Rufous,S,male,NaN,Back Patio,yes,NaN,Weatherford,Johnson,7.00000,ml,1900-01-01 12:31:17.670,1900-01-01 12:31:34.570,0,16.900
80,2283,Rufous,M,male,NaN,Deck 2,no,NaN,Norm,Sharma,6.00000,ml,1900-01-01 13:17:56.170,1900-01-01 13:18:18.950,0,22.780
81,2284,Rufous,M,male,NaN,Deck 2,yes,NaN,Bobert,Sharma,18.00000,ml,1900-01-01 13:25:18.040,1900-01-01 13:25:52.880,0,34.840
82,2285,Anna's,S,female,NaN,NE Corner,yes,NaN,Petunia,O'Flaherty,4.00000,ml,1900-01-01 17:29:51.330,1900-01-01 17:30:23.310,1,31.980
83,2286,Calliope,M,male,NaN,Deck 2,no,NaN,Cake,Prefect,3.00000,ml,1900-01-01 17:43:45.360,1900-01-01 17:44:08.970,0,23.610
84,2287,Calliope,M,male,NaN,NE Corner,no,NaN,Cake,Prefect,14.00000,ml,1900-01-01 17:50:33.580,1900-01-01 17:50:53.550,0,19.970
85,2288,Rufous,M,female,NaN,Back Patio,yes,NaN,Francine,Johnson,7.00000,ml,1900-01-01 17:54:55.600,1900-01-01 17:55:25.610,1,30.010
86,2289,Rufous,M,female,NaN,Back Patio,no,NaN,Judith,McKnight,12.00000,ml,1900-01-01 18:51:10.320,1900-01-01 18:51:36.690,1,26.370
87,2290,Anna's,M,female,NaN,Back Patio,yes,NaN,Walpurga,Schwalbe,10.00000,ml,1900-01-01 19:45:14.810,1900-01-01 19:45:40.170,1,25.360
88,2291,Calliope,M,male,NaN,Garage,no,NaN,Horace,Prefect,0.00000,ml,1900-01-01 20:11:28.390,1900-01-01 20:12:01.720,0,33.330
89,2292,Rufous,M,female,NaN,Deck 2,no,NaN,Francine,Johnson,15.00000,ml,1900-01-01 06:42:39.220,1900-01-01 06:42:55.710,1,16.490
90,2293,Anna's,XL,male,NaN,Garage,no,NaN,Malachi,Schwalbe,15.00000,ml,1900-01-01 09:58:04.520,1900-01-01 09:58:40.480,0,35.960
91,2294,NaN,M,female,NaN,NE Corner,yes,NaN,Renee,Prefect,6.00000,ml,1900-01-01 10:08:03.310,1900-01-01 10:08:24.070,1,20.760
92,2295,Rufous,M,male,NaN,Back Patio,no,NaN,Wally,Sharma,10.00000,ml,1900-01-01 10:12:21.610,1900-01-01 10:12:36.510,0,14.900
93,2296,Anna's,L,male,NaN,Garage,yes,NaN,King,Schwalbe,13.00000,ml,1900-01-01 10:26:06.560,1900-01-01 10:26:36.190,0,29.630
94,2297,Calliope,S,male,NaN,Entry,yes,NaN,Gunnar,Prefect,4.00000,ml,1900-01-01 10:31:55.550,1900-01-01 10:32:13.740,0,18.190
95,2298,Rufous,XL,female,NaN,Deck 2,no,NaN,Gale,Sharma,15.00000,ml,1900-01-01 11:28:15.610,1900-01-01 11:28:39.540,1,23.930
96,2299,Rufous,XL,female,NaN,Deck 2,no,NaN,Gale,Sharma,19.00000,ml,1900-01-01 12:02:28.480,1900-01-01 12:02:57.290,1,28.810
97,2300,Rufous,M,female,NaN,Deck 1,yes,NaN,Judith,McKnight,15.00000,ml,1900-01-01 12:39:31.690,1900-01-01 12:39:59.120,1,27.430
98,2301,Rufous,S,male,NaN,Deck 1,yes,NaN,Weatherford,Johnson,0.00000,ml,1900-01-01 12:53:47.390,1900-01-01 12:54:00.420,0,13.030
100,2303,Rufous,M,female,NaN,Deck 2,yes,NaN,Mitz,Johnson,12.00000,ml,1900-01-01 13:37:11.750,1900-01-01 13:37:45.150,1,33.400
101,2304,Calliope,S,male,NaN,Entry,yes,NaN,Gunnar,Prefect,5.00000,ml,1900-01-01 14:22:12.770,1900-01-01 14:22:27.950,0,15.180
102,2305,Rufous,M,female,NaN,Deck 1,yes,NaN,June,McKnight,12.00000,ml,1900-01-01 14:29:06.380,1900-01-01 14:29:40.990,1,34.610
103,2306,Anna's,M,female,NaN,Back Patio,yes,NaN,Walpurga,Schwalbe,13.00000,ml,1900-01-01 16:32:17.590,1900-01-01 16:32:37.370,1,19.780
104,2307,Rufous,M,male,NaN,Deck 1,no,NaN,Herbert,McKnight,5.00000,ml,1900-01-01 17:06:58.400,1900-01-01 17:07:16.940,0,18.540
106,2309,Rufous,M,male,NaN,Deck 1,yes,NaN,Bobert,Sharma,0.00000,ml,1900-01-01 06:26:42.580,1900-01-01 06:27:01.390,0,18.810
107,2310,Rufous,M,male,NaN,Deck 1,no,NaN,Norm,Sharma,3.00000,ml,1900-01-01 09:48:39.250,1900-01-01 09:49:14.270,0,35.020
108,2311,Rufous,M,male,NaN,Back Patio,yes,NaN,Clancy,McKnight,2.00000,ml,1900-01-01 10:52:57.730,1900-01-01 10:53:08.730,0,11.000
109,2312,Anna's,S,female,NaN,Back Patio,yes,NaN,Petunia,O'Flaherty,9.00000,ml,1900-01-01 11:06:25.510,1900-01-01 11:06:32.660,1,7.150
110,2313,Calliope,S,male,NaN,Deck 2,yes,NaN,Gunnar,Prefect,8.00000,ml,1900-01-01 12:00:18.530,1900-01-01 12:00:29.790,0,11.260
113,2316,Rufous,M,female,NaN,Deck 2,yes,NaN,Mitz,Johnson,16.00000,ml,1900-01-01 12:25:39.370,1900-01-01 12:25:56.600,1,17.230
114,2317,Calliope,M,female,NaN,Entry,yes,NaN,Renee,Prefect,0.00000,ml,1900-01-01 13:27:35.820,1900-01-01 13:28:02.840,1,27.020
115,2318,Rufous,M,female,NaN,Deck 1,yes,NaN,Francine,Johnson,8.00000,ml,1900-01-01 14:02:57.180,1900-01-01 14:03:24.890,1,27.710
118,2321,Rufous,L,female,NaN,Back Patio,yes,NaN,Daffodil,Johnson,7.00000,ml,1900-01-01 15:34:53.920,1900-01-01 15:35:24.340,1,30.420
119,2322,Calliope,M,male,NaN,Garage,no,NaN,Cake,Prefect,13.00000,ml,1900-01-01 16:06:31.980,1900-01-01 16:06:42.050,0,10.070
121,2324,Rufous,M,male,NaN,Back Patio,yes,NaN,Kevin,McKnight,2.00000,ml,1900-01-01 05:46:41.820,1900-01-01 05:47:07.790,0,25.970
122,2325,Rufous,M,male,NaN,Back Patio,yes,NaN,Bobert,Sharma,13.00000,ml,1900-01-01 07:09:21.870,1900-01-01 07:09:42.630,0,20.760
123,2326,Rufous,M,male,NaN,Back Patio,no,NaN,Kevin,McKnight,2.00000,ml,1900-01-01 08:37:02.510,1900-01-01 08:37:08.430,0,5.920
124,2327,Anna's,M,male,NaN,Deck 2,yes,NaN,Virgil,Schwalbe,10.00000,ml,1900-01-01 08:56:25.820,1900-01-01 08:56:44.210,0,18.390
125,2328,Calliope,S,male,NaN,NE Corner,yes,NaN,Gunnar,Prefect,10.00000,ml,1900-01-01 10:23:14.200,1900-01-01 10:23:36.430,0,22.230
126,2329,Rufous,M,female,NaN,Back Patio,no,NaN,June,McKnight,0.00000,ml,1900-01-01 11:12:32.300,1900-01-01 11:13:01.810,1,29.510
127,2330,Calliope,S,male,NaN,Deck 2,yes,NaN,Gunnar,Prefect,12.00000,ml,1900-01-01 11:57:34.580,1900-01-01 11:57:48.990,0,14.410
128,2331,Anna's,M,male,NaN,Back Patio,no,NaN,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:36:04.010,1900-01-01 12:36:34.490,0,30.480
129,2332,Anna's,S,female,NaN,Back Patio,yes,NaN,Ruby,Schwalbe,17.00000,ml,1900-01-01 12:44:45.860,1900-01-01 12:44:59.850,1,13.990
130,2333,Anna's,M,male,NaN,Garage,yes,NaN,Sol,Schwalbe,8.00000,ml,1900-01-01 13:57:25.340,1900-01-01 13:57:32.140,0,6.800
131,2334,Anna's,M,male,NaN,NE Corner,no,NaN,Sol,Schwalbe,11.00000,ml,1900-01-01 14:15:08.010,1900-01-01 14:15:34.030,0,26.020
132,2335,Calliope,M,female,NaN,NE Corner,no,NaN,Renee,Prefect,12.00000,ml,1900-01-01 14:40:15.030,1900-01-01 14:40:37.290,1,22.260
135,2338,Rufous,M,male,NaN,Deck 1,no,NaN,Norm,Sharma,13.00000,ml,1900-01-01 15:00:38.930,1900-01-01 15:00:49.840,0,10.910
136,2339,Rufous,L,female,NaN,Back Patio,yes,NaN,Daffodil,Johnson,21.00000,ml,1900-01-01 15:10:18.690,1900-01-01 15:10:52.340,1,33.650
137,2340,Anna's,M,male,NaN,Garage,yes,NaN,Virgil,Schwalbe,3.00000,ml,1900-01-01 15:43:53.900,1900-01-01 15:44:13.820,0,19.920
138,2341,Rufous,M,female,NaN,Deck 2,no,NaN,June,McKnight,7.00000,ml,1900-01-01 18:37:55.190,1900-01-01 18:38:20.070,1,24.880
139,2342,Anna's,M,male,NaN,Deck 2,yes,NaN,Bill,O'Flaherty,13.00000,ml,1900-01-01 19:58:38.200,1900-01-01 19:58:51.970,0,13.770
140,2343,Anna's,S,female,NaN,Garage,yes,NaN,Ursula,Schwalbe,1.00000,ml,1900-01-01 08:02:50.590,1900-01-01 08:03:07.190,1,16.600
141,2344,Rufous,M,male,NaN,Deck 1,no,NaN,Bobert,Sharma,0.00000,ml,1900-01-01 09:47:47.390,1900-01-01 09:48:01.940,0,14.550
142,2345,Anna's,L,male,NaN,Back Patio,no,NaN,King,Schwalbe,14.00000,ml,1900-01-01 10:17:24.650,1900-01-01 10:17:44.250,0,19.600
143,2346,Rufous,M,male,NaN,Deck 1,no,NaN,Lucky,Kim,20.00000,ml,1900-01-01 11:34:31.640,1900-01-01 11:34:56.620,0,24.980
144,2347,Anna's,M,male,NaN,Deck 2,no,NaN,Sol,Schwalbe,1.00000,ml,1900-01-01 13:00:31.040,1900-01-01 13:01:06.700,0,35.660
145,2348,Rufous,M,male,NaN,Back Patio,no,NaN,Lucky,Kim,10.00000,ml,1900-01-01 13:31:20.160,1900-01-01 13:31:39.190,0,19.030
146,2349,Rufous,M,female,NaN,Deck 1,yes,NaN,Mitz,Johnson,7.00000,ml,1900-01-01 13:35:06.440,1900-01-01 13:35:24.560,1,18.120
147,2350,Calliope,M,female,NaN,NE Corner,yes,NaN,Renee,Prefect,15.00000,ml,1900-01-01 17:35:37.080,1900-01-01 17:35:55.670,1,18.590
148,2351,Rufous,M,male,NaN,Deck 1,no,NaN,Clancy,McKnight,4.00000,ml,1900-01-01 07:54:49.570,1900-01-01 07:55:13.750,0,24.180
149,2352,Anna's,S,female,NaN,Garage,yes,NaN,Ruby,Schwalbe,0.00000,ml,1900-01-01 09:47:38.080,1900-01-01 09:48:00.990,1,22.910
150,2353,Anna's,S,female,NaN,Garage,yes,NaN,Ursula,Schwalbe,10.00000,ml,1900-01-01 10:14:27.120,1900-01-01 10:14:41.510,1,14.390
151,2354,Rufous,XL,female,NaN,Back Patio,no,NaN,Gale,Sharma,14.00000,ml,1900-01-01 10:49:19.080,1900-01-01 10:49:36.860,1,17.780
152,2355,Calliope,S,male,NaN,Entry,yes,NaN,Gunnar,Prefect,3.00000,ml,1900-01-01 11:14:48.800,1900-01-01 11:15:14.720,0,25.920
153,2356,Calliope,M,male,NaN,NE Corner,no,NaN,Cake,Prefect,14.00000,ml,1900-01-01 11:59:35.400,1900-01-01 11:59:43.930,0,8.530
154,2357,Rufous,S,male,NaN,Deck 2,yes,NaN,Weatherford,Johnson,7.00000,ml,1900-01-01 12:15:20.470,1900-01-01 12:15:35.490,0,15.020
155,2358,Anna's,XL,male,NaN,Entry,no,NaN,Malachi,Schwalbe,1.00000,ml,1900-01-01 12:58:37.190,1900-01-01 12:59:04.190,0,27.000
156,2359,Anna's,M,male,NaN,Garage,no,NaN,Sol,Schwalbe,3.00000,ml,1900-01-01 13:32:57.070,1900-01-01 13:33:13.710,0,16.640
157,2360,Anna's,XL,male,NaN,Garage,no,NaN,Malachi,Schwalbe,13.00000,ml,1900-01-01 14:43:13.380,1900-01-01 14:43:32.720,0,19.340
158,2361,Anna's,L,male,NaN,Back Patio,no,NaN,Bort,O'Flaherty,5.00000,ml,1900-01-01 14:56:01.690,1900-01-01 14:56:17.480,0,15.790
159,2362,Calliope,M,female,NaN,Back Patio,no,NaN,Hortence,Prefect,6.00000,ml,1900-01-01 17:18:52.220,1900-01-01 17:19:21.250,1,29.030
160,2363,Anna's,L,male,NaN,Garage,no,NaN,King,Schwalbe,11.00000,ml,1900-01-01 18:21:09.770,1900-01-01 18:21:32.360,0,22.590
161,2364,Anna's,M,male,NaN,NE Corner,no,NaN,Virgil,Schwalbe,12.00000,ml,1900-01-01 19:03:13.850,1900-01-01 19:03:42.530,0,28.680
162,2365,Anna's,L,male,NaN,Entry,yes,NaN,King,Schwalbe,17.00000,ml,1900-01-01 06:26:35.070,1900-01-01 06:26:57.440,0,22.370
163,2366,Anna's,M,male,NaN,Garage,no,NaN,Sol,Schwalbe,14.00000,ml,1900-01-01 07:13:36.300,1900-01-01 07:13:56.340,0,20.040
164,2367,Calliope,S,male,NaN,Entry,yes,NaN,Gunnar,Prefect,15.00000,ml,1900-01-01 08:54:39.370,1900-01-01 08:54:56.690,0,17.320
165,2368,Calliope,M,female,NaN,Garage,no,NaN,Hortence,Prefect,1.00000,ml,1900-01-01 08:58:43.460,1900-01-01 08:59:04.290,1,20.830
166,2369,Calliope,M,male,NaN,Deck 2,yes,NaN,Cake,Prefect,14.00000,ml,1900-01-01 09:17:34.790,1900-01-01 09:17:42.270,0,7.480
167,2370,Rufous,M,NaN,NaN,Deck 1,yes,NaN,Edeltraud,McKnight,3.00000,ml,1900-01-01 10:51:57.660,1900-01-01 10:52:11.450,0,13.790
168,2371,Rufous,M,male,NaN,Back Patio,yes,NaN,Bobert,Sharma,11.00000,ml,1900-01-01 10:57:24.600,1900-01-01 10:57:39.330,0,14.730
169,2372,Rufous,M,female,NaN,Deck 1,no,NaN,Blossom,Kim,9.00000,ml,1900-01-01 12:21:03.600,1900-01-01 12:21:37.170,1,33.570

In [23]:
#Replace with code to remove any remaining unwanted columns
df = df.drop('Unnamed: 10', axis = 1)
df.head()

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
0,2203,Rufous,S,female,NaN,Back Patio,yes,Rose,Kim,17.0,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
1,2204,Calliope,M,male,NaN,NE Corner,yes,Horace,Prefect,6.0,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2,2205,Rufous,M,female,NaN,Deck 2,no,Edeltraud,McKnight,5.0,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
3,2206,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,2.0,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
4,2207,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,3.0,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080

In [24]:
pd.set_option("display.max_rows", None, "display.max_columns", None) #views full dataframe
df

,VisitID,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
0,2203,Rufous,S,female,NaN,Back Patio,yes,Rose,Kim,17.00000,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
1,2204,Calliope,M,male,NaN,NE Corner,yes,Horace,Prefect,6.00000,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2,2205,Rufous,M,female,NaN,Deck 2,no,Edeltraud,McKnight,5.00000,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
3,2206,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,2.00000,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
4,2207,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,3.00000,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080
5,2208,Anna's,M,female,NaN,Deck 2,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 09:28:41.640,1900-01-01 09:28:52.640,1,11.000
7,2210,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 11:27:05.530,1900-01-01 11:27:31.410,1,25.880
8,2211,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,13.00000,ml,1900-01-01 12:14:11.700,1900-01-01 12:14:35.720,1,24.020
9,2212,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,6.00000,ml,1900-01-01 12:14:45.980,1900-01-01 12:15:14.450,0,28.470
10,2213,Rufous,M,male,NaN,Deck 2,yes,Lucky,Kim,3.00000,ml,1900-01-01 13:07:55.820,1900-01-01 13:08:11.090,0,15.270
11,2214,Anna's,S,female,NaN,Deck 2,yes,Ruby,Schwalbe,10.00000,ml,1900-01-01 14:08:35.900,1900-01-01 14:08:41.950,1,6.050
12,2215,Rufous,M,male,NaN,Back Patio,yes,Norm,Sharma,9.00000,ml,1900-01-01 15:15:15.550,1900-01-01 15:15:35.110,0,19.560
13,2216,Anna's,S,female,NaN,Deck 2,yes,Petunia,O'Flaherty,2.00000,ml,1900-01-01 15:38:48.390,1900-01-01 15:39:11.490,1,23.100
14,2217,Anna's,M,male,NaN,Back Patio,yes,Sol,Schwalbe,14.00000,ml,1900-01-01 16:58:39.170,1900-01-01 16:58:57.620,0,18.450
15,2218,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,11.00000,ml,1900-01-01 17:25:12.740,1900-01-01 17:25:34.440,1,21.700
16,2219,Rufous,M,female,NaN,Deck 1,no,Francine,Johnson,14.00000,ml,1900-01-01 07:29:33.890,1900-01-01 07:29:56.560,1,22.670
17,2220,Rufous,M,female,NaN,Back Patio,no,June,McKnight,4.00000,ml,1900-01-01 09:52:51.780,1900-01-01 09:53:14.730,1,22.950
18,2221,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 10:25:08.100,1900-01-01 10:25:29.680,0,21.580
19,2222,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,0.00000,ml,1900-01-01 11:09:34.780,1900-01-01 11:10:01.070,0,26.290
20,2223,Anna's,M,male,NaN,Entry,no,Virgil,Schwalbe,5.00000,ml,1900-01-01 11:35:55.060,1900-01-01 11:36:16.760,0,21.700
21,2224,Anna's,L,male,NaN,Deck 2,no,Bort,O'Flaherty,8.00000,ml,1900-01-01 11:54:20.110,1900-01-01 11:54:29.640,0,9.530
22,2225,Anna's,XL,male,NaN,Back Patio,yes,Malachi,Schwalbe,2.00000,ml,1900-01-01 12:26:37.480,1900-01-01 12:27:05.680,0,28.200
23,2226,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,5.00000,ml,1900-01-01 12:26:58.010,1900-01-01 12:27:19.080,1,21.070
24,2227,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,21.00000,ml,1900-01-01 12:34:38.960,1900-01-01 12:34:56.590,0,17.630
25,2228,Anna's,S,female,NaN,Garage,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 12:36:58.280,1900-01-01 12:37:26.580,1,28.300
26,2229,Anna's,S,female,NaN,NE Corner,yes,Ruby,Schwalbe,3.00000,ml,1900-01-01 12:37:00.800,1900-01-01 12:37:17.850,1,17.050
27,2230,Rufous,M,female,NaN,Deck 1,no,Edeltraud,McKnight,2.00000,ml,1900-01-01 13:18:55.660,1900-01-01 13:19:09.190,1,13.530
28,2231,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,10.00000,ml,1900-01-01 13:23:11.980,1900-01-01 13:23:29.770,0,17.790
29,2232,Anna's,M,female,NaN,NE Corner,no,Walpurga,Schwalbe,7.00000,ml,1900-01-01 15:07:05.170,1900-01-01 15:07:31.630,1,26.460
30,2233,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,11.00000,ml,1900-01-01 15:54:15.270,1900-01-01 15:54:41.580,1,26.310
31,2234,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,0.00000,ml,1900-01-01 16:18:40.380,1900-01-01 16:19:01.380,1,21.000
32,2235,Rufous,M,female,NaN,Deck 2,yes,Edeltraud,McKnight,11.00000,ml,1900-01-01 16:33:19.740,1900-01-01 16:33:30.570,1,10.830
34,2237,Rufous,M,male,NaN,Deck 2,no,Clancy,McKnight,16.00000,ml,1900-01-01 17:28:37.120,1900-01-01 17:28:54.440,0,17.320
35,2238,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 17:59:52.710,1900-01-01 18:00:22.840,0,30.130
37,2240,Anna's,S,female,NaN,NE Corner,no,Ruby,Schwalbe,9.00000,ml,1900-01-01 11:16:29.940,1900-01-01 11:16:52.880,1,22.940
38,2241,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 11:47:10.080,1900-01-01 11:47:29.870,0,19.790
40,2243,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,12.00000,ml,1900-01-01 12:10:23.420,1900-01-01 12:10:43.250,0,19.830
42,2245,Rufous,M,female,NaN,Back Patio,yes,Mitz,Johnson,8.00000,ml,1900-01-01 13:33:08.790,1900-01-01 13:33:26.040,1,17.250
43,2246,Calliope,M,female,NaN,Back Patio,yes,Renee,Prefect,5.00000,ml,1900-01-01 13:53:55.260,1900-01-01 13:54:22.180,1,26.920
44,2247,Rufous,M,male,NaN,Back Patio,yes,Wally,Sharma,11.00000,ml,1900-01-01 14:26:32.640,1900-01-01 14:26:47.910,0,15.270
45,2248,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,6.00000,ml,1900-01-01 14:53:47.690,1900-01-01 14:54:18.060,1,30.370
46,2249,Calliope,M,female,NaN,Entry,no,Renee,Prefect,11.00000,ml,1900-01-01 15:01:13.770,1900-01-01 15:01:39.940,1,26.170
47,2250,Rufous,M,female,NaN,Deck 1,yes,Edeltraud,McKnight,7.00000,ml,1900-01-01 17:40:07.860,1900-01-01 17:40:33.430,1,25.570
48,2251,Calliope,M,female,NaN,Deck 2,yes,Renee,Prefect,1.00000,ml,1900-01-01 08:35:49.120,1900-01-01 08:36:07.420,1,18.300
49,2252,Rufous,M,female,NaN,Deck 2,yes,Judith,McKnight,16.00000,ml,1900-01-01 08:39:38.690,1900-01-01 08:39:52.390,1,13.700
50,2253,Rufous,M,female,NaN,Back Patio,no,Blossom,Kim,7.00000,ml,1900-01-01 08:50:10.080,1900-01-01 08:50:25.560,1,15.480
51,2254,Calliope,M,male,NaN,Garage,no,Cake,Prefect,10.00000,ml,1900-01-01 09:11:03.500,1900-01-01 09:11:32.590,0,29.090
52,2255,NaN,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,4.00000,ml,1900-01-01 09:50:47.270,1900-01-01 09:51:15.710,0,28.440
53,2256,Calliope,M,male,NaN,Garage,no,Horace,Prefect,8.00000,ml,1900-01-01 09:59:01.270,1900-01-01 09:59:28.700,0,27.430
54,2257,Rufous,M,female,NaN,Back Patio,yes,Judith,McKnight,10.00000,ml,1900-01-01 10:29:13.660,1900-01-01 10:29:36.240,1,22.580
55,2258,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,9.00000,ml,1900-01-01 10:49:13.620,1900-01-01 10:49:28.100,0,14.480
56,2259,Rufous,XL,female,NaN,Deck 1,no,Gale,Sharma,12.00000,ml,1900-01-01 10:52:49.400,1900-01-01 10:53:25.520,1,36.120
57,2260,Calliope,M,female,NaN,Garage,yes,Hortence,Prefect,3.00000,ml,1900-01-01 11:29:53.360,1900-01-01 11:30:10.070,1,16.710
58,2261,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,16.00000,ml,1900-01-01 12:11:51.850,1900-01-01 12:11:59.630,0,7.780
59,2262,Calliope,M,female,NaN,Entry,yes,Hortence,Prefect,0.00000,ml,1900-01-01 12:12:44.630,1900-01-01 12:13:03.030,1,18.400
60,2263,Rufous,M,male,NaN,Deck 2,no,Kevin,McKnight,1.00000,ml,1900-01-01 12:30:40.600,1900-01-01 12:31:04.220,0,23.620
61,2264,Anna's,M,male,NaN,NE Corner,no,Bill,O'Flaherty,0.00000,ml,1900-01-01 13:15:50.300,1900-01-01 13:16:00.510,0,10.210
62,2265,Anna's,S,female,NaN,NE Corner,no,Petunia,O'Flaherty,9.00000,ml,1900-01-01 13:44:40.490,1900-01-01 13:44:52.690,1,12.200
63,2266,Calliope,S,male,NaN,Garage,yes,Gunnar,Prefect,6.00000,ml,1900-01-01 14:15:10.570,1900-01-01 14:15:30.330,0,19.760
64,2267,Anna's,L,male,NaN,Entry,no,King,Schwalbe,23.00000,ml,1900-01-01 14:29:42.920,1900-01-01 14:29:58.830,0,15.910
65,2268,Calliope,L,female,NaN,Back Patio,yes,Nyx,Prefect,8.00000,ml,1900-01-01 16:09:10.140,1900-01-01 16:09:29.110,1,18.970
66,2269,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 18:04:30.970,1900-01-01 18:05:00.320,1,29.350
67,2270,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,9.00000,ml,1900-01-01 18:29:27.940,1900-01-01 18:29:36.090,0,8.150
68,2271,Rufous,M,female,NaN,Deck 1,no,June,McKnight,5.00000,ml,1900-01-01 19:19:55.160,1900-01-01 19:20:15.280,1,20.120
69,2272,Rufous,M,male,NaN,Back Patio,no,Clancy,McKnight,6.00000,ml,1900-01-01 19:29:59.120,1900-01-01 19:30:21.160,0,22.040
70,2273,Rufous,M,male,NaN,Deck 2,yes,Clancy,McKnight,15.00000,ml,1900-01-01 19:38:34.850,1900-01-01 19:38:47.940,0,13.090
71,2274,Calliope,M,male,NaN,Back Patio,no,Cake,Prefect,5.00000,ml,1900-01-01 19:54:02.890,1900-01-01 19:54:15.020,0,12.130
72,2275,Calliope,M,female,NaN,Entry,no,Hortence,Prefect,2.00000,ml,1900-01-01 07:54:41.540,1900-01-01 07:55:09.460,1,27.920
73,2276,Rufous,M,female,NaN,Back Patio,no,Mitz,Johnson,1.00000,ml,1900-01-01 08:07:46.270,1900-01-01 08:08:03.060,1,16.790
74,2277,Rufous,L,female,NaN,Back Patio,no,Rose,Kim,16.00000,ml,1900-01-01 08:34:24.310,1900-01-01 08:34:42.680,1,18.370
75,2278,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,9.00000,ml,1900-01-01 09:42:17.550,1900-01-01 09:42:26.410,1,8.860
76,2279,Calliope,M,male,NaN,Garage,no,Cake,Prefect,15.00000,ml,1900-01-01 09:45:14.790,1900-01-01 09:45:41.760,0,26.970
77,2280,Calliope,M,female,NaN,Deck 2,no,Renee,Prefect,1.00000,ml,1900-01-01 10:07:35.390,1900-01-01 10:08:03.930,1,28.540
78,2281,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,5.00000,ml,1900-01-01 11:41:57.440,1900-01-01 11:42:19.980,1,22.540
79,2282,Rufous,S,male,NaN,Back Patio,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:31:17.670,1900-01-01 12:31:34.570,0,16.900
80,2283,Rufous,M,male,NaN,Deck 2,no,Norm,Sharma,6.00000,ml,1900-01-01 13:17:56.170,1900-01-01 13:18:18.950,0,22.780
81,2284,Rufous,M,male,NaN,Deck 2,yes,Bobert,Sharma,18.00000,ml,1900-01-01 13:25:18.040,1900-01-01 13:25:52.880,0,34.840
82,2285,Anna's,S,female,NaN,NE Corner,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 17:29:51.330,1900-01-01 17:30:23.310,1,31.980
83,2286,Calliope,M,male,NaN,Deck 2,no,Cake,Prefect,3.00000,ml,1900-01-01 17:43:45.360,1900-01-01 17:44:08.970,0,23.610
84,2287,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 17:50:33.580,1900-01-01 17:50:53.550,0,19.970
85,2288,Rufous,M,female,NaN,Back Patio,yes,Francine,Johnson,7.00000,ml,1900-01-01 17:54:55.600,1900-01-01 17:55:25.610,1,30.010
86,2289,Rufous,M,female,NaN,Back Patio,no,Judith,McKnight,12.00000,ml,1900-01-01 18:51:10.320,1900-01-01 18:51:36.690,1,26.370
87,2290,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,10.00000,ml,1900-01-01 19:45:14.810,1900-01-01 19:45:40.170,1,25.360
88,2291,Calliope,M,male,NaN,Garage,no,Horace,Prefect,0.00000,ml,1900-01-01 20:11:28.390,1900-01-01 20:12:01.720,0,33.330
89,2292,Rufous,M,female,NaN,Deck 2,no,Francine,Johnson,15.00000,ml,1900-01-01 06:42:39.220,1900-01-01 06:42:55.710,1,16.490
90,2293,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,15.00000,ml,1900-01-01 09:58:04.520,1900-01-01 09:58:40.480,0,35.960
91,2294,NaN,M,female,NaN,NE Corner,yes,Renee,Prefect,6.00000,ml,1900-01-01 10:08:03.310,1900-01-01 10:08:24.070,1,20.760
92,2295,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,10.00000,ml,1900-01-01 10:12:21.610,1900-01-01 10:12:36.510,0,14.900
93,2296,Anna's,L,male,NaN,Garage,yes,King,Schwalbe,13.00000,ml,1900-01-01 10:26:06.560,1900-01-01 10:26:36.190,0,29.630
94,2297,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,4.00000,ml,1900-01-01 10:31:55.550,1900-01-01 10:32:13.740,0,18.190
95,2298,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,15.00000,ml,1900-01-01 11:28:15.610,1900-01-01 11:28:39.540,1,23.930
96,2299,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,19.00000,ml,1900-01-01 12:02:28.480,1900-01-01 12:02:57.290,1,28.810
97,2300,Rufous,M,female,NaN,Deck 1,yes,Judith,McKnight,15.00000,ml,1900-01-01 12:39:31.690,1900-01-01 12:39:59.120,1,27.430
98,2301,Rufous,S,male,NaN,Deck 1,yes,Weatherford,Johnson,0.00000,ml,1900-01-01 12:53:47.390,1900-01-01 12:54:00.420,0,13.030
100,2303,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,12.00000,ml,1900-01-01 13:37:11.750,1900-01-01 13:37:45.150,1,33.400
101,2304,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,5.00000,ml,1900-01-01 14:22:12.770,1900-01-01 14:22:27.950,0,15.180
102,2305,Rufous,M,female,NaN,Deck 1,yes,June,McKnight,12.00000,ml,1900-01-01 14:29:06.380,1900-01-01 14:29:40.990,1,34.610
103,2306,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 16:32:17.590,1900-01-01 16:32:37.370,1,19.780
104,2307,Rufous,M,male,NaN,Deck 1,no,Herbert,McKnight,5.00000,ml,1900-01-01 17:06:58.400,1900-01-01 17:07:16.940,0,18.540
106,2309,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,0.00000,ml,1900-01-01 06:26:42.580,1900-01-01 06:27:01.390,0,18.810
107,2310,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,3.00000,ml,1900-01-01 09:48:39.250,1900-01-01 09:49:14.270,0,35.020
108,2311,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,2.00000,ml,1900-01-01 10:52:57.730,1900-01-01 10:53:08.730,0,11.000
109,2312,Anna's,S,female,NaN,Back Patio,yes,Petunia,O'Flaherty,9.00000,ml,1900-01-01 11:06:25.510,1900-01-01 11:06:32.660,1,7.150
110,2313,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,8.00000,ml,1900-01-01 12:00:18.530,1900-01-01 12:00:29.790,0,11.260
113,2316,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,16.00000,ml,1900-01-01 12:25:39.370,1900-01-01 12:25:56.600,1,17.230
114,2317,Calliope,M,female,NaN,Entry,yes,Renee,Prefect,0.00000,ml,1900-01-01 13:27:35.820,1900-01-01 13:28:02.840,1,27.020
115,2318,Rufous,M,female,NaN,Deck 1,yes,Francine,Johnson,8.00000,ml,1900-01-01 14:02:57.180,1900-01-01 14:03:24.890,1,27.710
118,2321,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,7.00000,ml,1900-01-01 15:34:53.920,1900-01-01 15:35:24.340,1,30.420
119,2322,Calliope,M,male,NaN,Garage,no,Cake,Prefect,13.00000,ml,1900-01-01 16:06:31.980,1900-01-01 16:06:42.050,0,10.070
121,2324,Rufous,M,male,NaN,Back Patio,yes,Kevin,McKnight,2.00000,ml,1900-01-01 05:46:41.820,1900-01-01 05:47:07.790,0,25.970
122,2325,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,13.00000,ml,1900-01-01 07:09:21.870,1900-01-01 07:09:42.630,0,20.760
123,2326,Rufous,M,male,NaN,Back Patio,no,Kevin,McKnight,2.00000,ml,1900-01-01 08:37:02.510,1900-01-01 08:37:08.430,0,5.920
124,2327,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,10.00000,ml,1900-01-01 08:56:25.820,1900-01-01 08:56:44.210,0,18.390
125,2328,Calliope,S,male,NaN,NE Corner,yes,Gunnar,Prefect,10.00000,ml,1900-01-01 10:23:14.200,1900-01-01 10:23:36.430,0,22.230
126,2329,Rufous,M,female,NaN,Back Patio,no,June,McKnight,0.00000,ml,1900-01-01 11:12:32.300,1900-01-01 11:13:01.810,1,29.510
127,2330,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,12.00000,ml,1900-01-01 11:57:34.580,1900-01-01 11:57:48.990,0,14.410
128,2331,Anna's,M,male,NaN,Back Patio,no,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:36:04.010,1900-01-01 12:36:34.490,0,30.480
129,2332,Anna's,S,female,NaN,Back Patio,yes,Ruby,Schwalbe,17.00000,ml,1900-01-01 12:44:45.860,1900-01-01 12:44:59.850,1,13.990
130,2333,Anna's,M,male,NaN,Garage,yes,Sol,Schwalbe,8.00000,ml,1900-01-01 13:57:25.340,1900-01-01 13:57:32.140,0,6.800
131,2334,Anna's,M,male,NaN,NE Corner,no,Sol,Schwalbe,11.00000,ml,1900-01-01 14:15:08.010,1900-01-01 14:15:34.030,0,26.020
132,2335,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,12.00000,ml,1900-01-01 14:40:15.030,1900-01-01 14:40:37.290,1,22.260
135,2338,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,13.00000,ml,1900-01-01 15:00:38.930,1900-01-01 15:00:49.840,0,10.910
136,2339,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,21.00000,ml,1900-01-01 15:10:18.690,1900-01-01 15:10:52.340,1,33.650
137,2340,Anna's,M,male,NaN,Garage,yes,Virgil,Schwalbe,3.00000,ml,1900-01-01 15:43:53.900,1900-01-01 15:44:13.820,0,19.920
138,2341,Rufous,M,female,NaN,Deck 2,no,June,McKnight,7.00000,ml,1900-01-01 18:37:55.190,1900-01-01 18:38:20.070,1,24.880
139,2342,Anna's,M,male,NaN,Deck 2,yes,Bill,O'Flaherty,13.00000,ml,1900-01-01 19:58:38.200,1900-01-01 19:58:51.970,0,13.770
140,2343,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,1.00000,ml,1900-01-01 08:02:50.590,1900-01-01 08:03:07.190,1,16.600
141,2344,Rufous,M,male,NaN,Deck 1,no,Bobert,Sharma,0.00000,ml,1900-01-01 09:47:47.390,1900-01-01 09:48:01.940,0,14.550
142,2345,Anna's,L,male,NaN,Back Patio,no,King,Schwalbe,14.00000,ml,1900-01-01 10:17:24.650,1900-01-01 10:17:44.250,0,19.600
143,2346,Rufous,M,male,NaN,Deck 1,no,Lucky,Kim,20.00000,ml,1900-01-01 11:34:31.640,1900-01-01 11:34:56.620,0,24.980
144,2347,Anna's,M,male,NaN,Deck 2,no,Sol,Schwalbe,1.00000,ml,1900-01-01 13:00:31.040,1900-01-01 13:01:06.700,0,35.660
145,2348,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 13:31:20.160,1900-01-01 13:31:39.190,0,19.030
146,2349,Rufous,M,female,NaN,Deck 1,yes,Mitz,Johnson,7.00000,ml,1900-01-01 13:35:06.440,1900-01-01 13:35:24.560,1,18.120
147,2350,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,15.00000,ml,1900-01-01 17:35:37.080,1900-01-01 17:35:55.670,1,18.590
148,2351,Rufous,M,male,NaN,Deck 1,no,Clancy,McKnight,4.00000,ml,1900-01-01 07:54:49.570,1900-01-01 07:55:13.750,0,24.180
149,2352,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 09:47:38.080,1900-01-01 09:48:00.990,1,22.910
150,2353,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,10.00000,ml,1900-01-01 10:14:27.120,1900-01-01 10:14:41.510,1,14.390
151,2354,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,14.00000,ml,1900-01-01 10:49:19.080,1900-01-01 10:49:36.860,1,17.780
152,2355,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,3.00000,ml,1900-01-01 11:14:48.800,1900-01-01 11:15:14.720,0,25.920
153,2356,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 11:59:35.400,1900-01-01 11:59:43.930,0,8.530
154,2357,Rufous,S,male,NaN,Deck 2,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:15:20.470,1900-01-01 12:15:35.490,0,15.020
155,2358,Anna's,XL,male,NaN,Entry,no,Malachi,Schwalbe,1.00000,ml,1900-01-01 12:58:37.190,1900-01-01 12:59:04.190,0,27.000
156,2359,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,3.00000,ml,1900-01-01 13:32:57.070,1900-01-01 13:33:13.710,0,16.640
157,2360,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,13.00000,ml,1900-01-01 14:43:13.380,1900-01-01 14:43:32.720,0,19.340
158,2361,Anna's,L,male,NaN,Back Patio,no,Bort,O'Flaherty,5.00000,ml,1900-01-01 14:56:01.690,1900-01-01 14:56:17.480,0,15.790
159,2362,Calliope,M,female,NaN,Back Patio,no,Hortence,Prefect,6.00000,ml,1900-01-01 17:18:52.220,1900-01-01 17:19:21.250,1,29.030
160,2363,Anna's,L,male,NaN,Garage,no,King,Schwalbe,11.00000,ml,1900-01-01 18:21:09.770,1900-01-01 18:21:32.360,0,22.590
161,2364,Anna's,M,male,NaN,NE Corner,no,Virgil,Schwalbe,12.00000,ml,1900-01-01 19:03:13.850,1900-01-01 19:03:42.530,0,28.680
162,2365,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,17.00000,ml,1900-01-01 06:26:35.070,1900-01-01 06:26:57.440,0,22.370
163,2366,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,14.00000,ml,1900-01-01 07:13:36.300,1900-01-01 07:13:56.340,0,20.040
164,2367,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,15.00000,ml,1900-01-01 08:54:39.370,1900-01-01 08:54:56.690,0,17.320
165,2368,Calliope,M,female,NaN,Garage,no,Hortence,Prefect,1.00000,ml,1900-01-01 08:58:43.460,1900-01-01 08:59:04.290,1,20.830
166,2369,Calliope,M,male,NaN,Deck 2,yes,Cake,Prefect,14.00000,ml,1900-01-01 09:17:34.790,1900-01-01 09:17:42.270,0,7.480
167,2370,Rufous,M,NaN,NaN,Deck 1,yes,Edeltraud,McKnight,3.00000,ml,1900-01-01 10:51:57.660,1900-01-01 10:52:11.450,0,13.790
168,2371,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,11.00000,ml,1900-01-01 10:57:24.600,1900-01-01 10:57:39.330,0,14.730
169,2372,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 12:21:03.600,1900-01-01 12:21:37.170,1,33.570
170,2373,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:42:02.730,1900-01-01 12:42:30.300,0,27.570
171,2374,Anna's,S,female,NaN,Entry,yes,Ursula,Schwalbe,5.00000,ml,1900-01-01 12:50:07.810,1900-01-01 12:50:30.080,1,22.270
172,2375,Anna's,S,female,NaN,Back Patio,yes,Ursula,Schwalbe,9.00000,ml,1900-01-01 13:08:25.580,1900-01-01 13:08:50.610,1,25.030
173,2376,Anna's,L,male,NaN,Deck 2,no,King,Schwalbe,10.00000,ml,1900-01-01 13:29:53.110,1900-01-01 13:30:25.120,0,32.010
174,2377,Rufous,S,male,NaN,Deck 1,yes,Weatherford,Johnson,1.00000,ml,1900-01-01 13:41:45.810,1900-01-01 13:42:04.720,0,18.910

## Q5

When you’re finished cleaning the datafile, sort the file by Visit ID (low to high), then save the cleaned file as an Excel document for submission via Canvas.

In [25]:
#Replace with code to set index to VisitID
df = df.set_index('VisitID')
df.sort_index() #sorts index

,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
VisitID,,,,,,,,,,,,,,
2203,Rufous,S,female,NaN,Back Patio,yes,Rose,Kim,17.00000,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
2204,Calliope,M,male,NaN,NE Corner,yes,Horace,Prefect,6.00000,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2205,Rufous,M,female,NaN,Deck 2,no,Edeltraud,McKnight,5.00000,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
2206,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,2.00000,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
2207,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,3.00000,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080
2208,Anna's,M,female,NaN,Deck 2,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 09:28:41.640,1900-01-01 09:28:52.640,1,11.000
2210,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 11:27:05.530,1900-01-01 11:27:31.410,1,25.880
2211,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,13.00000,ml,1900-01-01 12:14:11.700,1900-01-01 12:14:35.720,1,24.020
2212,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,6.00000,ml,1900-01-01 12:14:45.980,1900-01-01 12:15:14.450,0,28.470
2213,Rufous,M,male,NaN,Deck 2,yes,Lucky,Kim,3.00000,ml,1900-01-01 13:07:55.820,1900-01-01 13:08:11.090,0,15.270
2214,Anna's,S,female,NaN,Deck 2,yes,Ruby,Schwalbe,10.00000,ml,1900-01-01 14:08:35.900,1900-01-01 14:08:41.950,1,6.050
2215,Rufous,M,male,NaN,Back Patio,yes,Norm,Sharma,9.00000,ml,1900-01-01 15:15:15.550,1900-01-01 15:15:35.110,0,19.560
2216,Anna's,S,female,NaN,Deck 2,yes,Petunia,O'Flaherty,2.00000,ml,1900-01-01 15:38:48.390,1900-01-01 15:39:11.490,1,23.100
2217,Anna's,M,male,NaN,Back Patio,yes,Sol,Schwalbe,14.00000,ml,1900-01-01 16:58:39.170,1900-01-01 16:58:57.620,0,18.450
2218,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,11.00000,ml,1900-01-01 17:25:12.740,1900-01-01 17:25:34.440,1,21.700
2219,Rufous,M,female,NaN,Deck 1,no,Francine,Johnson,14.00000,ml,1900-01-01 07:29:33.890,1900-01-01 07:29:56.560,1,22.670
2220,Rufous,M,female,NaN,Back Patio,no,June,McKnight,4.00000,ml,1900-01-01 09:52:51.780,1900-01-01 09:53:14.730,1,22.950
2221,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 10:25:08.100,1900-01-01 10:25:29.680,0,21.580
2222,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,0.00000,ml,1900-01-01 11:09:34.780,1900-01-01 11:10:01.070,0,26.290
2223,Anna's,M,male,NaN,Entry,no,Virgil,Schwalbe,5.00000,ml,1900-01-01 11:35:55.060,1900-01-01 11:36:16.760,0,21.700
2224,Anna's,L,male,NaN,Deck 2,no,Bort,O'Flaherty,8.00000,ml,1900-01-01 11:54:20.110,1900-01-01 11:54:29.640,0,9.530
2225,Anna's,XL,male,NaN,Back Patio,yes,Malachi,Schwalbe,2.00000,ml,1900-01-01 12:26:37.480,1900-01-01 12:27:05.680,0,28.200
2226,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,5.00000,ml,1900-01-01 12:26:58.010,1900-01-01 12:27:19.080,1,21.070
2227,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,21.00000,ml,1900-01-01 12:34:38.960,1900-01-01 12:34:56.590,0,17.630
2228,Anna's,S,female,NaN,Garage,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 12:36:58.280,1900-01-01 12:37:26.580,1,28.300
2229,Anna's,S,female,NaN,NE Corner,yes,Ruby,Schwalbe,3.00000,ml,1900-01-01 12:37:00.800,1900-01-01 12:37:17.850,1,17.050
2230,Rufous,M,female,NaN,Deck 1,no,Edeltraud,McKnight,2.00000,ml,1900-01-01 13:18:55.660,1900-01-01 13:19:09.190,1,13.530
2231,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,10.00000,ml,1900-01-01 13:23:11.980,1900-01-01 13:23:29.770,0,17.790
2232,Anna's,M,female,NaN,NE Corner,no,Walpurga,Schwalbe,7.00000,ml,1900-01-01 15:07:05.170,1900-01-01 15:07:31.630,1,26.460
2233,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,11.00000,ml,1900-01-01 15:54:15.270,1900-01-01 15:54:41.580,1,26.310
2234,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,0.00000,ml,1900-01-01 16:18:40.380,1900-01-01 16:19:01.380,1,21.000
2235,Rufous,M,female,NaN,Deck 2,yes,Edeltraud,McKnight,11.00000,ml,1900-01-01 16:33:19.740,1900-01-01 16:33:30.570,1,10.830
2236,Anna's,S,female,NaN,Back Patio,no,Petunia,O'Flaherty,0.00000,ml,1900-01-01 17:01:37.830,1900-01-01 17:02:00.030,1,22.200
2237,Rufous,M,male,NaN,Deck 2,no,Clancy,McKnight,16.00000,ml,1900-01-01 17:28:37.120,1900-01-01 17:28:54.440,0,17.320
2238,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 17:59:52.710,1900-01-01 18:00:22.840,0,30.130
2239,NaN,M,female,NaN,Deck 1,yes,Francine,Johnson,7.92476,ml,1900-01-01 09:02:56.800,1900-01-01 09:03:28.740,1,31.940
2240,Anna's,S,female,NaN,NE Corner,no,Ruby,Schwalbe,9.00000,ml,1900-01-01 11:16:29.940,1900-01-01 11:16:52.880,1,22.940
2241,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 11:47:10.080,1900-01-01 11:47:29.870,0,19.790
2242,Rufous,M,male,NaN,Deck 2,yes,Lucky,Kim,0.14785,ml,1900-01-01 12:02:30.950,1900-01-01 12:03:00.410,0,29.460
2243,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,12.00000,ml,1900-01-01 12:10:23.420,1900-01-01 12:10:43.250,0,19.830
2245,Rufous,M,female,NaN,Back Patio,yes,Mitz,Johnson,8.00000,ml,1900-01-01 13:33:08.790,1900-01-01 13:33:26.040,1,17.250
2246,Calliope,M,female,NaN,Back Patio,yes,Renee,Prefect,5.00000,ml,1900-01-01 13:53:55.260,1900-01-01 13:54:22.180,1,26.920
2247,Rufous,M,male,NaN,Back Patio,yes,Wally,Sharma,11.00000,ml,1900-01-01 14:26:32.640,1900-01-01 14:26:47.910,0,15.270
2248,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,6.00000,ml,1900-01-01 14:53:47.690,1900-01-01 14:54:18.060,1,30.370
2249,Calliope,M,female,NaN,Entry,no,Renee,Prefect,11.00000,ml,1900-01-01 15:01:13.770,1900-01-01 15:01:39.940,1,26.170
2250,Rufous,M,female,NaN,Deck 1,yes,Edeltraud,McKnight,7.00000,ml,1900-01-01 17:40:07.860,1900-01-01 17:40:33.430,1,25.570
2251,Calliope,M,female,NaN,Deck 2,yes,Renee,Prefect,1.00000,ml,1900-01-01 08:35:49.120,1900-01-01 08:36:07.420,1,18.300
2252,Rufous,M,female,NaN,Deck 2,yes,Judith,McKnight,16.00000,ml,1900-01-01 08:39:38.690,1900-01-01 08:39:52.390,1,13.700
2253,Rufous,M,female,NaN,Back Patio,no,Blossom,Kim,7.00000,ml,1900-01-01 08:50:10.080,1900-01-01 08:50:25.560,1,15.480
2254,Calliope,M,male,NaN,Garage,no,Cake,Prefect,10.00000,ml,1900-01-01 09:11:03.500,1900-01-01 09:11:32.590,0,29.090
2255,NaN,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,4.00000,ml,1900-01-01 09:50:47.270,1900-01-01 09:51:15.710,0,28.440
2256,Calliope,M,male,NaN,Garage,no,Horace,Prefect,8.00000,ml,1900-01-01 09:59:01.270,1900-01-01 09:59:28.700,0,27.430
2257,Rufous,M,female,NaN,Back Patio,yes,Judith,McKnight,10.00000,ml,1900-01-01 10:29:13.660,1900-01-01 10:29:36.240,1,22.580
2258,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,9.00000,ml,1900-01-01 10:49:13.620,1900-01-01 10:49:28.100,0,14.480
2259,Rufous,XL,female,NaN,Deck 1,no,Gale,Sharma,12.00000,ml,1900-01-01 10:52:49.400,1900-01-01 10:53:25.520,1,36.120
2260,Calliope,M,female,NaN,Garage,yes,Hortence,Prefect,3.00000,ml,1900-01-01 11:29:53.360,1900-01-01 11:30:10.070,1,16.710
2261,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,16.00000,ml,1900-01-01 12:11:51.850,1900-01-01 12:11:59.630,0,7.780
2262,Calliope,M,female,NaN,Entry,yes,Hortence,Prefect,0.00000,ml,1900-01-01 12:12:44.630,1900-01-01 12:13:03.030,1,18.400
2263,Rufous,M,male,NaN,Deck 2,no,Kevin,McKnight,1.00000,ml,1900-01-01 12:30:40.600,1900-01-01 12:31:04.220,0,23.620
2264,Anna's,M,male,NaN,NE Corner,no,Bill,O'Flaherty,0.00000,ml,1900-01-01 13:15:50.300,1900-01-01 13:16:00.510,0,10.210
2265,Anna's,S,female,NaN,NE Corner,no,Petunia,O'Flaherty,9.00000,ml,1900-01-01 13:44:40.490,1900-01-01 13:44:52.690,1,12.200
2266,Calliope,S,male,NaN,Garage,yes,Gunnar,Prefect,6.00000,ml,1900-01-01 14:15:10.570,1900-01-01 14:15:30.330,0,19.760
2267,Anna's,L,male,NaN,Entry,no,King,Schwalbe,23.00000,ml,1900-01-01 14:29:42.920,1900-01-01 14:29:58.830,0,15.910
2268,Calliope,L,female,NaN,Back Patio,yes,Nyx,Prefect,8.00000,ml,1900-01-01 16:09:10.140,1900-01-01 16:09:29.110,1,18.970
2269,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 18:04:30.970,1900-01-01 18:05:00.320,1,29.350
2270,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,9.00000,ml,1900-01-01 18:29:27.940,1900-01-01 18:29:36.090,0,8.150
2271,Rufous,M,female,NaN,Deck 1,no,June,McKnight,5.00000,ml,1900-01-01 19:19:55.160,1900-01-01 19:20:15.280,1,20.120
2272,Rufous,M,male,NaN,Back Patio,no,Clancy,McKnight,6.00000,ml,1900-01-01 19:29:59.120,1900-01-01 19:30:21.160,0,22.040
2273,Rufous,M,male,NaN,Deck 2,yes,Clancy,McKnight,15.00000,ml,1900-01-01 19:38:34.850,1900-01-01 19:38:47.940,0,13.090
2274,Calliope,M,male,NaN,Back Patio,no,Cake,Prefect,5.00000,ml,1900-01-01 19:54:02.890,1900-01-01 19:54:15.020,0,12.130
2275,Calliope,M,female,NaN,Entry,no,Hortence,Prefect,2.00000,ml,1900-01-01 07:54:41.540,1900-01-01 07:55:09.460,1,27.920
2276,Rufous,M,female,NaN,Back Patio,no,Mitz,Johnson,1.00000,ml,1900-01-01 08:07:46.270,1900-01-01 08:08:03.060,1,16.790
2277,Rufous,L,female,NaN,Back Patio,no,Rose,Kim,16.00000,ml,1900-01-01 08:34:24.310,1900-01-01 08:34:42.680,1,18.370
2278,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,9.00000,ml,1900-01-01 09:42:17.550,1900-01-01 09:42:26.410,1,8.860
2279,Calliope,M,male,NaN,Garage,no,Cake,Prefect,15.00000,ml,1900-01-01 09:45:14.790,1900-01-01 09:45:41.760,0,26.970
2280,Calliope,M,female,NaN,Deck 2,no,Renee,Prefect,1.00000,ml,1900-01-01 10:07:35.390,1900-01-01 10:08:03.930,1,28.540
2281,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,5.00000,ml,1900-01-01 11:41:57.440,1900-01-01 11:42:19.980,1,22.540
2282,Rufous,S,male,NaN,Back Patio,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:31:17.670,1900-01-01 12:31:34.570,0,16.900
2283,Rufous,M,male,NaN,Deck 2,no,Norm,Sharma,6.00000,ml,1900-01-01 13:17:56.170,1900-01-01 13:18:18.950,0,22.780
2284,Rufous,M,male,NaN,Deck 2,yes,Bobert,Sharma,18.00000,ml,1900-01-01 13:25:18.040,1900-01-01 13:25:52.880,0,34.840
2285,Anna's,S,female,NaN,NE Corner,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 17:29:51.330,1900-01-01 17:30:23.310,1,31.980
2286,Calliope,M,male,NaN,Deck 2,no,Cake,Prefect,3.00000,ml,1900-01-01 17:43:45.360,1900-01-01 17:44:08.970,0,23.610
2287,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 17:50:33.580,1900-01-01 17:50:53.550,0,19.970
2288,Rufous,M,female,NaN,Back Patio,yes,Francine,Johnson,7.00000,ml,1900-01-01 17:54:55.600,1900-01-01 17:55:25.610,1,30.010
2289,Rufous,M,female,NaN,Back Patio,no,Judith,McKnight,12.00000,ml,1900-01-01 18:51:10.320,1900-01-01 18:51:36.690,1,26.370
2290,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,10.00000,ml,1900-01-01 19:45:14.810,1900-01-01 19:45:40.170,1,25.360
2291,Calliope,M,male,NaN,Garage,no,Horace,Prefect,0.00000,ml,1900-01-01 20:11:28.390,1900-01-01 20:12:01.720,0,33.330
2292,Rufous,M,female,NaN,Deck 2,no,Francine,Johnson,15.00000,ml,1900-01-01 06:42:39.220,1900-01-01 06:42:55.710,1,16.490
2293,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,15.00000,ml,1900-01-01 09:58:04.520,1900-01-01 09:58:40.480,0,35.960
2294,NaN,M,female,NaN,NE Corner,yes,Renee,Prefect,6.00000,ml,1900-01-01 10:08:03.310,1900-01-01 10:08:24.070,1,20.760
2295,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,10.00000,ml,1900-01-01 10:12:21.610,1900-01-01 10:12:36.510,0,14.900
2296,Anna's,L,male,NaN,Garage,yes,King,Schwalbe,13.00000,ml,1900-01-01 10:26:06.560,1900-01-01 10:26:36.190,0,29.630
2297,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,4.00000,ml,1900-01-01 10:31:55.550,1900-01-01 10:32:13.740,0,18.190
2298,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,15.00000,ml,1900-01-01 11:28:15.610,1900-01-01 11:28:39.540,1,23.930
2299,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,19.00000,ml,1900-01-01 12:02:28.480,1900-01-01 12:02:57.290,1,28.810
2300,Rufous,M,female,NaN,Deck 1,yes,Judith,McKnight,15.00000,ml,1900-01-01 12:39:31.690,1900-01-01 12:39:59.120,1,27.430
2301,Rufous,S,male,NaN,Deck 1,yes,Weatherford,Johnson,0.00000,ml,1900-01-01 12:53:47.390,1900-01-01 12:54:00.420,0,13.030
2302,Rufous,L,female,NaN,Back Patio,yes,Rose,Kim,12.47854,ml,1900-01-01 12:54:14.400,1900-01-01 12:54:35.650,1,21.250
2303,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,12.00000,ml,1900-01-01 13:37:11.750,1900-01-01 13:37:45.150,1,33.400
2304,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,5.00000,ml,1900-01-01 14:22:12.770,1900-01-01 14:22:27.950,0,15.180
2305,Rufous,M,female,NaN,Deck 1,yes,June,McKnight,12.00000,ml,1900-01-01 14:29:06.380,1900-01-01 14:29:40.990,1,34.610
2306,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 16:32:17.590,1900-01-01 16:32:37.370,1,19.780
2307,Rufous,M,male,NaN,Deck 1,no,Herbert,McKnight,5.00000,ml,1900-01-01 17:06:58.400,1900-01-01 17:07:16.940,0,18.540
2308,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,6.38712,ml,1900-01-01 19:12:52.240,1900-01-01 19:13:18.720,0,26.480
2309,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,0.00000,ml,1900-01-01 06:26:42.580,1900-01-01 06:27:01.390,0,18.810
2310,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,3.00000,ml,1900-01-01 09:48:39.250,1900-01-01 09:49:14.270,0,35.020
2311,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,2.00000,ml,1900-01-01 10:52:57.730,1900-01-01 10:53:08.730,0,11.000
2312,Anna's,S,female,NaN,Back Patio,yes,Petunia,O'Flaherty,9.00000,ml,1900-01-01 11:06:25.510,1900-01-01 11:06:32.660,1,7.150
2313,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,8.00000,ml,1900-01-01 12:00:18.530,1900-01-01 12:00:29.790,0,11.260
2315,NaN,M,NaN,NaN,Deck 1,no,NaN,NaN,12.15327,ml,1900-01-01 12:21:26.310,1900-01-01 12:21:40.920,0,14.610
2316,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,16.00000,ml,1900-01-01 12:25:39.370,1900-01-01 12:25:56.600,1,17.230
2317,Calliope,M,female,NaN,Entry,yes,Renee,Prefect,0.00000,ml,1900-01-01 13:27:35.820,1900-01-01 13:28:02.840,1,27.020
2318,Rufous,M,female,NaN,Deck 1,yes,Francine,Johnson,8.00000,ml,1900-01-01 14:02:57.180,1900-01-01 14:03:24.890,1,27.710
2319,Calliope,M,female,NaN,Garage,yes,Coco,Prefect,1.68549,ml,1900-01-01 14:32:58.430,1900-01-01 14:33:07.380,1,8.950
2320,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,12.24198,ml,1900-01-01 15:15:24.000,1900-01-01 15:15:36.540,0,12.540
2321,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,7.00000,ml,1900-01-01 15:34:53.920,1900-01-01 15:35:24.340,1,30.420
2322,Calliope,M,male,NaN,Garage,no,Cake,Prefect,13.00000,ml,1900-01-01 16:06:31.980,1900-01-01 16:06:42.050,0,10.070
2323,Calliope,M,female,NaN,NE Corner,no,Hortence,Prefect,3.60754,ml,1900-01-01 17:14:46.100,1900-01-01 17:15:14.360,1,28.260
2324,Rufous,M,male,NaN,Back Patio,yes,Kevin,McKnight,2.00000,ml,1900-01-01 05:46:41.820,1900-01-01 05:47:07.790,0,25.970
2325,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,13.00000,ml,1900-01-01 07:09:21.870,1900-01-01 07:09:42.630,0,20.760
2326,Rufous,M,male,NaN,Back Patio,no,Kevin,McKnight,2.00000,ml,1900-01-01 08:37:02.510,1900-01-01 08:37:08.430,0,5.920
2327,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,10.00000,ml,1900-01-01 08:56:25.820,1900-01-01 08:56:44.210,0,18.390
2328,Calliope,S,male,NaN,NE Corner,yes,Gunnar,Prefect,10.00000,ml,1900-01-01 10:23:14.200,1900-01-01 10:23:36.430,0,22.230
2329,Rufous,M,female,NaN,Back Patio,no,June,McKnight,0.00000,ml,1900-01-01 11:12:32.300,1900-01-01 11:13:01.810,1,29.510
2330,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,12.00000,ml,1900-01-01 11:57:34.580,1900-01-01 11:57:48.990,0,14.410
2331,Anna's,M,male,NaN,Back Patio,no,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:36:04.010,1900-01-01 12:36:34.490,0,30.480
2332,Anna's,S,female,NaN,Back Patio,yes,Ruby,Schwalbe,17.00000,ml,1900-01-01 12:44:45.860,1900-01-01 12:44:59.850,1,13.990
2333,Anna's,M,male,NaN,Garage,yes,Sol,Schwalbe,8.00000,ml,1900-01-01 13:57:25.340,1900-01-01 13:57:32.140,0,6.800
2334,Anna's,M,male,NaN,NE Corner,no,Sol,Schwalbe,11.00000,ml,1900-01-01 14:15:08.010,1900-01-01 14:15:34.030,0,26.020
2335,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,12.00000,ml,1900-01-01 14:40:15.030,1900-01-01 14:40:37.290,1,22.260
2338,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,13.00000,ml,1900-01-01 15:00:38.930,1900-01-01 15:00:49.840,0,10.910
2339,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,21.00000,ml,1900-01-01 15:10:18.690,1900-01-01 15:10:52.340,1,33.650
2340,Anna's,M,male,NaN,Garage,yes,Virgil,Schwalbe,3.00000,ml,1900-01-01 15:43:53.900,1900-01-01 15:44:13.820,0,19.920
2341,Rufous,M,female,NaN,Deck 2,no,June,McKnight,7.00000,ml,1900-01-01 18:37:55.190,1900-01-01 18:38:20.070,1,24.880
2342,Anna's,M,male,NaN,Deck 2,yes,Bill,O'Flaherty,13.00000,ml,1900-01-01 19:58:38.200,1900-01-01 19:58:51.970,0,13.770
2343,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,1.00000,ml,1900-01-01 08:02:50.590,1900-01-01 08:03:07.190,1,16.600
2344,Rufous,M,male,NaN,Deck 1,no,Bobert,Sharma,0.00000,ml,1900-01-01 09:47:47.390,1900-01-01 09:48:01.940,0,14.550
2345,Anna's,L,male,NaN,Back Patio,no,King,Schwalbe,14.00000,ml,1900-01-01 10:17:24.650,1900-01-01 10:17:44.250,0,19.600
2346,Rufous,M,male,NaN,Deck 1,no,Lucky,Kim,20.00000,ml,1900-01-01 11:34:31.640,1900-01-01 11:34:56.620,0,24.980
2347,Anna's,M,male,NaN,Deck 2,no,Sol,Schwalbe,1.00000,ml,1900-01-01 13:00:31.040,1900-01-01 13:01:06.700,0,35.660
2348,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 13:31:20.160,1900-01-01 13:31:39.190,0,19.030
2349,Rufous,M,female,NaN,Deck 1,yes,Mitz,Johnson,7.00000,ml,1900-01-01 13:35:06.440,1900-01-01 13:35:24.560,1,18.120
2350,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,15.00000,ml,1900-01-01 17:35:37.080,1900-01-01 17:35:55.670,1,18.590
2351,Rufous,M,male,NaN,Deck 1,no,Clancy,McKnight,4.00000,ml,1900-01-01 07:54:49.570,1900-01-01 07:55:13.750,0,24.180
2352,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 09:47:38.080,1900-01-01 09:48:00.990,1,22.910
2353,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,10.00000,ml,1900-01-01 10:14:27.120,1900-01-01 10:14:41.510,1,14.390
2354,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,14.00000,ml,1900-01-01 10:49:19.080,1900-01-01 10:49:36.860,1,17.780
2355,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,3.00000,ml,1900-01-01 11:14:48.800,1900-01-01 11:15:14.720,0,25.920
2356,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 11:59:35.400,1900-01-01 11:59:43.930,0,8.530
2357,Rufous,S,male,NaN,Deck 2,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:15:20.470,1900-01-01 12:15:35.490,0,15.020
2358,Anna's,XL,male,NaN,Entry,no,Malachi,Schwalbe,1.00000,ml,1900-01-01 12:58:37.190,1900-01-01 12:59:04.190,0,27.000
2359,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,3.00000,ml,1900-01-01 13:32:57.070,1900-01-01 13:33:13.710,0,16.640
2360,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,13.00000,ml,1900-01-01 14:43:13.380,1900-01-01 14:43:32.720,0,19.340
2361,Anna's,L,male,NaN,Back Patio,no,Bort,O'Flaherty,5.00000,ml,1900-01-01 14:56:01.690,1900-01-01 14:56:17.480,0,15.790
2362,Calliope,M,female,NaN,Back Patio,no,Hortence,Prefect,6.00000,ml,1900-01-01 17:18:52.220,1900-01-01 17:19:21.250,1,29.030
2363,Anna's,L,male,NaN,Garage,no,King,Schwalbe,11.00000,ml,1900-01-01 18:21:09.770,1900-01-01 18:21:32.360,0,22.590
2364,Anna's,M,male,NaN,NE Corner,no,Virgil,Schwalbe,12.00000,ml,1900-01-01 19:03:13.850,1900-01-01 19:03:42.530,0,28.680
2365,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,17.00000,ml,1900-01-01 06:26:35.070,1900-01-01 06:26:57.440,0,22.370
2366,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,14.00000,ml,1900-01-01 07:13:36.300,1900-01-01 07:13:56.340,0,20.040
2367,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,15.00000,ml,1900-01-01 08:54:39.370,1900-01-01 08:54:56.690,0,17.320
2368,Calliope,M,female,NaN,Garage,no,Hortence,Prefect,1.00000,ml,1900-01-01 08:58:43.460,1900-01-01 08:59:04.290,1,20.830
2369,Calliope,M,male,NaN,Deck 2,yes,Cake,Prefect,14.00000,ml,1900-01-01 09:17:34.790,1900-01-01 09:17:42.270,0,7.480
2370,Rufous,M,NaN,NaN,Deck 1,yes,Edeltraud,McKnight,3.00000,ml,1900-01-01 10:51:57.660,1900-01-01 10:52:11.450,0,13.790
2371,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,11.00000,ml,1900-01-01 10:57:24.600,1900-01-01 10:57:39.330,0,14.730
2372,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 12:21:03.600,1900-01-01 12:21:37.170,1,33.570
2373,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:42:02.730,1900-01-01 12:42:30.300,0,27.570

In [26]:
df

,BirdType,BirdSize,Gender,VisitDate,Location,Hoverfeed,BirdFirstName,BirdLastName,Amount_Eat,Unit,StartTime,EndTime,IsFemale,Duration
VisitID,,,,,,,,,,,,,,
2203,Rufous,S,female,NaN,Back Patio,yes,Rose,Kim,17.00000,ml,1900-01-01 23:13:05.736,1900-01-01 23:13:21.109,1,15.373
2204,Calliope,M,male,NaN,NE Corner,yes,Horace,Prefect,6.00000,ml,1900-01-01 07:45:07.650,1900-01-01 07:45:17.970,0,10.320
2205,Rufous,M,female,NaN,Deck 2,no,Edeltraud,McKnight,5.00000,ml,1900-01-01 08:09:52.100,1900-01-01 08:10:22.740,1,30.640
2206,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,2.00000,ml,1900-01-01 08:41:54.070,1900-01-01 08:42:07.480,0,13.410
2207,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,3.00000,ml,1900-01-01 09:18:59.330,1900-01-01 09:19:13.410,1,14.080
2208,Anna's,M,female,NaN,Deck 2,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 09:28:41.640,1900-01-01 09:28:52.640,1,11.000
2210,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 11:27:05.530,1900-01-01 11:27:31.410,1,25.880
2211,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,13.00000,ml,1900-01-01 12:14:11.700,1900-01-01 12:14:35.720,1,24.020
2212,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,6.00000,ml,1900-01-01 12:14:45.980,1900-01-01 12:15:14.450,0,28.470
2213,Rufous,M,male,NaN,Deck 2,yes,Lucky,Kim,3.00000,ml,1900-01-01 13:07:55.820,1900-01-01 13:08:11.090,0,15.270
2214,Anna's,S,female,NaN,Deck 2,yes,Ruby,Schwalbe,10.00000,ml,1900-01-01 14:08:35.900,1900-01-01 14:08:41.950,1,6.050
2215,Rufous,M,male,NaN,Back Patio,yes,Norm,Sharma,9.00000,ml,1900-01-01 15:15:15.550,1900-01-01 15:15:35.110,0,19.560
2216,Anna's,S,female,NaN,Deck 2,yes,Petunia,O'Flaherty,2.00000,ml,1900-01-01 15:38:48.390,1900-01-01 15:39:11.490,1,23.100
2217,Anna's,M,male,NaN,Back Patio,yes,Sol,Schwalbe,14.00000,ml,1900-01-01 16:58:39.170,1900-01-01 16:58:57.620,0,18.450
2218,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,11.00000,ml,1900-01-01 17:25:12.740,1900-01-01 17:25:34.440,1,21.700
2219,Rufous,M,female,NaN,Deck 1,no,Francine,Johnson,14.00000,ml,1900-01-01 07:29:33.890,1900-01-01 07:29:56.560,1,22.670
2220,Rufous,M,female,NaN,Back Patio,no,June,McKnight,4.00000,ml,1900-01-01 09:52:51.780,1900-01-01 09:53:14.730,1,22.950
2221,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 10:25:08.100,1900-01-01 10:25:29.680,0,21.580
2222,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,0.00000,ml,1900-01-01 11:09:34.780,1900-01-01 11:10:01.070,0,26.290
2223,Anna's,M,male,NaN,Entry,no,Virgil,Schwalbe,5.00000,ml,1900-01-01 11:35:55.060,1900-01-01 11:36:16.760,0,21.700
2224,Anna's,L,male,NaN,Deck 2,no,Bort,O'Flaherty,8.00000,ml,1900-01-01 11:54:20.110,1900-01-01 11:54:29.640,0,9.530
2225,Anna's,XL,male,NaN,Back Patio,yes,Malachi,Schwalbe,2.00000,ml,1900-01-01 12:26:37.480,1900-01-01 12:27:05.680,0,28.200
2226,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,5.00000,ml,1900-01-01 12:26:58.010,1900-01-01 12:27:19.080,1,21.070
2227,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,21.00000,ml,1900-01-01 12:34:38.960,1900-01-01 12:34:56.590,0,17.630
2228,Anna's,S,female,NaN,Garage,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 12:36:58.280,1900-01-01 12:37:26.580,1,28.300
2229,Anna's,S,female,NaN,NE Corner,yes,Ruby,Schwalbe,3.00000,ml,1900-01-01 12:37:00.800,1900-01-01 12:37:17.850,1,17.050
2230,Rufous,M,female,NaN,Deck 1,no,Edeltraud,McKnight,2.00000,ml,1900-01-01 13:18:55.660,1900-01-01 13:19:09.190,1,13.530
2231,Anna's,L,male,NaN,NE Corner,no,King,Schwalbe,10.00000,ml,1900-01-01 13:23:11.980,1900-01-01 13:23:29.770,0,17.790
2232,Anna's,M,female,NaN,NE Corner,no,Walpurga,Schwalbe,7.00000,ml,1900-01-01 15:07:05.170,1900-01-01 15:07:31.630,1,26.460
2233,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,11.00000,ml,1900-01-01 15:54:15.270,1900-01-01 15:54:41.580,1,26.310
2234,Rufous,M,female,NaN,Back Patio,yes,June,McKnight,0.00000,ml,1900-01-01 16:18:40.380,1900-01-01 16:19:01.380,1,21.000
2235,Rufous,M,female,NaN,Deck 2,yes,Edeltraud,McKnight,11.00000,ml,1900-01-01 16:33:19.740,1900-01-01 16:33:30.570,1,10.830
2237,Rufous,M,male,NaN,Deck 2,no,Clancy,McKnight,16.00000,ml,1900-01-01 17:28:37.120,1900-01-01 17:28:54.440,0,17.320
2238,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 17:59:52.710,1900-01-01 18:00:22.840,0,30.130
2240,Anna's,S,female,NaN,NE Corner,no,Ruby,Schwalbe,9.00000,ml,1900-01-01 11:16:29.940,1900-01-01 11:16:52.880,1,22.940
2241,Anna's,L,male,NaN,NE Corner,no,Bort,O'Flaherty,9.00000,ml,1900-01-01 11:47:10.080,1900-01-01 11:47:29.870,0,19.790
2243,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,12.00000,ml,1900-01-01 12:10:23.420,1900-01-01 12:10:43.250,0,19.830
2245,Rufous,M,female,NaN,Back Patio,yes,Mitz,Johnson,8.00000,ml,1900-01-01 13:33:08.790,1900-01-01 13:33:26.040,1,17.250
2246,Calliope,M,female,NaN,Back Patio,yes,Renee,Prefect,5.00000,ml,1900-01-01 13:53:55.260,1900-01-01 13:54:22.180,1,26.920
2247,Rufous,M,male,NaN,Back Patio,yes,Wally,Sharma,11.00000,ml,1900-01-01 14:26:32.640,1900-01-01 14:26:47.910,0,15.270
2248,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,6.00000,ml,1900-01-01 14:53:47.690,1900-01-01 14:54:18.060,1,30.370
2249,Calliope,M,female,NaN,Entry,no,Renee,Prefect,11.00000,ml,1900-01-01 15:01:13.770,1900-01-01 15:01:39.940,1,26.170
2250,Rufous,M,female,NaN,Deck 1,yes,Edeltraud,McKnight,7.00000,ml,1900-01-01 17:40:07.860,1900-01-01 17:40:33.430,1,25.570
2251,Calliope,M,female,NaN,Deck 2,yes,Renee,Prefect,1.00000,ml,1900-01-01 08:35:49.120,1900-01-01 08:36:07.420,1,18.300
2252,Rufous,M,female,NaN,Deck 2,yes,Judith,McKnight,16.00000,ml,1900-01-01 08:39:38.690,1900-01-01 08:39:52.390,1,13.700
2253,Rufous,M,female,NaN,Back Patio,no,Blossom,Kim,7.00000,ml,1900-01-01 08:50:10.080,1900-01-01 08:50:25.560,1,15.480
2254,Calliope,M,male,NaN,Garage,no,Cake,Prefect,10.00000,ml,1900-01-01 09:11:03.500,1900-01-01 09:11:32.590,0,29.090
2255,NaN,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,4.00000,ml,1900-01-01 09:50:47.270,1900-01-01 09:51:15.710,0,28.440
2256,Calliope,M,male,NaN,Garage,no,Horace,Prefect,8.00000,ml,1900-01-01 09:59:01.270,1900-01-01 09:59:28.700,0,27.430
2257,Rufous,M,female,NaN,Back Patio,yes,Judith,McKnight,10.00000,ml,1900-01-01 10:29:13.660,1900-01-01 10:29:36.240,1,22.580
2258,Rufous,M,male,NaN,Deck 1,yes,Herbert,McKnight,9.00000,ml,1900-01-01 10:49:13.620,1900-01-01 10:49:28.100,0,14.480
2259,Rufous,XL,female,NaN,Deck 1,no,Gale,Sharma,12.00000,ml,1900-01-01 10:52:49.400,1900-01-01 10:53:25.520,1,36.120
2260,Calliope,M,female,NaN,Garage,yes,Hortence,Prefect,3.00000,ml,1900-01-01 11:29:53.360,1900-01-01 11:30:10.070,1,16.710
2261,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,16.00000,ml,1900-01-01 12:11:51.850,1900-01-01 12:11:59.630,0,7.780
2262,Calliope,M,female,NaN,Entry,yes,Hortence,Prefect,0.00000,ml,1900-01-01 12:12:44.630,1900-01-01 12:13:03.030,1,18.400
2263,Rufous,M,male,NaN,Deck 2,no,Kevin,McKnight,1.00000,ml,1900-01-01 12:30:40.600,1900-01-01 12:31:04.220,0,23.620
2264,Anna's,M,male,NaN,NE Corner,no,Bill,O'Flaherty,0.00000,ml,1900-01-01 13:15:50.300,1900-01-01 13:16:00.510,0,10.210
2265,Anna's,S,female,NaN,NE Corner,no,Petunia,O'Flaherty,9.00000,ml,1900-01-01 13:44:40.490,1900-01-01 13:44:52.690,1,12.200
2266,Calliope,S,male,NaN,Garage,yes,Gunnar,Prefect,6.00000,ml,1900-01-01 14:15:10.570,1900-01-01 14:15:30.330,0,19.760
2267,Anna's,L,male,NaN,Entry,no,King,Schwalbe,23.00000,ml,1900-01-01 14:29:42.920,1900-01-01 14:29:58.830,0,15.910
2268,Calliope,L,female,NaN,Back Patio,yes,Nyx,Prefect,8.00000,ml,1900-01-01 16:09:10.140,1900-01-01 16:09:29.110,1,18.970
2269,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 18:04:30.970,1900-01-01 18:05:00.320,1,29.350
2270,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,9.00000,ml,1900-01-01 18:29:27.940,1900-01-01 18:29:36.090,0,8.150
2271,Rufous,M,female,NaN,Deck 1,no,June,McKnight,5.00000,ml,1900-01-01 19:19:55.160,1900-01-01 19:20:15.280,1,20.120
2272,Rufous,M,male,NaN,Back Patio,no,Clancy,McKnight,6.00000,ml,1900-01-01 19:29:59.120,1900-01-01 19:30:21.160,0,22.040
2273,Rufous,M,male,NaN,Deck 2,yes,Clancy,McKnight,15.00000,ml,1900-01-01 19:38:34.850,1900-01-01 19:38:47.940,0,13.090
2274,Calliope,M,male,NaN,Back Patio,no,Cake,Prefect,5.00000,ml,1900-01-01 19:54:02.890,1900-01-01 19:54:15.020,0,12.130
2275,Calliope,M,female,NaN,Entry,no,Hortence,Prefect,2.00000,ml,1900-01-01 07:54:41.540,1900-01-01 07:55:09.460,1,27.920
2276,Rufous,M,female,NaN,Back Patio,no,Mitz,Johnson,1.00000,ml,1900-01-01 08:07:46.270,1900-01-01 08:08:03.060,1,16.790
2277,Rufous,L,female,NaN,Back Patio,no,Rose,Kim,16.00000,ml,1900-01-01 08:34:24.310,1900-01-01 08:34:42.680,1,18.370
2278,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,9.00000,ml,1900-01-01 09:42:17.550,1900-01-01 09:42:26.410,1,8.860
2279,Calliope,M,male,NaN,Garage,no,Cake,Prefect,15.00000,ml,1900-01-01 09:45:14.790,1900-01-01 09:45:41.760,0,26.970
2280,Calliope,M,female,NaN,Deck 2,no,Renee,Prefect,1.00000,ml,1900-01-01 10:07:35.390,1900-01-01 10:08:03.930,1,28.540
2281,Anna's,M,female,NaN,Garage,yes,Walpurga,Schwalbe,5.00000,ml,1900-01-01 11:41:57.440,1900-01-01 11:42:19.980,1,22.540
2282,Rufous,S,male,NaN,Back Patio,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:31:17.670,1900-01-01 12:31:34.570,0,16.900
2283,Rufous,M,male,NaN,Deck 2,no,Norm,Sharma,6.00000,ml,1900-01-01 13:17:56.170,1900-01-01 13:18:18.950,0,22.780
2284,Rufous,M,male,NaN,Deck 2,yes,Bobert,Sharma,18.00000,ml,1900-01-01 13:25:18.040,1900-01-01 13:25:52.880,0,34.840
2285,Anna's,S,female,NaN,NE Corner,yes,Petunia,O'Flaherty,4.00000,ml,1900-01-01 17:29:51.330,1900-01-01 17:30:23.310,1,31.980
2286,Calliope,M,male,NaN,Deck 2,no,Cake,Prefect,3.00000,ml,1900-01-01 17:43:45.360,1900-01-01 17:44:08.970,0,23.610
2287,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 17:50:33.580,1900-01-01 17:50:53.550,0,19.970
2288,Rufous,M,female,NaN,Back Patio,yes,Francine,Johnson,7.00000,ml,1900-01-01 17:54:55.600,1900-01-01 17:55:25.610,1,30.010
2289,Rufous,M,female,NaN,Back Patio,no,Judith,McKnight,12.00000,ml,1900-01-01 18:51:10.320,1900-01-01 18:51:36.690,1,26.370
2290,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,10.00000,ml,1900-01-01 19:45:14.810,1900-01-01 19:45:40.170,1,25.360
2291,Calliope,M,male,NaN,Garage,no,Horace,Prefect,0.00000,ml,1900-01-01 20:11:28.390,1900-01-01 20:12:01.720,0,33.330
2292,Rufous,M,female,NaN,Deck 2,no,Francine,Johnson,15.00000,ml,1900-01-01 06:42:39.220,1900-01-01 06:42:55.710,1,16.490
2293,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,15.00000,ml,1900-01-01 09:58:04.520,1900-01-01 09:58:40.480,0,35.960
2294,NaN,M,female,NaN,NE Corner,yes,Renee,Prefect,6.00000,ml,1900-01-01 10:08:03.310,1900-01-01 10:08:24.070,1,20.760
2295,Rufous,M,male,NaN,Back Patio,no,Wally,Sharma,10.00000,ml,1900-01-01 10:12:21.610,1900-01-01 10:12:36.510,0,14.900
2296,Anna's,L,male,NaN,Garage,yes,King,Schwalbe,13.00000,ml,1900-01-01 10:26:06.560,1900-01-01 10:26:36.190,0,29.630
2297,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,4.00000,ml,1900-01-01 10:31:55.550,1900-01-01 10:32:13.740,0,18.190
2298,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,15.00000,ml,1900-01-01 11:28:15.610,1900-01-01 11:28:39.540,1,23.930
2299,Rufous,XL,female,NaN,Deck 2,no,Gale,Sharma,19.00000,ml,1900-01-01 12:02:28.480,1900-01-01 12:02:57.290,1,28.810
2300,Rufous,M,female,NaN,Deck 1,yes,Judith,McKnight,15.00000,ml,1900-01-01 12:39:31.690,1900-01-01 12:39:59.120,1,27.430
2301,Rufous,S,male,NaN,Deck 1,yes,Weatherford,Johnson,0.00000,ml,1900-01-01 12:53:47.390,1900-01-01 12:54:00.420,0,13.030
2303,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,12.00000,ml,1900-01-01 13:37:11.750,1900-01-01 13:37:45.150,1,33.400
2304,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,5.00000,ml,1900-01-01 14:22:12.770,1900-01-01 14:22:27.950,0,15.180
2305,Rufous,M,female,NaN,Deck 1,yes,June,McKnight,12.00000,ml,1900-01-01 14:29:06.380,1900-01-01 14:29:40.990,1,34.610
2306,Anna's,M,female,NaN,Back Patio,yes,Walpurga,Schwalbe,13.00000,ml,1900-01-01 16:32:17.590,1900-01-01 16:32:37.370,1,19.780
2307,Rufous,M,male,NaN,Deck 1,no,Herbert,McKnight,5.00000,ml,1900-01-01 17:06:58.400,1900-01-01 17:07:16.940,0,18.540
2309,Rufous,M,male,NaN,Deck 1,yes,Bobert,Sharma,0.00000,ml,1900-01-01 06:26:42.580,1900-01-01 06:27:01.390,0,18.810
2310,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,3.00000,ml,1900-01-01 09:48:39.250,1900-01-01 09:49:14.270,0,35.020
2311,Rufous,M,male,NaN,Back Patio,yes,Clancy,McKnight,2.00000,ml,1900-01-01 10:52:57.730,1900-01-01 10:53:08.730,0,11.000
2312,Anna's,S,female,NaN,Back Patio,yes,Petunia,O'Flaherty,9.00000,ml,1900-01-01 11:06:25.510,1900-01-01 11:06:32.660,1,7.150
2313,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,8.00000,ml,1900-01-01 12:00:18.530,1900-01-01 12:00:29.790,0,11.260
2316,Rufous,M,female,NaN,Deck 2,yes,Mitz,Johnson,16.00000,ml,1900-01-01 12:25:39.370,1900-01-01 12:25:56.600,1,17.230
2317,Calliope,M,female,NaN,Entry,yes,Renee,Prefect,0.00000,ml,1900-01-01 13:27:35.820,1900-01-01 13:28:02.840,1,27.020
2318,Rufous,M,female,NaN,Deck 1,yes,Francine,Johnson,8.00000,ml,1900-01-01 14:02:57.180,1900-01-01 14:03:24.890,1,27.710
2321,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,7.00000,ml,1900-01-01 15:34:53.920,1900-01-01 15:35:24.340,1,30.420
2322,Calliope,M,male,NaN,Garage,no,Cake,Prefect,13.00000,ml,1900-01-01 16:06:31.980,1900-01-01 16:06:42.050,0,10.070
2324,Rufous,M,male,NaN,Back Patio,yes,Kevin,McKnight,2.00000,ml,1900-01-01 05:46:41.820,1900-01-01 05:47:07.790,0,25.970
2325,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,13.00000,ml,1900-01-01 07:09:21.870,1900-01-01 07:09:42.630,0,20.760
2326,Rufous,M,male,NaN,Back Patio,no,Kevin,McKnight,2.00000,ml,1900-01-01 08:37:02.510,1900-01-01 08:37:08.430,0,5.920
2327,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,10.00000,ml,1900-01-01 08:56:25.820,1900-01-01 08:56:44.210,0,18.390
2328,Calliope,S,male,NaN,NE Corner,yes,Gunnar,Prefect,10.00000,ml,1900-01-01 10:23:14.200,1900-01-01 10:23:36.430,0,22.230
2329,Rufous,M,female,NaN,Back Patio,no,June,McKnight,0.00000,ml,1900-01-01 11:12:32.300,1900-01-01 11:13:01.810,1,29.510
2330,Calliope,S,male,NaN,Deck 2,yes,Gunnar,Prefect,12.00000,ml,1900-01-01 11:57:34.580,1900-01-01 11:57:48.990,0,14.410
2331,Anna's,M,male,NaN,Back Patio,no,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:36:04.010,1900-01-01 12:36:34.490,0,30.480
2332,Anna's,S,female,NaN,Back Patio,yes,Ruby,Schwalbe,17.00000,ml,1900-01-01 12:44:45.860,1900-01-01 12:44:59.850,1,13.990
2333,Anna's,M,male,NaN,Garage,yes,Sol,Schwalbe,8.00000,ml,1900-01-01 13:57:25.340,1900-01-01 13:57:32.140,0,6.800
2334,Anna's,M,male,NaN,NE Corner,no,Sol,Schwalbe,11.00000,ml,1900-01-01 14:15:08.010,1900-01-01 14:15:34.030,0,26.020
2335,Calliope,M,female,NaN,NE Corner,no,Renee,Prefect,12.00000,ml,1900-01-01 14:40:15.030,1900-01-01 14:40:37.290,1,22.260
2338,Rufous,M,male,NaN,Deck 1,no,Norm,Sharma,13.00000,ml,1900-01-01 15:00:38.930,1900-01-01 15:00:49.840,0,10.910
2339,Rufous,L,female,NaN,Back Patio,yes,Daffodil,Johnson,21.00000,ml,1900-01-01 15:10:18.690,1900-01-01 15:10:52.340,1,33.650
2340,Anna's,M,male,NaN,Garage,yes,Virgil,Schwalbe,3.00000,ml,1900-01-01 15:43:53.900,1900-01-01 15:44:13.820,0,19.920
2341,Rufous,M,female,NaN,Deck 2,no,June,McKnight,7.00000,ml,1900-01-01 18:37:55.190,1900-01-01 18:38:20.070,1,24.880
2342,Anna's,M,male,NaN,Deck 2,yes,Bill,O'Flaherty,13.00000,ml,1900-01-01 19:58:38.200,1900-01-01 19:58:51.970,0,13.770
2343,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,1.00000,ml,1900-01-01 08:02:50.590,1900-01-01 08:03:07.190,1,16.600
2344,Rufous,M,male,NaN,Deck 1,no,Bobert,Sharma,0.00000,ml,1900-01-01 09:47:47.390,1900-01-01 09:48:01.940,0,14.550
2345,Anna's,L,male,NaN,Back Patio,no,King,Schwalbe,14.00000,ml,1900-01-01 10:17:24.650,1900-01-01 10:17:44.250,0,19.600
2346,Rufous,M,male,NaN,Deck 1,no,Lucky,Kim,20.00000,ml,1900-01-01 11:34:31.640,1900-01-01 11:34:56.620,0,24.980
2347,Anna's,M,male,NaN,Deck 2,no,Sol,Schwalbe,1.00000,ml,1900-01-01 13:00:31.040,1900-01-01 13:01:06.700,0,35.660
2348,Rufous,M,male,NaN,Back Patio,no,Lucky,Kim,10.00000,ml,1900-01-01 13:31:20.160,1900-01-01 13:31:39.190,0,19.030
2349,Rufous,M,female,NaN,Deck 1,yes,Mitz,Johnson,7.00000,ml,1900-01-01 13:35:06.440,1900-01-01 13:35:24.560,1,18.120
2350,Calliope,M,female,NaN,NE Corner,yes,Renee,Prefect,15.00000,ml,1900-01-01 17:35:37.080,1900-01-01 17:35:55.670,1,18.590
2351,Rufous,M,male,NaN,Deck 1,no,Clancy,McKnight,4.00000,ml,1900-01-01 07:54:49.570,1900-01-01 07:55:13.750,0,24.180
2352,Anna's,S,female,NaN,Garage,yes,Ruby,Schwalbe,0.00000,ml,1900-01-01 09:47:38.080,1900-01-01 09:48:00.990,1,22.910
2353,Anna's,S,female,NaN,Garage,yes,Ursula,Schwalbe,10.00000,ml,1900-01-01 10:14:27.120,1900-01-01 10:14:41.510,1,14.390
2354,Rufous,XL,female,NaN,Back Patio,no,Gale,Sharma,14.00000,ml,1900-01-01 10:49:19.080,1900-01-01 10:49:36.860,1,17.780
2355,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,3.00000,ml,1900-01-01 11:14:48.800,1900-01-01 11:15:14.720,0,25.920
2356,Calliope,M,male,NaN,NE Corner,no,Cake,Prefect,14.00000,ml,1900-01-01 11:59:35.400,1900-01-01 11:59:43.930,0,8.530
2357,Rufous,S,male,NaN,Deck 2,yes,Weatherford,Johnson,7.00000,ml,1900-01-01 12:15:20.470,1900-01-01 12:15:35.490,0,15.020
2358,Anna's,XL,male,NaN,Entry,no,Malachi,Schwalbe,1.00000,ml,1900-01-01 12:58:37.190,1900-01-01 12:59:04.190,0,27.000
2359,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,3.00000,ml,1900-01-01 13:32:57.070,1900-01-01 13:33:13.710,0,16.640
2360,Anna's,XL,male,NaN,Garage,no,Malachi,Schwalbe,13.00000,ml,1900-01-01 14:43:13.380,1900-01-01 14:43:32.720,0,19.340
2361,Anna's,L,male,NaN,Back Patio,no,Bort,O'Flaherty,5.00000,ml,1900-01-01 14:56:01.690,1900-01-01 14:56:17.480,0,15.790
2362,Calliope,M,female,NaN,Back Patio,no,Hortence,Prefect,6.00000,ml,1900-01-01 17:18:52.220,1900-01-01 17:19:21.250,1,29.030
2363,Anna's,L,male,NaN,Garage,no,King,Schwalbe,11.00000,ml,1900-01-01 18:21:09.770,1900-01-01 18:21:32.360,0,22.590
2364,Anna's,M,male,NaN,NE Corner,no,Virgil,Schwalbe,12.00000,ml,1900-01-01 19:03:13.850,1900-01-01 19:03:42.530,0,28.680
2365,Anna's,L,male,NaN,Entry,yes,King,Schwalbe,17.00000,ml,1900-01-01 06:26:35.070,1900-01-01 06:26:57.440,0,22.370
2366,Anna's,M,male,NaN,Garage,no,Sol,Schwalbe,14.00000,ml,1900-01-01 07:13:36.300,1900-01-01 07:13:56.340,0,20.040
2367,Calliope,S,male,NaN,Entry,yes,Gunnar,Prefect,15.00000,ml,1900-01-01 08:54:39.370,1900-01-01 08:54:56.690,0,17.320
2368,Calliope,M,female,NaN,Garage,no,Hortence,Prefect,1.00000,ml,1900-01-01 08:58:43.460,1900-01-01 08:59:04.290,1,20.830
2369,Calliope,M,male,NaN,Deck 2,yes,Cake,Prefect,14.00000,ml,1900-01-01 09:17:34.790,1900-01-01 09:17:42.270,0,7.480
2370,Rufous,M,NaN,NaN,Deck 1,yes,Edeltraud,McKnight,3.00000,ml,1900-01-01 10:51:57.660,1900-01-01 10:52:11.450,0,13.790
2371,Rufous,M,male,NaN,Back Patio,yes,Bobert,Sharma,11.00000,ml,1900-01-01 10:57:24.600,1900-01-01 10:57:39.330,0,14.730
2372,Rufous,M,female,NaN,Deck 1,no,Blossom,Kim,9.00000,ml,1900-01-01 12:21:03.600,1900-01-01 12:21:37.170,1,33.570
2373,Anna's,M,male,NaN,Deck 2,yes,Virgil,Schwalbe,8.00000,ml,1900-01-01 12:42:02.730,1900-01-01 12:42:30.300,0,27.570
2374,Anna's,S,female,NaN,Entry,yes,Ursula,Schwalbe,5.00000,ml,1900-01-01 12:50:07.810,1900-01-01 12:50:30.080,1,22.270
2375,Anna's,S,female,NaN,Back Patio,yes,Ursula,Schwalbe,9.00000,ml,1900-01-01 13:08:25.580,1900-01-01 13:08:50.610,1,25.030
2376,Anna's,L,male,NaN,Deck 2,no,King,Schwalbe,10.00000,ml,1900-01-01 13:29:53.110,1900-01-01 13:30:25.120,0,32.010
2377,Rufous,S,male,NaN,Deck 1,yes,Weatherford,Johnson,1.00000,ml,1900-01-01 13:41:45.810,1900-01-01 13:42:04.720,0,18.910
2378,Rufous,XL,female,NaN,Deck 1,no,Gale,Sharma,4.00000,ml,1900-01-01 14:51:53.750,1900-01-01 14:52:09.950,1,16.200
2379,Calliope,M,female,NaN,Garage,no,Coco,Prefect,10.00000,ml,1900-01-01 15:27:25.830,1900-01-01 15:27:33.660,1,7.830
2380,Anna's,XL,male,NaN,NE Corner,no,Malachi,Schwalbe,4.00000,ml,1900-01-01 17:07:55.350,1900-01-01 17:08:13.150,0,17.800
2381,Rufous,M,male,NaN,Deck 1,no,Clancy,McKnight,1.00000,ml,1900-01-01 17:29:01.200,1900-01-01 17:29:06.080,0,4.880

In [27]:
#export your cleaned Excel file for submission, along with your notebook

#For Google Colab
from google.colab import files
df.to_excel("cleaned_data_HB.xlsx")
files.download("cleaned_data_HB.xlsx")

#For JupyterNotebooks
df.to_excel("/content/hbdata-orig24.xlsx")

#keep below code to verify date/time of your work
from datetime import datetime
now = datetime.now()
formatted_time = now.strftime("%Y-%m-%d %H:%M:%S")
print(f"Current Date and Time: {formatted_time}")

Current Date and Time: 2024-01-25 20:34:30

For submission to Canvas: Download/Save your .ipynb file, print your .ipynb file to PDF, and export your cleaned dataset as an Excel file.