In [1]:
# Take a look at the .csv called 'hometowns.csv', note the problem with the header rows.
# Import Pandas and read the .csv called 'hometowns.csv' into a dataframe making 
# sure you get the right # headers in place (as column names). 
# Hint: use the "skiprows" parameter of pd.read_csv().
import pandas as pd
import numpy as np
df = pd.read_csv('hometowns.csv', skiprows=2)
print(df)

           Dates           Location
0      1972-1990    Federal Way, WA
1      1990-1991          Provo, UT
2      1991-1993    Dresden, Saxony
3      1993-1997          Provo, UT
4      1997-1997         Boston, MA
5      1997-1998     Twin Falls, ID
6      1998-2000        La Mesa, CA
7      2000-2004  Mission Viejo, CA
8      2004-2005           Lehi, UT
9      2005-2006  New York City, NY
10     2006-2009  Mission Viejo, CA
11     2009-2010        La Mesa, CA
12     2010-2014     Pittsburgh, PA
13     2014-2017         Norman, OK
14     2017-2020  River Heights, UT
15  2020-Present          Logan, UT

In [2]:
# Create a column called Start and a column called End based on the content of
# the Dates column.
df[['Start', 'End']] = df['Dates'].str.split('-', expand=True)
print(df)

           Dates           Location Start      End
0      1972-1990    Federal Way, WA  1972     1990
1      1990-1991          Provo, UT  1990     1991
2      1991-1993    Dresden, Saxony  1991     1993
3      1993-1997          Provo, UT  1993     1997
4      1997-1997         Boston, MA  1997     1997
5      1997-1998     Twin Falls, ID  1997     1998
6      1998-2000        La Mesa, CA  1998     2000
7      2000-2004  Mission Viejo, CA  2000     2004
8      2004-2005           Lehi, UT  2004     2005
9      2005-2006  New York City, NY  2005     2006
10     2006-2009  Mission Viejo, CA  2006     2009
11     2009-2010        La Mesa, CA  2009     2010
12     2010-2014     Pittsburgh, PA  2010     2014
13     2014-2017         Norman, OK  2014     2017
14     2017-2020  River Heights, UT  2017     2020
15  2020-Present          Logan, UT  2020  Present

In [3]:
# Import the date function from the datetime module, then create a variable called
# year equal to the current year. Then print the value of year.
from datetime import date 
current_year = date.today().year
print(current_year)

2024

In [4]:
# We want to be able to calculate the duration (years spent in a location).
# What data point would prevent us from doing that?

## Item 15, 2020-Present. Present would pull up issues as it's not a number

In [5]:
# Replace the word Present -- make it equal to the value of the current year.
df['End'].replace(to_replace='Present', value=current_year, inplace=True)
print(df)

           Dates           Location Start   End
0      1972-1990    Federal Way, WA  1972  1990
1      1990-1991          Provo, UT  1990  1991
2      1991-1993    Dresden, Saxony  1991  1993
3      1993-1997          Provo, UT  1993  1997
4      1997-1997         Boston, MA  1997  1997
5      1997-1998     Twin Falls, ID  1997  1998
6      1998-2000        La Mesa, CA  1998  2000
7      2000-2004  Mission Viejo, CA  2000  2004
8      2004-2005           Lehi, UT  2004  2005
9      2005-2006  New York City, NY  2005  2006
10     2006-2009  Mission Viejo, CA  2006  2009
11     2009-2010        La Mesa, CA  2009  2010
12     2010-2014     Pittsburgh, PA  2010  2014
13     2014-2017         Norman, OK  2014  2017
14     2017-2020  River Heights, UT  2017  2020
15  2020-Present          Logan, UT  2020  2024

In [6]:
# Now, calculate a new column called Duration equal to the difference
# between End and start.
df['Duration'] = df['End'] - df['Start']
print(df)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [17]:
# To do that, you need to first change Start and End to numeric values
# (using split creates strings, not integers or floats).
# Once you've done that, create the Duration column.
df['Start'] = df['Start'].astype(int)
df['End'] = df['End'].astype(int)
df['Duration'] = df['End'] - df['Start']
print(df)

           Dates           Location  Start   End  Duration
0      1972-1990    Federal Way, WA   1972  1990        18
1      1990-1991          Provo, UT   1990  1991         1
2      1991-1993    Dresden, Saxony   1991  1993         2
3      1993-1997          Provo, UT   1993  1997         4
4      1997-1997         Boston, MA   1997  1997         0
5      1997-1998     Twin Falls, ID   1997  1998         1
6      1998-2000        La Mesa, CA   1998  2000         2
7      2000-2004  Mission Viejo, CA   2000  2004         4
8      2004-2005           Lehi, UT   2004  2005         1
9      2005-2006  New York City, NY   2005  2006         1
10     2006-2009  Mission Viejo, CA   2006  2009         3
11     2009-2010        La Mesa, CA   2009  2010         1
12     2010-2014     Pittsburgh, PA   2010  2014         4
13     2014-2017         Norman, OK   2014  2017         3
14     2017-2020  River Heights, UT   2017  2020         3
15  2020-Present          Logan, UT   2020  2024         4

In [21]:
# Create a city column with the city value and a state column with the state value.
# Hint: use str.split() again.
# (Also, if you were to want to split using parens, you need an escape character, e.g., '\(')
df[['City', 'State']] = df['Location'].str.split(', ', expand=True)
print(df)

           Dates           Location  Start   End  Duration           City  \
0      1972-1990    Federal Way, WA   1972  1990        18    Federal Way
1      1990-1991          Provo, UT   1990  1991         1          Provo
2      1991-1993    Dresden, Saxony   1991  1993         2        Dresden
3      1993-1997          Provo, UT   1993  1997         4          Provo
4      1997-1997         Boston, MA   1997  1997         0         Boston
5      1997-1998     Twin Falls, ID   1997  1998         1     Twin Falls
6      1998-2000        La Mesa, CA   1998  2000         2        La Mesa
7      2000-2004  Mission Viejo, CA   2000  2004         4  Mission Viejo
8      2004-2005           Lehi, UT   2004  2005         1           Lehi
9      2005-2006  New York City, NY   2005  2006         1  New York City
10     2006-2009  Mission Viejo, CA   2006  2009         3  Mission Viejo
11     2009-2010        La Mesa, CA   2009  2010         1        La Mesa
12     2010-2014     Pittsburgh, PA   2010  2014         4     Pittsburgh
13     2014-2017         Norman, OK   2014  2017         3         Norman
14     2017-2020  River Heights, UT   2017  2020         3  River Heights
15  2020-Present          Logan, UT   2020  2024         4          Logan

     State
0       WA
1       UT
2   Saxony
3       UT
4       MA
5       ID
6       CA
7       CA
8       UT
9       NY
10      CA
11      CA
12      PA
13      OK
14      UT
15      UT

In [31]:
# Get rid of the Dates and Location columns from your dataframe.
df.drop(columns=['Dates', 'Location'], inplace=True)
print(df)

    Start   End  Duration           City   State
0    1972  1990        18    Federal Way      WA
1    1990  1991         1          Provo      UT
2    1991  1993         2        Dresden  Saxony
3    1993  1997         4          Provo      UT
4    1997  1997         0         Boston      MA
5    1997  1998         1     Twin Falls      ID
6    1998  2000         2        La Mesa      CA
7    2000  2004         4  Mission Viejo      CA
8    2004  2005         1           Lehi      UT
9    2005  2006         1  New York City      NY
10   2006  2009         3  Mission Viejo      CA
11   2009  2010         1        La Mesa      CA
12   2010  2014         4     Pittsburgh      PA
13   2014  2017         3         Norman      OK
14   2017  2020         3  River Heights      UT
15   2020  2024         4          Logan      UT

In [65]:
# Open the .csv as a (python-native) text object, then read the SECOND line into the 
#variable x.
with open('hometowns.csv', 'r') as file:
    lines = file.readlines()
    x = lines[1]

print(x)

"Compiled By: Brian Dunn, Date: September 13, 2022",

In [148]:
# Split the variable x into a list called y and clean up the values so there are no
# extraneous characters (spaces, quotes, commas). Output the individual elements 
# (Created By, # Date, Year). For the Date, add the appropriate "suffix" (e.g. 
# "rd" if it's the 23rd). Don't hard-code it.


y = [item.strip().strip('",:') for item in x.split(':')]


print(y)

['Compiled By', 'Brian Dunn, Date', 'September 13, 2022']

In [8]:
with open('hometowns.csv', 'r') as file:
    lines = file.readlines()
    x = lines[1]

print(x)

x = x.strip()
print(x)

y = x.split(', ')
ldig = y[1][1:]
if (ldig =='1'):
    suffix = 'st'
elif (ldig =='2')

"Compiled By: Brian Dunn, Date: September 13, 2022",

"Compiled By: Brian Dunn, Date: September 13, 2022",