In [2]:
# Import Pandas and Numpy
import pandas as pd
import numpy as np

In [3]:
# 1
df = pd.read_csv("FakeGrades.csv", index_col = 0)
print(df)

          HW1  HW2  HW3  HW4  HW5  HW6  Quiz 1  Quiz 2  Quiz 3  Quiz 4  \
Name
Phil       65   83   82   76   97  NaN      65      76      75      81
Horace     89   86   93   90   90  NaN      88      83      89      89
Lucille    63   30   62   59   59  NaN      73      86      69      58
Janine     74   73   85   67   82  NaN      77      70      70      86
Eustace    90   70   75   98   94  NaN      88      87      87      93
Mortimer   81   83   71   43   57  NaN      66      83      71      43
Gertrude   62   89   70   55   93  NaN      79      91      78      79
Koopa      86    0   91   88   91  NaN      90      90      90       0

          Quiz 5  Quiz 6  Quiz 7  Midterm  Final Exam
Name
Phil          88      85      78       79          79
Horace       100      88      90       92          97
Lucille       93      64      60       38          60
Janine        90      85      94       84          91
Eustace       95      93      89       80          98
Mortimer      60       0      77       72          52
Gertrude      87      80      68       74          83
Koopa         93      90     100       88          93

In [4]:
# 2
print(df['HW1'])

Name
Phil        65
Horace      89
Lucille     63
Janine      74
Eustace     90
Mortimer    81
Gertrude    62
Koopa       86
Name: HW1, dtype: int64

In [5]:
# 3
print(df[['HW1', 'HW2', 'HW3', 'HW4', 'HW5', 'HW6']])
print("\nAll values for HW6 are empty/NaN")

          HW1  HW2  HW3  HW4  HW5  HW6
Name
Phil       65   83   82   76   97  NaN
Horace     89   86   93   90   90  NaN
Lucille    63   30   62   59   59  NaN
Janine     74   73   85   67   82  NaN
Eustace    90   70   75   98   94  NaN
Mortimer   81   83   71   43   57  NaN
Gertrude   62   89   70   55   93  NaN
Koopa      86    0   91   88   91  NaN

All values for HW6 are empty/NaN

In [6]:
# 4
df['HW6'] = 100
print(df[['HW5', 'HW6']])

          HW5  HW6
Name
Phil       97  100
Horace     90  100
Lucille    59  100
Janine     82  100
Eustace    94  100
Mortimer   57  100
Gertrude   93  100
Koopa      91  100

In [7]:
# 5
print(df.loc['Mortimer'])

HW1            81
HW2            83
HW3            71
HW4            43
HW5            57
HW6           100
Quiz 1         66
Quiz 2         83
Quiz 3         71
Quiz 4         43
Quiz 5         60
Quiz 6          0
Quiz 7         77
Midterm        72
Final Exam     52
Name: Mortimer, dtype: int64

In [8]:
# 6
df['HWAvg'] = (df['HW1'] + df['HW2'] + df['HW3'] + df['HW4'] + df['HW5'] + df['HW6'])/6
df['QuizAvg'] = (df['Quiz 1'] + df['Quiz 2'] + df['Quiz 3'] + df['Quiz 4'] + df['Quiz 5'] + df['Quiz 6'] + df['Quiz 7'])/7
print(df[['HWAvg', 'QuizAvg', 'Midterm', 'Final Exam']])

              HWAvg    QuizAvg  Midterm  Final Exam
Name
Phil      83.833333  78.285714       79          79
Horace    91.333333  89.571429       92          97
Lucille   62.166667  71.857143       38          60
Janine    80.166667  81.714286       84          91
Eustace   87.833333  90.285714       80          98
Mortimer  72.500000  57.142857       72          52
Gertrude  78.166667  80.285714       74          83
Koopa     76.000000  79.000000       88          93

In [9]:
# 7
df['FinScore'] = (df['HWAvg']*.3) + (df['QuizAvg']*.15) + (df['Midterm']*.25) + (df['Final Exam']*.3)
print(df['FinScore'])

Name
Phil        80.342857
Horace      92.935714
Lucille     56.928571
Janine      84.607143
Eustace     89.292857
Mortimer    63.921429
Gertrude    78.892857
Koopa       84.550000
Name: FinScore, dtype: float64

In [10]:
# 8
conditions = [
    df['FinScore'] >= 90.0,
    df['FinScore'] >= 80.0,
    df['FinScore'] >= 70.0,
    df['FinScore'] >= 60.0,
    True,
]

values = [
    'A',
    'B',
    'C',
    'D',
    'F'
]

df['LtrGrade'] = np.select(conditions, values)
print(df[['FinScore', 'LtrGrade']])

           FinScore LtrGrade
Name
Phil      80.342857        B
Horace    92.935714        A
Lucille   56.928571        F
Janine    84.607143        B
Eustace   89.292857        B
Mortimer  63.921429        D
Gertrude  78.892857        C
Koopa     84.550000        B

In [23]:
# 9
df['FinScoreAlt'] = (df['HWAvg']*.1) + (df['QuizAvg']*.1) + (df['Midterm']*.1) + (df['Final Exam']*.7)

conditions_alt = [
    df['FinScoreAlt'] >= 95.0,
    df['FinScoreAlt'] >= 90.0,
    df['FinScoreAlt'] >= 80.0,
    df['FinScoreAlt'] >= 75.0,
    True,
]

values_alt = [
    'A',
    'B',
    'C',
    'D',
    'F'
]

df['LtrGradeAlt'] = np.select(conditions_alt, values_alt)

print(df[['FinScore', 'LtrGrade', 'FinScoreAlt', 'LtrGradeAlt']])
print("\nHorace, Lucille, Eustace, Gertrude, and Koopa would all be happy that their final scores went up.\nHowever, none of their letter grades changed.")

           FinScore LtrGrade  FinScoreAlt LtrGradeAlt
Name
Phil      80.342857        B    79.411905           D
Horace    92.935714        A    95.190476           A
Lucille   56.928571        F    59.202381           F
Janine    84.607143        B    88.288095           C
Eustace   89.292857        B    94.411905           B
Mortimer  63.921429        D    56.564286           F
Gertrude  78.892857        C    81.345238           C
Koopa     84.550000        B    89.400000           C

Horace, Lucille, Eustace, Gertrude, and Koopa would all be happy that their final scores went up.
However, none of their letter grades changed.