In [11]:
import pandas as pd
import psycopg2

#establishing the connection
conn = psycopg2.connect(
    database="daslemon", 
    user='bdunn02', 
    password='keeptrogging', 
    host='troglodyte.cfg0scwawqd3.us-west-2.rds.amazonaws.com', 
    port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

query = '''CREATE TABLE IF NOT EXISTS daily (
           entryid SERIAL PRIMARY KEY,
           sdate DATE NOT NULL,
           branch CHAR(1),
           regno SMALLINT,
           salestot NUMERIC(7,2),
           txct SMALLINT,
           srcfile VARCHAR(20)
        );'''

cursor.execute(query)
conn.commit()

query = '''CREATE TABLE IF NOT EXISTS ingest (
           filename VARCHAR(20) PRIMARY KEY,
           starttime TIMESTAMP,
           endtime TIMESTAMP
        );'''

cursor.execute(query)
conn.commit()

In [12]:
filenames = ['a20231011.csv','b20231011.csv','c20231011.csv','d20231011.csv',
            'a20231012.csv','e20231011.csv','b20231012.csv','c20231012.csv',
            'd20231012.csv','e20231012.csv','d20231013.csv','e20231013.csv',
            'b20231013.csv']

for f in filenames:

    df = pd.read_csv(f)
    
    branch = f[0]
    date = f[1:5] + '-' + f[5:7] + '-' + f[7:9]
    
    
    for x in df.index:
        query = '''INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('%s', '%s', %s, %s, %s)''' % (date, branch, df['register'].loc[x], 
                                                    df['totalsales'].loc[x],
                                                    df['transactions'].loc[x])
        print(query)

        cursor.execute(query)
        conn.commit()

    query = '''INSERT INTO ingest (filename) VALUES ('%s')''' % (f)
    print(query)
    
    cursor.execute(query)
    conn.commit()

INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'a', 1, 272.08, 34)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'a', 2, 247.4, 30)
INSERT INTO ingest (filename) VALUES ('a20231011.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'b', 1, 249.65, 30)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'b', 2, 232.25, 28)
INSERT INTO ingest (filename) VALUES ('b20231011.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'c', 1, 232.81, 28)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'c', 2, 260.02, 31)
INSERT INTO ingest (filename) VALUES ('c20231011.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'd', 1, 258.06, 31)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'd', 2, 217.11, 26)
INSERT INTO ingest (filename) VALUES ('d20231011.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'a', 1, 484.0, 60)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'a', 2, 499.95, 62)
INSERT INTO ingest (filename) VALUES ('a20231012.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'e', 1, 274.89, 34)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-11', 'e', 2, 224.68, 28)
INSERT INTO ingest (filename) VALUES ('e20231011.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'b', 1, 583.0, 74)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'b', 2, 584.1, 71)
INSERT INTO ingest (filename) VALUES ('b20231012.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'c', 1, 599.5, 76)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'c', 2, 410.85, 50)
INSERT INTO ingest (filename) VALUES ('c20231012.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'd', 1, 555.5, 69)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'd', 2, 514.8, 64)
INSERT INTO ingest (filename) VALUES ('d20231012.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'e', 1, 544.5, 66)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-12', 'e', 2, 519.75, 66)
INSERT INTO ingest (filename) VALUES ('e20231012.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'd', 1, 823.9, 105)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'd', 2, 741.51, 92)
INSERT INTO ingest (filename) VALUES ('d20231013.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'e', 1, 631.4, 80)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'e', 2, 651.42, 81)
INSERT INTO ingest (filename) VALUES ('e20231013.csv')
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'b', 1, 816.2, 101)
INSERT INTO daily (sdate, branch, regno, salestot, txct)
                VALUES ('2023-10-13', 'b', 2, 679.14, 86)
INSERT INTO ingest (filename) VALUES ('b20231013.csv')

In [10]:
conn.close()

In [14]:
conn = psycopg2.connect(
    database="daslemon", 
    user='bdunn02', 
    password='keeptrogging', 
    host='troglodyte.cfg0scwawqd3.us-west-2.rds.amazonaws.com', 
    port= '5432'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [15]:
query = '''SELECT * FROM daily;'''

df = pd.read_sql(query,conn)
print(df.head(15))

    entryid       sdate branch  regno  salestot  txct   iid
0         1  2023-10-11      a      1    272.08    34  None
1         2  2023-10-11      a      2    247.40    30  None
2         3  2023-10-11      b      1    249.65    30  None
3         4  2023-10-11      b      2    232.25    28  None
4         5  2023-10-11      c      1    232.81    28  None
5         6  2023-10-11      c      2    260.02    31  None
6         7  2023-10-11      d      1    258.06    31  None
7         8  2023-10-11      d      2    217.11    26  None
8         9  2023-10-12      a      1    484.00    60  None
9        10  2023-10-12      a      2    499.95    62  None
10       11  2023-10-11      e      1    274.89    34  None
11       12  2023-10-11      e      2    224.68    28  None
12       13  2023-10-12      b      1    583.00    74  None
13       14  2023-10-12      b      2    584.10    71  None
14       15  2023-10-12      c      1    599.50    76  None

C:\Users\bdunn02\AppData\Local\Temp\ipykernel_9648\2568083612.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query,conn)