In [49]:
import pandas as pd
import psycopg2
import os
from datetime import datetime

conn = psycopg2.connect(
    database='daslemon',
    user='dw_chancewiese',
    password='Spikeball2020',
    host='database-1.czsooswggscz.us-east-2.rds.amazonaws.com',
    port='5432'
)

cursor = conn.cursor()

In [37]:
# 1
query = '''
select * from daily;
'''

df_daily = pd.read_sql_query(query, conn)
print(df_daily)

print("\nThe possible values for the register column should be integers 1 and 2")

    entryid       sdate branch  regno  salestot  txct        srcfile
0         1  2023-10-11      a      1    272.08    34  a20231011.csv
1         2  2023-10-11      a      2    247.40    30  a20231011.csv
2         3  2023-10-11      b      1    249.65    30  b20231011.csv
3         4  2023-10-11      b      2    232.25    28  b20231011.csv
4         5  2023-10-11      c      1    232.81    28  c20231011.csv
5         6  2023-10-11      c      2    260.02    31  c20231011.csv
6         7  2023-10-11      d      1    258.06    31  d20231011.csv
7         8  2023-10-11      d      2    217.11    26  d20231011.csv
8         9  2023-10-11      e      1    274.89    34  e20231011.csv
9        10  2023-10-11      e      2    224.68    28  e20231011.csv
10       11  2023-10-12      a      1    484.00    60  a20231012.csv
11       12  2023-10-12      a      2    499.95    62  a20231012.csv
12       13  2023-10-12      b      1    583.00    74  b20231012.csv
13       14  2023-10-12      b      2    584.10    71  b20231012.csv
14       15  2023-10-12      c      1    599.50    76  c20231012.csv
15       16  2023-10-12      c      2    410.85    50  c20231012.csv
16       17  2023-10-12      d      1    555.50    69  d20231012.csv
17       18  2023-10-12      d      2    514.80    64  d20231012.csv
18       19  2023-10-12      e      1    544.50    66  e20231012.csv
19       20  2023-10-12      e      2    519.75    66  e20231012.csv
20       21  2023-10-13      d      1    823.90   105  d20231013.csv
21       22  2023-10-13      d      2    741.51    92  d20231013.csv
22       23  2023-10-13      e      1    631.40    80  e20231013.csv
23       24  2023-10-13      e      2    651.42    81  e20231013.csv

The possible values for the register column should be integers 1 and 2

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_55599/975886183.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_daily = pd.read_sql_query(query, conn)

In [39]:
# 2
query = '''
select * from ingest;
'''

df_ingest = pd.read_sql_query(query, conn)
print(df_ingest)

         filename starttime endtime
0   a20231011.csv      None    None
1   b20231011.csv      None    None
2   c20231011.csv      None    None
3   d20231011.csv      None    None
4   e20231011.csv      None    None
5   a20231012.csv      None    None
6   b20231012.csv      None    None
7   c20231012.csv      None    None
8   d20231012.csv      None    None
9   e20231012.csv      None    None
10  d20231013.csv      None    None
11  e20231013.csv      None    None

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_55599/1708983292.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ingest = pd.read_sql_query(query, conn)

In [27]:
# 3
path = '/Users/chancewiese/Local Documents/school/data-5330/ICA - Ingestion Process/dldaily'
files = os.listdir(path)

for file in files:
    print(file)

E20231016.csv
E20231017.csv
ica-process_chancewiese.ipynb
E20231015.csv
E20231014.csv
ica-process_chancewiese-old.ipynb
dlstart.ipynb
.DS_Store
E20231011.csv
E20231013.csv
E20231012.csv
C20231017.csv
C20231016.csv
C20231014.csv
C20231015.csv
C20231011.csv
C20231012.csv
C20231013.csv
D20231012.csv
A20231017.csv
A20231016.csv
D20231013.csv
D20231011.csv
afternooninlogan.txt
A20231014.csv
A20231015.csv
D20231014.csv
A20231011.csv
D20231015.csv
D20231017.csv
A20231012.csv
A20231013.csv
D20231016.csv
.ipynb_checkpoints
B20231013.csv
B20231012.csv
B20231011.csv
B20231015.csv
B20231014.csv
B20231016.csv
B20231017.csv

In [33]:
# 4
csv_files = []

for file in files:
    if file.endswith('.csv'):
        csv_files.append(file)

print(csv_files)

['E20231016.csv', 'E20231017.csv', 'E20231015.csv', 'E20231014.csv', 'E20231011.csv', 'E20231013.csv', 'E20231012.csv', 'C20231017.csv', 'C20231016.csv', 'C20231014.csv', 'C20231015.csv', 'C20231011.csv', 'C20231012.csv', 'C20231013.csv', 'D20231012.csv', 'A20231017.csv', 'A20231016.csv', 'D20231013.csv', 'D20231011.csv', 'A20231014.csv', 'A20231015.csv', 'D20231014.csv', 'A20231011.csv', 'D20231015.csv', 'D20231017.csv', 'A20231012.csv', 'A20231013.csv', 'D20231016.csv', 'B20231013.csv', 'B20231012.csv', 'B20231011.csv', 'B20231015.csv', 'B20231014.csv', 'B20231016.csv', 'B20231017.csv']

In [35]:
# 5
for file in csv_files:
    df = pd.read_csv(file)
    print(df)

   register  totalsales  transactions
0         1      231.00            28
1         2      222.75            27
   register  totalsales  transactions
0         1      289.57            36
1         2      211.61            27
   register  totalsales  transactions
0         1     1427.80           179
1         2      914.76           114
   register  totalsales  transactions
0         1     1201.20           147
1         2     1143.45           145
   register  totalsales  transactions
0         1      274.89            34
1         2      224.68            28
   register  totalsales  transactions
0         1      631.40            80
1         2      651.42            81
   register  totalsales  transactions
0         1      544.50            66
1         2      519.75            66
   register  totalsales  transactions
0         1      284.62            36
1         2      258.39            31
   register  totalsales  transactions
0         1      288.75            36
1         2      279.67            34
   register  totalsales  transactions
0         1     1016.40           128
1         2     1153.85           141
   register  totalsales  transactions
0         1     1113.20           140
1         2     1121.67           140
   register  totalsales  transactions
0         1      232.81            28
1         2      260.02            31
   register  totalsales  transactions
0         1      599.50            76
1         2      410.85            50
   register  totalsales  transactions
0         1      893.20           113
1         2      686.07            87
   register  totalsales  transactions
0         1       555.5            69
1         2       514.8            64
   register  totalsales  transactions
0         1      259.88            32
1         2      193.79            24
   register  totalsales  transactions
0       1.0      269.50            33
1       NaN      264.82            32
   register  totalsales  transactions
0         1      823.90           105
1         2      741.51            92
   register  totalsales  transactions
0         1      258.06            31
1         2      217.11            26
  register  totalsales  transactions
0        1     1062.60           130
1    ((*-       904.37           111
  register  totalsales  transactions
0        1     1306.80           167
1       ..     1110.78           139
   register  totalsales  transactions
0         1     1027.95           128
1         2     1122.66           140
   register  totalsales  transactions
0         1      272.08            34
1         2      247.40            30
   register  totalsales  transactions
0         1     1403.60           176
1         2     1274.13           156
   register  totalsales  transactions
0         1      207.90            25
1         2      233.89            29
   register  totalsales  transactions
0         1      484.00            60
1         2      499.95            62
   register  totalsales  transactions
0         1      885.50           110
1         2      637.56            80
   register  totalsales  transactions
0         1      313.50            39
1         2      289.57            35
   register  totalsales  transactions
0         1      816.20           101
1         2      679.14            86
   register  totalsales  transactions
0         1       583.0            74
1         2       584.1            71
   register  totalsales  transactions
0         1      249.65            30
1         2      232.25            28
   register  totalsales  transactions
0         1     1052.70           130
1         2     1241.46           151
  register  totalsales  transactions
0        1      958.65           118
1    xilfa     1195.42           146
   register  totalsales  transactions
0         1       308.0            38
1         2       247.5            30
   register  totalsales  transactions
0         1      267.30            33
1         2      233.89            28

In [43]:
# 6
for file in csv_files:
    file = file.lower()
    if file in df_ingest['filename'].values:
        print(f"{file}: True")
    else:
        print(f"{file}: False")

e20231016.csv: False
e20231017.csv: False
e20231015.csv: False
e20231014.csv: False
e20231011.csv: True
e20231013.csv: True
e20231012.csv: True
c20231017.csv: False
c20231016.csv: False
c20231014.csv: False
c20231015.csv: False
c20231011.csv: True
c20231012.csv: True
c20231013.csv: False
d20231012.csv: True
a20231017.csv: False
a20231016.csv: False
d20231013.csv: True
d20231011.csv: True
a20231014.csv: False
a20231015.csv: False
d20231014.csv: False
a20231011.csv: True
d20231015.csv: False
d20231017.csv: False
a20231012.csv: True
a20231013.csv: False
d20231016.csv: False
b20231013.csv: False
b20231012.csv: True
b20231011.csv: True
b20231015.csv: False
b20231014.csv: False
b20231016.csv: False
b20231017.csv: False

In [51]:
# 7 
for file in csv_files:
    file_lower = file.lower()
    start_time = datetime.now()
    if file_lower not in df_ingest['filename'].values:
        df = pd.read_csv(file)

In [53]:
conn.close()