In [21]:
import pymssql
import pandas as pd

try:
    # Establish connection
    conn = pymssql.connect(
        server='stairwaytoheaven.usu.edu',
        user='5330user',
        password='pipelinesnow',
        database='ironwill'
    )
    cursor = conn.cursor()
    # Query customer data
    customer_query = """
    SELECT *
    FROM customer_table;
    """
    
    # Query betting data
    betting_query = """
    SELECT *
    FROM betlog;
    """
    
    # Load data into pandas DataFrames
    customers_df = pd.read_sql(customer_query, conn)
    bets_df = pd.read_sql(betting_query, conn)
    
    # Display first few rows and info about each table
    print("\nCustomer Table Info:")
    print(customers_df.info())
    print("\nFirst few rows of customer data:")
    print(customers_df.head())
    
    print("\nBetting Log Info:")
    print(bets_df.info())
    print("\nFirst few rows of betting data:")
    print(bets_df.head())
    
    # Save to CSV files for later use if needed
    customers_df.to_csv('customer_data.csv', index=False)
    bets_df.to_csv('betting_data.csv', index=False)
    
except Exception as e:
    print(f"An error occurred: {str(e)}")
    
finally:
    if 'conn' in locals():
        conn.close()

C:\Users\Chanc\AppData\Local\Temp\ipykernel_28084\317528807.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers_df = pd.read_sql(customer_query, conn)
C:\Users\Chanc\AppData\Local\Temp\ipykernel_28084\317528807.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  bets_df = pd.read_sql(betting_query, conn)

Customer Table Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      2000 non-null   int64
 1   customer_name    2000 non-null   object
 2   customer_age     2000 non-null   int64
 3   customer_type    2000 non-null   object
 4   customer_since   2000 non-null   int64
 5   customer_income  2000 non-null   int64
 6   household_size   2000 non-null   int64
 7   mode_color       2000 non-null   object
dtypes: int64(5), object(3)
memory usage: 125.1+ KB
None

First few rows of customer data:
   customer_id      customer_name  customer_age customer_type  customer_since  \
0            1    Coraline Flores            23        online            2022
1            2      Presley Ortiz            41        online            2021
2            3        Reid Knight            40        online            2023
3            4  Clarissa Chandler            43         local            2023
4            5       Isaac Vaughn            23         phone            2023

   customer_income  household_size mode_color
0           116000               1        red
1           111000               1       blue
2            55000               1      green
3            32000               2     orange
4            46000               1       blue

Betting Log Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126047 entries, 0 to 126046
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   bet_id       126047 non-null  int64
 1   customer_id  126047 non-null  int64
 2   game_id      126047 non-null  object
 3   bet_amount   126047 non-null  int64
 4   bet_on       126047 non-null  object
dtypes: int64(3), object(2)
memory usage: 4.8+ MB
None

First few rows of betting data:
   bet_id  customer_id        game_id  bet_amount              bet_on
0       1            1  202301-KC-DET        8500       Detroit Lions
1       2            7  202301-KC-DET         350               under
2       3            8  202301-KC-DET       10000  Kansas City Chiefs
3       4           23  202301-KC-DET         200               under
4       5           24  202301-KC-DET         400                over

In [30]:
import pandas as pd
stadiums = pd.read_csv('nfl_stadiums.csv')
teams = pd.read_csv('nfl_teams.csv')
scores = pd.read_csv('spread_scores-2.csv')
print("Stadiums\n", stadiums)
print("\nTeams\n", teams)
print("\nScores\n", scores)

Stadiums
              stadium_name  stadium_location  stadium_open  stadium_close  \
0        Acrisure Stadium    Pittsburgh, PA        2001.0            NaN
1              Alamo Dome   San Antonio, TX           NaN            NaN
2       Allegiant Stadium      Paradise, NV        2020.0            NaN
3           Allianz Arena   Munich, Germany           NaN            NaN
4          Alltel Stadium  Jacksonville, FL           NaN            NaN
..                    ...               ...           ...            ...
113  War Memorial Stadium       Buffalo, NY        1960.0         1972.0
114       Wembley Stadium        London, UK        2007.0            NaN
115         Wrigley Field       Chicago, IL        1920.0         1970.0
116             Yale Bowl     New Haven, CT           NaN            NaN
117        Yankee Stadium         Bronx, NY           NaN            NaN

    stadium_type                              stadium_address  \
0        outdoor     100 Art Rooney Ave, Pittsburgh, PA 15212
1         indoor        100 Montana St, San Antonio, TX 78203
2         indoor                                          NaN
3        outdoor                                          NaN
4            NaN                                          NaN
..           ...                                          ...
113      outdoor          285 Dodge Street, Buffalo, NY 14208
114      outdoor      Wembley, London HA9 0WS, United Kingdom
115      outdoor  1060 West Addison Street, Chicago, IL 60613
116      outdoor          276 Derby Ave, West Haven, CT 06516
117      outdoor                                          NaN

    stadium_weather_station_code stadium_weather_type stadium_capacity  \
0                          15212                 cold           65,500
1                          78203                 dome            72000
2                            NaN                 dome            65000
3                            NaN             moderate           75,024
4                            NaN                  NaN              NaN
..                           ...                  ...              ...
113                        14208                 cold              NaN
114                 Heathrow, UK             moderate              NaN
115                        60613                 cold              NaN
116                         6516                 cold              NaN
117                          NaN                 cold              NaN

    stadium_surface      STATION                    NAME  LATITUDE  LONGITUDE  \
0             Grass  USW00094823  PITTSBURGH ASOS, PA US   40.4846   -80.2144
1         FieldTurf          NaN                     NaN       NaN        NaN
2             Grass          NaN                     NaN       NaN        NaN
3             Grass          NaN                     NaN       NaN        NaN
4               NaN          NaN                     NaN       NaN        NaN
..              ...          ...                     ...       ...        ...
113             NaN          NaN                     NaN       NaN        NaN
114             NaN          NaN                     NaN       NaN        NaN
115             NaN          NaN                     NaN       NaN        NaN
116           Grass          NaN                     NaN       NaN        NaN
117             NaN          NaN                     NaN       NaN        NaN

     ELEVATION
0        366.7
1          NaN
2          NaN
3          NaN
4          NaN
..         ...
113        NaN
114        NaN
115        NaN
116        NaN
117        NaN

[118 rows x 15 columns]

Teams
                    team_name team_name_short team_id team_id_pfr  \
0          Arizona Cardinals       Cardinals     ARI         CRD
1            Atlanta Falcons         Falcons     ATL         ATL
2            Baltimore Colts           Colts     IND         CLT
3           Baltimore Ravens          Ravens     BAL         RAV
4            Boston Patriots        Patriots      NE         NWE
5              Buffalo Bills           Bills     BUF         BUF
6          Carolina Panthers        Panthers     CAR         CAR
7              Chicago Bears           Bears     CHI         CHI
8         Cincinnati Bengals         Bengals     CIN         CIN
9           Cleveland Browns          Browns     CLE         CLE
10            Dallas Cowboys         Cowboys     DAL         DAL
11            Denver Broncos         Broncos     DEN         DEN
12             Detroit Lions           Lions     DET         DET
13         Green Bay Packers         Packers      GB         GNB
14            Houston Oilers          Oilers     TEN         OTI
15            Houston Texans          Texans     HOU         HTX
16        Indianapolis Colts           Colts     IND         CLT
17      Jacksonville Jaguars         Jaguars     JAX         JAX
18        Kansas City Chiefs          Chiefs      KC         KAN
19         Las Vegas Raiders         Raiders     LVR         RAI
20      Los Angeles Chargers        Chargers     LAC         SDG
21       Los Angeles Raiders         Raiders     LVR         RAI
22          Los Angeles Rams            Rams     LAR         RAM
23            Miami Dolphins        Dolphins     MIA         MIA
24         Minnesota Vikings         Vikings     MIN         MIN
25      New England Patriots        Patriots      NE         NWE
26        New Orleans Saints          Saints      NO         NOR
27           New York Giants          Giants     NYG         NYG
28             New York Jets            Jets     NYJ         NYJ
29           Oakland Raiders         Raiders     LVR         RAI
30       Philadelphia Eagles          Eagles     PHI         PHI
31         Phoenix Cardinals       Cardinals     ARI         CRD
32       Pittsburgh Steelers        Steelers     PIT         PIT
33        San Diego Chargers        Chargers     LAC         SDG
34       San Francisco 49ers           49ers      SF         SFO
35          Seattle Seahawks        Seahawks     SEA         SEA
36       St. Louis Cardinals       Cardinals     ARI         ARI
37            St. Louis Rams            Rams     LAR         RAM
38      Tampa Bay Buccaneers      Buccaneers      TB         TAM
39          Tennessee Oilers          Oilers     TEN         OTI
40          Tennessee Titans          Titans     TEN         OTI
41     Washington Commanders      Washington     WAS         WAS
42  Washington Football Team      Washington     WAS         WAS
43       Washington Redskins      Washington     WAS         WAS

   team_conference team_division team_conference_pre2002 team_division_pre2002
0              NFC      NFC West                     NFC              NFC West
1              NFC     NFC South                     NFC              NFC West
2              AFC           NaN                     AFC              AFC East
3              AFC     AFC North                     AFC           AFC Central
4              AFC           NaN                     AFC                   NaN
5              AFC      AFC East                     AFC              AFC East
6              NFC     NFC South                     NFC              NFC West
7              NFC     NFC North                     NFC           NFC Central
8              AFC     AFC North                     AFC           AFC Central
9              AFC     AFC North                     AFC           AFC Central
10             NFC      NFC East                     NFC              NFC East
11             AFC      AFC West                     AFC              AFC West
12             NFC     NFC North                     NFC           NFC Central
13             NFC     NFC North                     NFC           NFC Central
14             AFC           NaN                     AFC           AFC Central
15             AFC     AFC South                     AFC                   NaN
16             AFC     AFC South                     AFC              AFC East
17             AFC     AFC South                     AFC           AFC Central
18             AFC      AFC West                     AFC              AFC West
19             AFC           NaN                     AFC              AFC West
20             AFC      AFC West                     AFC              AFC West
21             AFC           NaN                     AFC              AFC West
22             NFC      NFC West                     NFC              NFC West
23             AFC      AFC East                     AFC              AFC East
24             NFC     NFC North                     NFC           NFC Central
25             AFC      AFC East                     AFC              AFC East
26             NFC     NFC South                     NFC              NFC West
27             NFC      NFC East                     NFC              NFC East
28             NFC      AFC East                     NFC              AFC East
29             AFC      AFC West                     AFC              AFC West
30             NFC      NFC East                     NFC              NFC East
31             NFC           NaN                     NFC              NFC East
32             AFC     AFC North                     AFC           AFC Central
33             AFC      AFC West                     AFC              AFC West
34             NFC      NFC West                     NFC              NFC West
35             NFC      NFC West                     AFC              AFC West
36             NFC           NaN                     NFC              NFC East
37             NFC           NaN                     NFC              NFC West
38             NFC     NFC South                     NFC           NFC Central
39             AFC           NaN                     AFC           AFC Central
40             AFC     AFC South                     AFC           AFC Central
41             NFC      NFC East                     NFC              NFC East
42             NFC      NFC East                     NFC              NFC East
43             NFC      NFC East                     NFC              NFC East

Scores
      schedule_date  schedule_season schedule_week  schedule_playoff  \
0         9/9/2001             2001             1             False
1         9/9/2001             2001             1             False
2         9/9/2001             2001             1             False
3         9/9/2001             2001             1             False
4         9/9/2001             2001             1             False
...            ...              ...           ...               ...
6183     1/21/2024             2023      Division              True
6184     1/21/2024             2023      Division              True
6185     1/28/2024             2023    Conference              True
6186     1/28/2024             2023    Conference              True
6187     2/11/2024             2023     Superbowl              True

                team_home  score_home  score_away             team_away  \
0        Baltimore Ravens          17           6         Chicago Bears
1           Buffalo Bills           6          24    New Orleans Saints
2      Cincinnati Bengals          23          17  New England Patriots
3        Cleveland Browns           6           9      Seattle Seahawks
4          Dallas Cowboys           6          10  Tampa Bay Buccaneers
...                   ...         ...         ...                   ...
6183        Buffalo Bills          24          27    Kansas City Chiefs
6184        Detroit Lions          31          23  Tampa Bay Buccaneers
6185     Baltimore Ravens          10          17    Kansas City Chiefs
6186  San Francisco 49ers          34          31         Detroit Lions
6187   Kansas City Chiefs          25          22   San Francisco 49ers

     team_favorite_id  spread_favorite  over_under_line               stadium  \
0                 BAL            -10.5             33.5      M&T Bank Stadium
1                  NO             -1.5             37.5  Ralph Wilson Stadium
2                PICK              0.0             36.0    Paul Brown Stadium
3                 SEA             -4.0             38.5   FirstEnergy Stadium
4                  TB             -9.0             34.0         Texas Stadium
...               ...              ...              ...                   ...
6183              BUF             -2.5             46.0      Highmark Stadium
6184              DET             -6.0             49.5            Ford Field
6185              BAL             -4.5             44.0      M&T Bank Stadium
6186               SF             -7.5             53.5        Levi's Stadium
6187               SF             -2.0             47.0     Allegiant Stadium

      stadium_neutral  weather_temperature  weather_wind_mph  \
0               False                 72.0               6.0
1               False                 80.0              12.0
2               False                 75.0              11.0
3               False                 79.0              14.0
4               False                 75.0              13.0
...               ...                  ...               ...
6183            False                 25.0              11.0
6184            False                 72.0               0.0
6185            False                 47.0               7.0
6186            False                 69.0               5.0
6187             True                 72.0               0.0

      weather_humidity weather_detail
0                 79.0            NaN
1                 58.0            NaN
2                 84.0            NaN
3                 68.0            NaN
4                 78.0            NaN
...                ...            ...
6183              67.0            NaN
6184               NaN         indoor
6185              83.0            NaN
6186              55.0            NaN
6187               NaN         indoor

[6188 rows x 17 columns]