In [28]:
# 1
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    database="pball", 
    user='dw_chancewiese',
    password='Spikeball2020',
    host='database-1.czsooswggscz.us-east-2.rds.amazonaws.com',
    port='5432'
)

cursor = conn.cursor()

tables = ['player', 'result', 'venue']
for table in tables:
    query = f'''
    SELECT 
        COLUMN_NAME,
        DATA_TYPE,
        CHARACTER_MAXIMUM_LENGTH as MaxLen,
        NUMERIC_PRECISION,
        IS_NULLABLE
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = '{table}';
    '''
    df = pd.read_sql(query, conn, index_col='column_name')
    print(f"{table}:\n", df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_70885/890234789.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, index_col='column_name')
/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_70885/890234789.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, index_col='column_name')

player:
                      data_type  maxlen  numeric_precision is_nullable
column_name
pnum                   integer     NaN               32.0          NO
level                 smallint     NaN               16.0         YES
first        character varying    80.0                NaN         YES
last         character varying    80.0                NaN          NO
result:
             data_type maxlen  numeric_precision is_nullable
column_name
resultid      integer   None                 32          NO
homeid        integer   None                 32         YES
awayid        integer   None                 32         YES
venueid       integer   None                 32         YES
hscore       smallint   None                 16         YES
ascore       smallint   None                 16         YES
venue:
                      data_type  maxlen  numeric_precision is_nullable
column_name
venueid                integer     NaN               32.0          NO
locname      character varying   100.0                NaN          NO
city         character varying   100.0                NaN         YES

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_70885/890234789.py:27: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, index_col='column_name')

In [30]:
# 2
# Create sequence
cursor.execute(''' 
CREATE SEQUENCE IF NOT EXISTS pnum_sequence;
SELECT setval('pnum_sequence', (SELECT MAX(pnum) FROM player));
''')
conn.commit()

In [36]:
# 3
df = pd.read_csv('lastweek.csv')
print(df)

print('''
Home: player, result
Hlevel: player
Score: result
Away: player, result
Alevel: player
Score.1: result
Location: venue, result
City: venue, result
''')

               Home  Hlevel  Score             Away  Alevel  Score.1  \
0     Lucas Johnson       3     11  Smanatha Parker       2        5
1   Marucs Williams       3      9    Doris Mortron       3       11
2       Noah Wilson       1      3       Ava Garcia       3       11
3    Emily Martinez       2     11      Ethna Brown       2        7
4    Scooter Murphy       1      5    Lucas Johnson       3       11
5    Emily Martinez       2     11       Ava Garcia       3        9
6         Owen Pham       3     11  Mike Stonehower       2        8
7     Phil Thompson       2     11   Emily Martinez       2        1
8       Noah Wilson       1      4  Marucs Williams       3       11
9  Uwe Kleinschmidt       2     11  Smanatha Parker       2        9

         Location         City
0  The Pickledome       Wuffel
1  The Pickledome       Wuffel
2  The Pickledome       Wuffel
3  The Pickledome       Wuffel
4      Thwackside     Smashton
5      Thwackside     Smashton
6      Thwackside     Smashton
7  Phils Basement   Plasticton
8       The Aerie  Paddle City
9       The Aerie  Paddle City

Home: player, result
Hlevel: player
Score: result
Away: player, result
Alevel: player
Score.1: result
Location: venue, result
City: venue, result

In [43]:
# 4
df = pd.read_csv('lastweek.csv')


# for x in df.index():
    
    # Home
    current_players_df = pd.read_sql("SELECT CONCAT(first, ' ', last) AS full_name from player;", conn)
    current_players_list = current_players_df['full_name'].tolist()
    print(current_players_list)
    conn.close()

TypeError: 'RangeIndex' object is not callable