In [3]:
# 1
# Chance Wiese

In [4]:
# 2
thiscsv = 'fdderby.csv'

In [5]:
# 3
import pandas as pd
import datetime

df = pd.read_csv(thiscsv, skiprows=1, index_col='Place')
print(df)

               Name (Age)     Breed Gender  Weight     Time
Place
1      Foxy Stumptail (6)  Pembroke     NM    29.0  0:50.11
2          Cowboy Dan (6)  Pembroke      M    27.0  0:50.13
3        Miss Juniper (3)  Pembroke     SF    21.5  0:52.88
4        Bork Widow (2.5)  Pembroke      F    23.0  0:55.29
5            Fruitcup (3)  Cardigan      F    23.0  0:55.48
6           Optimus (4.5)  Pembroke      M    26.0  0:59.72
7         Snarla June (4)  Pembroke     SF    29.0  0:59.92
8        Prometheus (5.5)  Pembroke      M    27.0  1:00.05
9         Sweet Dee (5.5)  Pembroke     SF    21.0  1:08.84
10      Winston Smith (5)  Cardigan      M    32.0  1:44.45
11             Crow (2.5)  Pembroke      M    28.0      DNF

In [6]:
# 4
df['Weight'] = df['Weight'].round().astype(int)
print(df)

               Name (Age)     Breed Gender  Weight     Time
Place
1      Foxy Stumptail (6)  Pembroke     NM      29  0:50.11
2          Cowboy Dan (6)  Pembroke      M      27  0:50.13
3        Miss Juniper (3)  Pembroke     SF      22  0:52.88
4        Bork Widow (2.5)  Pembroke      F      23  0:55.29
5            Fruitcup (3)  Cardigan      F      23  0:55.48
6           Optimus (4.5)  Pembroke      M      26  0:59.72
7         Snarla June (4)  Pembroke     SF      29  0:59.92
8        Prometheus (5.5)  Pembroke      M      27  1:00.05
9         Sweet Dee (5.5)  Pembroke     SF      21  1:08.84
10      Winston Smith (5)  Cardigan      M      32  1:44.45
11             Crow (2.5)  Pembroke      M      28      DNF

In [7]:
# 5
df['Breed'].replace(to_replace=['Pembroke', 'Cardigan'], value=['Pem', 'Cardi'], inplace=True)
print(df)

               Name (Age)  Breed Gender  Weight     Time
Place
1      Foxy Stumptail (6)    Pem     NM      29  0:50.11
2          Cowboy Dan (6)    Pem      M      27  0:50.13
3        Miss Juniper (3)    Pem     SF      22  0:52.88
4        Bork Widow (2.5)    Pem      F      23  0:55.29
5            Fruitcup (3)  Cardi      F      23  0:55.48
6           Optimus (4.5)    Pem      M      26  0:59.72
7         Snarla June (4)    Pem     SF      29  0:59.92
8        Prometheus (5.5)    Pem      M      27  1:00.05
9         Sweet Dee (5.5)    Pem     SF      21  1:08.84
10      Winston Smith (5)  Cardi      M      32  1:44.45
11             Crow (2.5)    Pem      M      28      DNF

C:\Users\Chanc\AppData\Local\Temp\ipykernel_4396\4043021977.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Breed'].replace(to_replace=['Pembroke', 'Cardigan'], value=['Pem', 'Cardi'], inplace=True)

In [8]:
# 6
df[['Name', 'Age']] = df['Name (Age)'].str.split('(', expand=True)

df['Age'] = df['Age'].str.replace(')', '').astype(float)

df = df.drop(columns=['Name (Age)'])

print(df)

       Breed Gender  Weight     Time             Name  Age
Place
1        Pem     NM      29  0:50.11  Foxy Stumptail   6.0
2        Pem      M      27  0:50.13      Cowboy Dan   6.0
3        Pem     SF      22  0:52.88    Miss Juniper   3.0
4        Pem      F      23  0:55.29      Bork Widow   2.5
5      Cardi      F      23  0:55.48        Fruitcup   3.0
6        Pem      M      26  0:59.72         Optimus   4.5
7        Pem     SF      29  0:59.92     Snarla June   4.0
8        Pem      M      27  1:00.05      Prometheus   5.5
9        Pem     SF      21  1:08.84       Sweet Dee   5.5
10     Cardi      M      32  1:44.45   Winston Smith   5.0
11       Pem      M      28      DNF            Crow   2.5

In [9]:
# 7
import numpy as np 

df['Time'] = df['Time'].replace('DNF', '-1:00.00')

df[['Min', 'Sec']] = df['Time'].str.split(':', expand=True)
df['Min'] = pd.to_numeric(df['Min'])
df['Sec'] = pd.to_numeric(df['Sec'])

df['Time'] = (df['Min'] * 60) + df['Sec']

df['Time'] = np.where(df['Time'] < 0, -1.00, df['Time'])

print(df)

       Breed Gender  Weight    Time             Name  Age  Min    Sec
Place
1        Pem     NM      29   50.11  Foxy Stumptail   6.0    0  50.11
2        Pem      M      27   50.13      Cowboy Dan   6.0    0  50.13
3        Pem     SF      22   52.88    Miss Juniper   3.0    0  52.88
4        Pem      F      23   55.29      Bork Widow   2.5    0  55.29
5      Cardi      F      23   55.48        Fruitcup   3.0    0  55.48
6        Pem      M      26   59.72         Optimus   4.5    0  59.72
7        Pem     SF      29   59.92     Snarla June   4.0    0  59.92
8        Pem      M      27   60.05      Prometheus   5.5    1   0.05
9        Pem     SF      21   68.84       Sweet Dee   5.5    1   8.84
10     Cardi      M      32  104.45   Winston Smith   5.0    1  44.45
11       Pem      M      28   -1.00            Crow   2.5   -1   0.00

In [10]:
# 8
df.drop(columns=['Min', 'Sec'], inplace=True)
df = df[['Name', 'Breed', 'Gender', 'Age', 'Weight', 'Time']]
print(df)

                  Name  Breed Gender  Age  Weight    Time
Place
1      Foxy Stumptail     Pem     NM  6.0      29   50.11
2          Cowboy Dan     Pem      M  6.0      27   50.13
3        Miss Juniper     Pem     SF  3.0      22   52.88
4          Bork Widow     Pem      F  2.5      23   55.29
5            Fruitcup   Cardi      F  3.0      23   55.48
6             Optimus     Pem      M  4.5      26   59.72
7         Snarla June     Pem     SF  4.0      29   59.92
8          Prometheus     Pem      M  5.5      27   60.05
9           Sweet Dee     Pem     SF  5.5      21   68.84
10      Winston Smith   Cardi      M  5.0      32  104.45
11               Crow     Pem      M  2.5      28   -1.00

In [11]:
# 9
from datetime import datetime
with open(thiscsv, 'r') as file:
    first_line = file.readline().strip()

race_info = first_line.split(', ')
race_name = race_info[0].split(': ')[1]
race_state = race_info[1]

date_str = race_info[2]
month, day = date_str.split()
day = ''.join(filter(str.isdigit, day))
current_year = datetime.today().year
race_date = datetime(current_year, datetime.strptime(month, '%B').month, int(day))
formatted_date = race_date.strftime('%Y%m%d')

weather, temperature = race_info[3].split(' and ')
race_track = race_info[4]
print(f"""
Race Info:
Race Name: {race_name}
Race State: {race_state}
Race Date: {formatted_date}
Weather: {weather}
Temperature: {temperature}
Track Condition: {race_track}
""")

output_filename = f"race-{formatted_date}.csv"
df.to_csv(output_filename, index=True)
dftest = pd.read_csv(output_filename, index_col='Place')
print(dftest)

Race Info:
Race Name: First Dam Derby
Race State: Utah
Race Date: 20240627
Weather: Sunny
Temperature: 85Ã‚Â°
Track Condition: Dry Track

                  Name  Breed Gender  Age  Weight    Time
Place
1      Foxy Stumptail     Pem     NM  6.0      29   50.11
2          Cowboy Dan     Pem      M  6.0      27   50.13
3        Miss Juniper     Pem     SF  3.0      22   52.88
4          Bork Widow     Pem      F  2.5      23   55.29
5            Fruitcup   Cardi      F  3.0      23   55.48
6             Optimus     Pem      M  4.5      26   59.72
7         Snarla June     Pem     SF  4.0      29   59.92
8          Prometheus     Pem      M  5.5      27   60.05
9           Sweet Dee     Pem     SF  5.5      21   68.84
10      Winston Smith   Cardi      M  5.0      32  104.45
11               Crow     Pem      M  2.5      28   -1.00

In [12]:
# 10
print("""
Three additional steps to fit the data
1. Assign IDs to each of the Corgis in the races.
2. Create more columns such as 'Breakfast' for the Corgi table.
3. Add the race information to the output to be included in the tables. 
""")

Three additional steps to fit the data
1. Assign IDs to each of the Corgis in the races.
2. Create more columns such as 'Breakfast' for the Corgi table.
3. Add the race information to the output to be included in the tables.