In [2]:
# 1
# Chance Wiese

In [3]:
# 2
import pandas as pd
df = pd.read_csv('ecto-oldmain.csv', index_col = 0)
print(df)

        Sightings  Wails  Jump-Scares  AvgTemp  Ectograph Security
Date
15-Oct        1.0      4            9     43.0       2.51        O
16-Oct        6.0     10           14     38.0       3.54        O
17-Oct        3.0      3            9     48.0       2.61        H
18-Oct        NaN      6           12     40.0       3.42        H
19-Oct        2.0     13           14     46.0       3.99        H
20-Oct        8.0     11           18     38.0       4.15        O
21-Oct        9.0      4           15     36.0       3.60        O
22-Oct        6.0     15           15     28.0       4.29        O
23-Oct        8.0     17           15     57.0       4.26        O
24-Oct        9.0      7           17     36.0       3.68        H
25-Oct        NaN     12           13     71.0       2.48        H
26-Oct        2.0      8            9     37.0       2.23        H
27-Oct        5.0     18           13      NaN       4.11        O
28-Oct        2.0     20            8     29.0       3.80        O
29-Oct        6.0     12            9     23.0       3.15        S
30-Oct        9.0     14           43     47.0       5.10        O
31-Oct        6.0     13           54     37.0       3.46        H
1-Nov         NaN     16           55     26.0       2.66        H
2-Nov         3.0     19           28      NaN       3.31        S
3-Nov         3.0      7           10     50.0       2.90        H
4-Nov         NaN     15            6     40.0       2.36        O

In [4]:
# 3
dfnew = df[['Security', 'Wails', 'Jump-Scares']]
print(dfnew)

       Security  Wails  Jump-Scares
Date
15-Oct        O      4            9
16-Oct        O     10           14
17-Oct        H      3            9
18-Oct        H      6           12
19-Oct        H     13           14
20-Oct        O     11           18
21-Oct        O      4           15
22-Oct        O     15           15
23-Oct        O     17           15
24-Oct        H      7           17
25-Oct        H     12           13
26-Oct        H      8            9
27-Oct        O     18           13
28-Oct        O     20            8
29-Oct        S     12            9
30-Oct        O     14           43
31-Oct        H     13           54
1-Nov         H     16           55
2-Nov         S     19           28
3-Nov         H      7           10
4-Nov         O     15            6

In [5]:
# 4
print(df[['Jump-Scares', 'AvgTemp']])

        Jump-Scares  AvgTemp
Date
15-Oct            9     43.0
16-Oct           14     38.0
17-Oct            9     48.0
18-Oct           12     40.0
19-Oct           14     46.0
20-Oct           18     38.0
21-Oct           15     36.0
22-Oct           15     28.0
23-Oct           15     57.0
24-Oct           17     36.0
25-Oct           13     71.0
26-Oct            9     37.0
27-Oct           13      NaN
28-Oct            8     29.0
29-Oct            9     23.0
30-Oct           43     47.0
31-Oct           54     37.0
1-Nov            55     26.0
2-Nov            28      NaN
3-Nov            10     50.0
4-Nov             6     40.0

In [6]:
# 5
print(df.loc['17-Oct'])

Sightings       3.0
Wails             3
Jump-Scares       9
AvgTemp        48.0
Ectograph      2.61
Security          H
Name: 17-Oct, dtype: object

In [7]:
# 6
df.rename(columns={'Wails':'Shriek', 'Security':'Guard'}, inplace=True)
print(df)

        Sightings  Shriek  Jump-Scares  AvgTemp  Ectograph Guard
Date
15-Oct        1.0       4            9     43.0       2.51     O
16-Oct        6.0      10           14     38.0       3.54     O
17-Oct        3.0       3            9     48.0       2.61     H
18-Oct        NaN       6           12     40.0       3.42     H
19-Oct        2.0      13           14     46.0       3.99     H
20-Oct        8.0      11           18     38.0       4.15     O
21-Oct        9.0       4           15     36.0       3.60     O
22-Oct        6.0      15           15     28.0       4.29     O
23-Oct        8.0      17           15     57.0       4.26     O
24-Oct        9.0       7           17     36.0       3.68     H
25-Oct        NaN      12           13     71.0       2.48     H
26-Oct        2.0       8            9     37.0       2.23     H
27-Oct        5.0      18           13      NaN       4.11     O
28-Oct        2.0      20            8     29.0       3.80     O
29-Oct        6.0      12            9     23.0       3.15     S
30-Oct        9.0      14           43     47.0       5.10     O
31-Oct        6.0      13           54     37.0       3.46     H
1-Nov         NaN      16           55     26.0       2.66     H
2-Nov         3.0      19           28      NaN       3.31     S
3-Nov         3.0       7           10     50.0       2.90     H
4-Nov         NaN      15            6     40.0       2.36     O

In [8]:
# 7
df['Guard'].replace(to_replace=['H', 'O', 'S'],
                    value=['Hildegard', 'Oscar', 'Susie'],
                    inplace=True)
print(df)

        Sightings  Shriek  Jump-Scares  AvgTemp  Ectograph      Guard
Date
15-Oct        1.0       4            9     43.0       2.51      Oscar
16-Oct        6.0      10           14     38.0       3.54      Oscar
17-Oct        3.0       3            9     48.0       2.61  Hildegard
18-Oct        NaN       6           12     40.0       3.42  Hildegard
19-Oct        2.0      13           14     46.0       3.99  Hildegard
20-Oct        8.0      11           18     38.0       4.15      Oscar
21-Oct        9.0       4           15     36.0       3.60      Oscar
22-Oct        6.0      15           15     28.0       4.29      Oscar
23-Oct        8.0      17           15     57.0       4.26      Oscar
24-Oct        9.0       7           17     36.0       3.68  Hildegard
25-Oct        NaN      12           13     71.0       2.48  Hildegard
26-Oct        2.0       8            9     37.0       2.23  Hildegard
27-Oct        5.0      18           13      NaN       4.11      Oscar
28-Oct        2.0      20            8     29.0       3.80      Oscar
29-Oct        6.0      12            9     23.0       3.15      Susie
30-Oct        9.0      14           43     47.0       5.10      Oscar
31-Oct        6.0      13           54     37.0       3.46  Hildegard
1-Nov         NaN      16           55     26.0       2.66  Hildegard
2-Nov         3.0      19           28      NaN       3.31      Susie
3-Nov         3.0       7           10     50.0       2.90  Hildegard
4-Nov         NaN      15            6     40.0       2.36      Oscar

C:\Users\Chanc\AppData\Local\Temp\ipykernel_35252\4048745882.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Guard'].replace(to_replace=['H', 'O', 'S'],

In [9]:
# 8
import numpy as np
df['AvgTemp'].replace(to_replace=np.nan, value=32, inplace=True)
print(df)

        Sightings  Shriek  Jump-Scares  AvgTemp  Ectograph      Guard
Date
15-Oct        1.0       4            9     43.0       2.51      Oscar
16-Oct        6.0      10           14     38.0       3.54      Oscar
17-Oct        3.0       3            9     48.0       2.61  Hildegard
18-Oct        NaN       6           12     40.0       3.42  Hildegard
19-Oct        2.0      13           14     46.0       3.99  Hildegard
20-Oct        8.0      11           18     38.0       4.15      Oscar
21-Oct        9.0       4           15     36.0       3.60      Oscar
22-Oct        6.0      15           15     28.0       4.29      Oscar
23-Oct        8.0      17           15     57.0       4.26      Oscar
24-Oct        9.0       7           17     36.0       3.68  Hildegard
25-Oct        NaN      12           13     71.0       2.48  Hildegard
26-Oct        2.0       8            9     37.0       2.23  Hildegard
27-Oct        5.0      18           13     32.0       4.11      Oscar
28-Oct        2.0      20            8     29.0       3.80      Oscar
29-Oct        6.0      12            9     23.0       3.15      Susie
30-Oct        9.0      14           43     47.0       5.10      Oscar
31-Oct        6.0      13           54     37.0       3.46  Hildegard
1-Nov         NaN      16           55     26.0       2.66  Hildegard
2-Nov         3.0      19           28     32.0       3.31      Susie
3-Nov         3.0       7           10     50.0       2.90  Hildegard
4-Nov         NaN      15            6     40.0       2.36      Oscar

C:\Users\Chanc\AppData\Local\Temp\ipykernel_35252\1812231154.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AvgTemp'].replace(to_replace=np.nan, value=32, inplace=True)

In [10]:
# 9
df2 = pd.read_csv('ecto-rainfall.csv', index_col=0)
print(df2)

df2['Precip'].replace(to_replace=np.nan, value=0, inplace=True)
dffull = pd.concat([df,df2], axis=1)

print()
print(dffull)

        Precip
Date
15-Oct     NaN
16-Oct     1.0
17-Oct    10.0
18-Oct     2.0
19-Oct     NaN
20-Oct     NaN
21-Oct     3.0
22-Oct     NaN
23-Oct     NaN
24-Oct     5.0
25-Oct     8.0
26-Oct    12.0
27-Oct     NaN
28-Oct     NaN
29-Oct     1.0
30-Oct     NaN
31-Oct     2.0
1-Nov      1.0
2-Nov      NaN
3-Nov      NaN
4-Nov      3.0

        Sightings  Shriek  Jump-Scares  AvgTemp  Ectograph      Guard  Precip
Date
15-Oct        1.0       4            9     43.0       2.51      Oscar     0.0
16-Oct        6.0      10           14     38.0       3.54      Oscar     1.0
17-Oct        3.0       3            9     48.0       2.61  Hildegard    10.0
18-Oct        NaN       6           12     40.0       3.42  Hildegard     2.0
19-Oct        2.0      13           14     46.0       3.99  Hildegard     0.0
20-Oct        8.0      11           18     38.0       4.15      Oscar     0.0
21-Oct        9.0       4           15     36.0       3.60      Oscar     3.0
22-Oct        6.0      15           15     28.0       4.29      Oscar     0.0
23-Oct        8.0      17           15     57.0       4.26      Oscar     0.0
24-Oct        9.0       7           17     36.0       3.68  Hildegard     5.0
25-Oct        NaN      12           13     71.0       2.48  Hildegard     8.0
26-Oct        2.0       8            9     37.0       2.23  Hildegard    12.0
27-Oct        5.0      18           13     32.0       4.11      Oscar     0.0
28-Oct        2.0      20            8     29.0       3.80      Oscar     0.0
29-Oct        6.0      12            9     23.0       3.15      Susie     1.0
30-Oct        9.0      14           43     47.0       5.10      Oscar     0.0
31-Oct        6.0      13           54     37.0       3.46  Hildegard     2.0
1-Nov         NaN      16           55     26.0       2.66  Hildegard     1.0
2-Nov         3.0      19           28     32.0       3.31      Susie     0.0
3-Nov         3.0       7           10     50.0       2.90  Hildegard     0.0
4-Nov         NaN      15            6     40.0       2.36      Oscar     3.0

C:\Users\Chanc\AppData\Local\Temp\ipykernel_35252\2687588401.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Precip'].replace(to_replace=np.nan, value=0, inplace=True)

In [11]:
# 10
print(f'The average Ectograph value is {dffull['Ectograph'].agg('mean'):.3f}.')

The average Ectograph value is 3.410.

In [12]:
# 11
dfx = dffull[['Guard', 'Shriek']]
print(dfx.groupby('Guard').describe())
print('\nHildegard is associated with the fewest Shrieks')

          Shriek
           count       mean       std   min    25%   50%    75%   max
Guard
Hildegard    9.0   9.444444  4.216370   3.0   7.00   8.0  13.00  16.0
Oscar       10.0  12.800000  5.513620   4.0  10.25  14.5  16.50  20.0
Susie        2.0  15.500000  4.949747  12.0  13.75  15.5  17.25  19.0

Hildegard is associated with the fewest Shrieks