In [1]:
# Chance Wiese

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/chancewiese/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
# 1
import pandas as pd
import psycopg2

conn = psycopg2.connect(
    database='corgirace',
    user='dw_chancewiese',
    password='Spikeball2020',
    host='database-1.czsooswggscz.us-east-2.rds.amazonaws.com',
    port='5432'
)

cursor = conn.cursor()

query = '''
SELECT *
FROM corgi;
'''

df = pd.read_sql(query, conn, index_col='corgid')
print(df)

                         corgname  breed gender  weight  age
corgid
1                   Snappy Ginger    Pem      F      21  3.5
2                   Golden Graham    Pem      M      30  2.0
3                          Kraken    Pem     SF      22  3.5
4                     Snarla June    Pem     SF      29  3.5
5                 Smiley Shortdog  Cardi     NM      33  4.5
6                         Stanley    Pem      M      33  3.5
7                Holden Corgfield    Pem      M      25  4.0
8           Penny the Shedmonster    Pem      F      20  5.0
9       Baroness von Fluffyshanks    Pem     SF      22  4.0
10                     Prometheus    Pem      M      27  5.0
11                 Foxy Stumptail    Pem     NM      29  5.5
12                      Drederick    Pem      M      29  4.5
13              Lady Wigglebottom    Pem      F      28  4.0
14                       Jedediah    Pem     NM      30  4.0
15                   Miss Juniper    Pem     SF      21  2.5
16            Mary Queen of Corgs    Pem     SF      23  4.5
17                        Oatmeal    Pem     SF      26  5.5
18                     Cowboy Dan    Pem      M      26  5.5
19                    Gareth Bale    Pem     NM      31  5.0
20                  Winston Smith  Cardi      M      32  4.5
21                          Bucco    Pem      M      32  4.0
22                       Fruitcup  Cardi      F      23  2.5
23                      Sweet Dee    Pem     SF      20  5.0
24                      Stonewall    Pem     NM      29  2.5
25                 Hywel the Woof    Pem      M      28  2.0

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2258781168.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, index_col='corgid')

In [4]:
# 2
query = '''
select 
    racename, 
    racestate, 
    date_part('month', racedate) as "racemonth", 
    racetemp,
    racetime
from race r
join outcome o on r.raceid = o.raceid
join corgi c on o.corgid = c.corgid
where corgname = 'Snarla June';
'''

df = pd.read_sql(query, conn)
print(df)

corr = df[['racemonth', 'racetemp', 'racetime']].corr()
print("\nCorrelation Matrix\n", corr)

print('''
Snarla's race times are fairly positively correlated to temperature (0.589349), 
meaning as the temperature goes up, so do Snarla's race times. Snarla's race times
are negatively correlated to the month (-0.580836). As themonth increases, getting 
later in the year, Snarla's race times decrease, meaning she's faster later in the 
year. Snarla performs better in cooler temperatures and later in the year, 
though the time of year is more strongly correlated.
''')

                   racename racestate  racemonth  racetemp  racetime
0            Del Mar Trophy        CA        6.0        80     64.95
1            Memorial Derby        WA        6.0        77     56.27
2               Dixie Derby        UT        6.0        95     69.77
3       Billings Grand Prix        MT        8.0        95     65.80
4                 Idaho Cup        ID        8.0        93     62.79
5           Bachelor Stakes        OR        8.0        87     59.25
6  Golden Gate Invitational        CA        9.0        81     40.10

Correlation Matrix
            racemonth  racetemp  racetime
racemonth   1.000000  0.196781 -0.580836
racetemp    0.196781  1.000000  0.589349
racetime   -0.580836  0.589349  1.000000

Snarla's race times are fairly positively correlated to temperature (0.589349),
meaning as the temperature goes up, so do Snarla's race times. Snarla's race times
are negatively correlated to the month (-0.580836). As themonth increases, getting
later in the year, Snarla's race times decrease, meaning she's faster later in the
year. Snarla performs better in cooler temperatures and later in the year,
though the time of year is more strongly correlated.

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2594237687.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [5]:
# 3
query = '''
select 
    corgname, 
    count(o.corgid) as "racecount", 
    round(avg(racetime), 1) as "avg_racetime"
from outcome o
join corgi c on o.corgid = c.corgid
group by corgname
having avg(racetime) < 57
order by avg(racetime);
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2905569960.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    corgname  racecount  avg_racetime
0                      Bucco          4          48.6
1                   Fruitcup          5          52.7
2              Golden Graham          4          54.2
3             Hywel the Woof          6          54.8
4  Baroness von Fluffyshanks          4          55.2
5                Gareth Bale          4          55.3
6                  Stonewall          6          55.9
7              Winston Smith          4          56.0
8        Mary Queen of Corgs          4          56.9

In [6]:
# 4
query = '''
select 
    racename, 
    racedate, 
    count(corgid) as "corgi_count", 
    min(racetime) as "best", 
    max(racetime) as "worst"
from outcome o
join race r on o.raceid = r.raceid
group by racedate, racename
order by racedate;
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2027215934.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    racename    racedate  corgi_count   best  worst
0             Del Mar Trophy  2018-06-03           12  41.26  71.46
1             Memorial Derby  2018-06-17           10  44.89  71.54
2                Dixie Derby  2018-06-24           12  40.74  72.79
3               Missions Cup  2018-06-30           13  40.73  71.80
4            Borderside Dash  2018-07-21           11  42.75  74.28
5               Teton Runoff  2018-07-29           14  48.33  73.49
6              Emerald Chase  2018-08-05           12  42.99  72.26
7        Billings Grand Prix  2018-08-12           11  42.59  74.93
8                  Idaho Cup  2018-08-19           13  44.00  73.36
9            Bachelor Stakes  2018-08-26           12  40.07  73.30
10  Golden Gate Invitational  2018-09-23           14  40.10  74.54

In [7]:
# 5
query = '''
select 
    racename, 
    racedate, 
    count(corgid) as "corgi_count", 
    (max(racetime) - min(racetime)) as "time_difference"
from outcome o
join race r on o.raceid = r.raceid
group by racedate, racename
order by racedate desc
limit 3;
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/3985095913.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                   racename    racedate  corgi_count  time_difference
0  Golden Gate Invitational  2018-09-23           14            34.44
1           Bachelor Stakes  2018-08-26           12            33.23
2                 Idaho Cup  2018-08-19           13            29.36

In [8]:
# 6
query = '''
with stanley as (
select r.raceid, racetime
from outcome o
join race r on o.raceid = r.raceid
where corgid = (select corgid from corgi where corgname = 'Stanley')
)
select 
    r.racename, 
    r.racedate, 
    r.racetemp, 
    s.racetime as "stanley_racetime"
from race r
left join stanley s on r.raceid = s.raceid
order by r.racedate; 
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/1289946021.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    racename    racedate  racetemp  stanley_racetime
0             Del Mar Trophy  2018-06-03        80             66.97
1             Memorial Derby  2018-06-17        77               NaN
2                Dixie Derby  2018-06-24        95             44.68
3               Missions Cup  2018-06-30        73             49.93
4            Borderside Dash  2018-07-21        74             74.28
5               Teton Runoff  2018-07-29        77               NaN
6              Emerald Chase  2018-08-05        89             62.83
7        Billings Grand Prix  2018-08-12        95               NaN
8                  Idaho Cup  2018-08-19        93               NaN
9            Bachelor Stakes  2018-08-26        87               NaN
10  Golden Gate Invitational  2018-09-23        81             58.02

In [9]:
# 7
query = '''
with avg_race as (
select
	raceid,
	avg(racetime) as "avg_race"
from outcome
group by raceid 
), 
race_stats as (
select 
    r.raceid,
    racename,
    avg_race,
    count(corgid) as "corgi_count",
    count(case when racetime < (avg_race - 5) then 1 end) as "fast_corgis"
from race r
join outcome o on r.raceid = o.raceid 
join avg_race ar on r.raceid = ar.raceid
group by r.raceid, racename, avg_race
)
select 
    racename, 
    avg_race,
    fast_corgis,
    CONCAT(round((fast_corgis::float / corgi_count * 100)::numeric, 1)::text, '%') as "percent_faster"
from race_stats
order by percent_faster desc;
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2520541285.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    racename   avg_race  fast_corgis percent_faster
0               Missions Cup  57.786923            5          38.5%
1        Billings Grand Prix  58.852727            4          36.4%
2   Golden Gate Invitational  58.482143            5          35.7%
3               Teton Runoff  61.490714            5          35.7%
4             Del Mar Trophy  57.383333            4          33.3%
5              Emerald Chase  58.328333            4          33.3%
6                Dixie Derby  59.446667            4          33.3%
7                  Idaho Cup  57.919231            4          30.8%
8             Memorial Derby  60.780000            3          30.0%
9            Borderside Dash  58.186364            3          27.3%
10           Bachelor Stakes  59.707500            3          25.0%

In [10]:
# 8
query = '''
select 
    racename, 
    racedate,
    count(case when gender in ('M', 'NM') then 1 end) as "Male Dogs",
    count(case when gender in ('F', 'SF') then 1 end) as "Female Dogs"
from outcome o
join race r on o.raceid = r.raceid
join corgi c on o.corgid = c.corgid 
group by racename, racedate
order by racedate;
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/3103598840.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    racename  Male Dogs  Female Dogs
0        Billings Grand Prix          4            7
1               Teton Runoff          8            6
2             Del Mar Trophy          8            4
3                  Idaho Cup          8            5
4               Missions Cup          8            5
5                Dixie Derby          5            7
6             Memorial Derby          4            6
7            Borderside Dash          8            3
8              Emerald Chase          9            3
9   Golden Gate Invitational          7            7
10           Bachelor Stakes          6            6

In [11]:
# 9
query = '''
with fastest_times as (
select o.raceid, racename, racedate, min(racetime) as "fastest_time"
from outcome o
join race r on o.raceid = r.raceid
group by o.raceid, racename, racedate
)
select ft.racename, ft.racedate, c.corgname as "winning_corgi", fastest_time as "winning_time"
from outcome o
join fastest_times ft on o.raceid = ft.raceid
join corgi c on o.corgid = c.corgid
where o.racetime = ft.fastest_time
order by racedate;
'''

df = pd.read_sql(query, conn)
print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/61234902.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

                    racename    racedate              winning_corgi  \
0             Del Mar Trophy  2018-06-03             Hywel the Woof
1             Memorial Derby  2018-06-17                      Bucco
2                Dixie Derby  2018-06-24  Baroness von Fluffyshanks
3               Missions Cup  2018-06-30                      Bucco
4            Borderside Dash  2018-07-21                Gareth Bale
5               Teton Runoff  2018-07-29                    Oatmeal
6              Emerald Chase  2018-08-05                   Fruitcup
7        Billings Grand Prix  2018-08-12                  Stonewall
8                  Idaho Cup  2018-08-19  Baroness von Fluffyshanks
9            Bachelor Stakes  2018-08-26                   Jedediah
10  Golden Gate Invitational  2018-09-23                Snarla June

    winning_time
0          41.26
1          44.89
2          40.74
3          40.73
4          42.75
5          48.33
6          42.99
7          42.59
8          44.00
9          40.07
10         40.10

In [12]:
# 10
query = "select corgid from corgi;"
valid_ids = pd.read_sql(query, conn)['corgid'].tolist()
valid_ids

while True:
    corgid = input("Enter a corgi ID or 'q' to quit: ")
    if corgid.lower() == 'q':
        break

    try:
        corgid = int(corgid)
        if corgid not in valid_ids:
            print("Invalid corgi ID. Please try again.")
            continue
    except ValueError:
        print("Invalid input. Please enter a number or 'q' to quit.")
        continue
    
    query = f"SELECT corgname FROM corgi WHERE corgid = {corgid};"
    corgname = pd.read_sql(query, conn)['corgname'].iloc[0]
    print(f"\nResults for: {corgname}")
    
    query = f'''
    with search as (
    select r.raceid, racetime
    from outcome o
    join race r on o.raceid = r.raceid
    where corgid = {corgid}
    ),
    corgicounts as (
    select 
        raceid, 
        count(corgid) as "corgicount"
    from outcome o
    group by raceid
    ),
    positions as (
    select
        raceid,
        corgid,
        rank() over (partition by raceid order by racetime) as "position"
    from outcome
    )
    select 
        r.racename, 
        r.racedate,
        c.corgicount,
        coalesce(s.racetime::text, 'DNC') as "racetime",
        coalesce(p.position::text, 'DNC') as "position"
    from race r
    join corgicounts c on r.raceid = c.raceid
    left join search s on r.raceid = s.raceid
    LEFT JOIN positions p ON r.raceid = p.raceid and corgid = {corgid}
    order by r.racedate; 
    '''

    df = pd.read_sql(query, conn)
    print(df)

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2497830535.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  valid_ids = pd.read_sql(query, conn)['corgid'].tolist()

Enter a corgi ID or 'q' to quit:  h

Invalid input. Please enter a number or 'q' to quit.

Enter a corgi ID or 'q' to quit:  50

Invalid corgi ID. Please try again.

Enter a corgi ID or 'q' to quit:  5

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2497830535.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  corgname = pd.read_sql(query, conn)['corgname'].iloc[0]
/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2497830535.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Results for: Smiley Shortdog
                    racename    racedate  corgicount racetime position
0             Del Mar Trophy  2018-06-03          12      DNC      DNC
1             Memorial Derby  2018-06-17          10    71.54       10
2                Dixie Derby  2018-06-24          12      DNC      DNC
3               Missions Cup  2018-06-30          13      DNC      DNC
4            Borderside Dash  2018-07-21          11    53.32        4
5               Teton Runoff  2018-07-29          14      DNC      DNC
6              Emerald Chase  2018-08-05          12    59.21        6
7        Billings Grand Prix  2018-08-12          11    64.18        6
8                  Idaho Cup  2018-08-19          13    63.79       10
9            Bachelor Stakes  2018-08-26          12    49.41        3
10  Golden Gate Invitational  2018-09-23          14      DNC      DNC

Enter a corgi ID or 'q' to quit:  7

/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2497830535.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  corgname = pd.read_sql(query, conn)['corgname'].iloc[0]
/var/folders/96/kzlzzx2556jf68c57bc_gc180000gn/T/ipykernel_65295/2497830535.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

Results for: Holden Corgfield
                    racename    racedate  corgicount racetime position
0             Del Mar Trophy  2018-06-03          12      DNC      DNC
1             Memorial Derby  2018-06-17          10    70.57        9
2                Dixie Derby  2018-06-24          12    72.64       11
3               Missions Cup  2018-06-30          13      DNC      DNC
4            Borderside Dash  2018-07-21          11    48.71        3
5               Teton Runoff  2018-07-29          14      DNC      DNC
6              Emerald Chase  2018-08-05          12    50.13        3
7        Billings Grand Prix  2018-08-12          11      DNC      DNC
8                  Idaho Cup  2018-08-19          13    48.86        4
9            Bachelor Stakes  2018-08-26          12      DNC      DNC
10  Golden Gate Invitational  2018-09-23          14    57.84        6

Enter a corgi ID or 'q' to quit:  q

In [13]:
conn.close()